body#tinymce.wp-editor {
  max-width: 55em;
  border-right: 1px dotted #eee; }
  body#tinymce.wp-editor html {
    font-size: 14px;
    font-size: calc( 14px + 0.35vw); }
  body#tinymce.wp-editor body {
    font-family: "Open Sans", Verdana, Geneva, sans-serif;
    font-weight: 300;
    color: #4d4d4d;
    line-height: 1.5;
    font-display: auto; }
  body#tinymce.wp-editor p, body#tinymce.wp-editor li, body#tinymce.wp-editor table, body#tinymce.wp-editor li, body#tinymce.wp-editor ol, body#tinymce.wp-editor ul {
    font-family: "Open Sans", Verdana, Geneva, sans-serif;
    font-weight: 300;
    color: #4d4d4d;
    line-height: 1.5; }
  body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6 {
    font-family: "Nunito", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    line-height: 1.1;
    font-weight: 600;
    color: #333333; }
  body#tinymce.wp-editor #breadcrumbs {
    padding: .618em;
    font-size: .75em;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 1; }
  body#tinymce.wp-editor .dark .light,
  body#tinymce.wp-editor .light {
    color: rgba(255, 255, 255, 0.9); }
    body#tinymce.wp-editor .dark .light td, body#tinymce.wp-editor .dark .light p, body#tinymce.wp-editor .dark .light li,
    body#tinymce.wp-editor .light td,
    body#tinymce.wp-editor .light p,
    body#tinymce.wp-editor .light li {
      color: rgba(255, 255, 255, 0.8); }
    body#tinymce.wp-editor .dark .light th, body#tinymce.wp-editor .dark .light blockquote, body#tinymce.wp-editor .dark .light h1, body#tinymce.wp-editor .dark .light h2, body#tinymce.wp-editor .dark .light h3, body#tinymce.wp-editor .dark .light h4, body#tinymce.wp-editor .dark .light h5, body#tinymce.wp-editor .dark .light h6,
    body#tinymce.wp-editor .light th,
    body#tinymce.wp-editor .light blockquote,
    body#tinymce.wp-editor .light h1,
    body#tinymce.wp-editor .light h2,
    body#tinymce.wp-editor .light h3,
    body#tinymce.wp-editor .light h4,
    body#tinymce.wp-editor .light h5,
    body#tinymce.wp-editor .light h6 {
      color: white; }
    body#tinymce.wp-editor .dark .light a,
    body#tinymce.wp-editor .light a {
      color: #c4e4b9; }
      body#tinymce.wp-editor .dark .light a:hover,
      body#tinymce.wp-editor .light a:hover {
        color: #e3f2dd; }
  body#tinymce.wp-editor #breadcrumbs.light {
    color: #b3b3b3; }
    body#tinymce.wp-editor #breadcrumbs.light a {
      color: #c4e4b9; }
      body#tinymce.wp-editor #breadcrumbs.light a:hover {
        color: #e3f2dd; }
  body#tinymce.wp-editor .light .dark,
  body#tinymce.wp-editor .dark {
    color: rgba(0, 0, 0, 0.8); }
    body#tinymce.wp-editor .light .dark p, body#tinymce.wp-editor .light .dark li,
    body#tinymce.wp-editor .dark p,
    body#tinymce.wp-editor .dark li {
      color: rgba(0, 0, 0, 0.7); }
    body#tinymce.wp-editor .light .dark blockquote, body#tinymce.wp-editor .light .dark h1, body#tinymce.wp-editor .light .dark h2, body#tinymce.wp-editor .light .dark h3, body#tinymce.wp-editor .light .dark h4, body#tinymce.wp-editor .light .dark h5, body#tinymce.wp-editor .light .dark h6,
    body#tinymce.wp-editor .dark blockquote,
    body#tinymce.wp-editor .dark h1,
    body#tinymce.wp-editor .dark h2,
    body#tinymce.wp-editor .dark h3,
    body#tinymce.wp-editor .dark h4,
    body#tinymce.wp-editor .dark h5,
    body#tinymce.wp-editor .dark h6 {
      color: rgba(0, 0, 0, 0.8); }
    body#tinymce.wp-editor .light .dark a,
    body#tinymce.wp-editor .dark a {
      color: #28491c; }
      body#tinymce.wp-editor .light .dark a:hover,
      body#tinymce.wp-editor .dark a:hover {
        color: #14240e; }
  body#tinymce.wp-editor #breadcrumbs.dark {
    color: #4d4d4d; }
    body#tinymce.wp-editor #breadcrumbs.dark a {
      color: #28491c; }
      body#tinymce.wp-editor #breadcrumbs.dark a:hover {
        color: #14240e; }
  body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6, body#tinymce.wp-editor li, body#tinymce.wp-editor ol, body#tinymce.wp-editor p, body#tinymce.wp-editor ul {
    padding: .8em 0 .2em;
    margin: 0; }
    body#tinymce.wp-editor h1:first-child, body#tinymce.wp-editor h2:first-child, body#tinymce.wp-editor h3:first-child, body#tinymce.wp-editor h4:first-child, body#tinymce.wp-editor h5:first-child, body#tinymce.wp-editor h6:first-child, body#tinymce.wp-editor li:first-child, body#tinymce.wp-editor ol:first-child, body#tinymce.wp-editor p:first-child, body#tinymce.wp-editor ul:first-child {
      padding-top: 0; }
    body#tinymce.wp-editor h1:last-child, body#tinymce.wp-editor h2:last-child, body#tinymce.wp-editor h3:last-child, body#tinymce.wp-editor h4:last-child, body#tinymce.wp-editor h5:last-child, body#tinymce.wp-editor h6:last-child, body#tinymce.wp-editor li:last-child, body#tinymce.wp-editor ol:last-child, body#tinymce.wp-editor p:last-child, body#tinymce.wp-editor ul:last-child {
      padding-bottom: 0; }
  body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6 {
    padding: 1em 0 .2em; }
  body#tinymce.wp-editor li {
    padding: 0 0 0.618em; }
  body#tinymce.wp-editor h1 {
    font-size: 1.29616rem; }
    @media screen and (min-width: 37.5rem) {
      body#tinymce.wp-editor h1 {
        font-size: calc(1.82928vw + 0.61018rem); } }
    @media screen and (min-width: 80rem) {
      body#tinymce.wp-editor h1 {
        font-size: 2.0736rem; } }
  body#tinymce.wp-editor h2 {
    font-size: 1.21477rem; }
    @media screen and (min-width: 37.5rem) {
      body#tinymce.wp-editor h2 {
        font-size: calc(1.20761vw + 0.76192rem); } }
    @media screen and (min-width: 80rem) {
      body#tinymce.wp-editor h2 {
        font-size: 1.728rem; } }
  body#tinymce.wp-editor h3 {
    font-size: 1.13849rem; }
    @media screen and (min-width: 37.5rem) {
      body#tinymce.wp-editor h3 {
        font-size: calc(0.70944vw + 0.87245rem); } }
    @media screen and (min-width: 80rem) {
      body#tinymce.wp-editor h3 {
        font-size: 1.44rem; } }
  body#tinymce.wp-editor h4 {
    font-size: 1.067rem; }
    @media screen and (min-width: 37.5rem) {
      body#tinymce.wp-editor h4 {
        font-size: calc(0.31294vw + 0.94965rem); } }
    @media screen and (min-width: 80rem) {
      body#tinymce.wp-editor h4 {
        font-size: 1.2rem; } }
  body#tinymce.wp-editor h5 {
    font-size: 1rem; }
    @media screen and (min-width: 37.5rem) {
      body#tinymce.wp-editor h5 {
        font-size: calc(0vw + 1rem); } }
    @media screen and (min-width: 80rem) {
      body#tinymce.wp-editor h5 {
        font-size: 1rem; } }
  body#tinymce.wp-editor h6 {
    font-size: 0.93721rem; }
    @media screen and (min-width: 37.5rem) {
      body#tinymce.wp-editor h6 {
        font-size: calc(-0.24441vw + 1.02886rem); } }
    @media screen and (min-width: 80rem) {
      body#tinymce.wp-editor h6 {
        font-size: 0.83333rem; } }
  body#tinymce.wp-editor a {
    color: #62B346;
    text-decoration: none; }
    body#tinymce.wp-editor a:hover {
      color: #9fd28d;
      cursor: pointer; }
    body#tinymce.wp-editor a.fluidbox:hover {
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in; }
    body#tinymce.wp-editor a[href^="tel"] {
      white-space: nowrap; }
  body#tinymce.wp-editor ol,
  body#tinymce.wp-editor ul {
    padding-left: 1.3em; }
    body#tinymce.wp-editor ol ul,
    body#tinymce.wp-editor ul ul {
      font-size: .85em;
      padding: 1em 0 .618em 1.618em; }
      body#tinymce.wp-editor ol ul li,
      body#tinymce.wp-editor ul ul li {
        padding: .618em 0; }
    body#tinymce.wp-editor ol ul:first-child, body#tinymce.wp-editor ol ol:first-child,
    body#tinymce.wp-editor ul ul:first-child,
    body#tinymce.wp-editor ul ol:first-child {
      padding-top: 1em; }
    body#tinymce.wp-editor ol ul:last-child, body#tinymce.wp-editor ol ol:last-child,
    body#tinymce.wp-editor ul ul:last-child,
    body#tinymce.wp-editor ul ol:last-child {
      padding-bottom: 1.618em; }
  body#tinymce.wp-editor p:first-child {
    padding-top: 0; }
  body#tinymce.wp-editor p:last-child {
    padding-bottom: 0; }
  body#tinymce.wp-editor p:first-child:last-child {
    padding-top: 0;
    padding-bottom: 0; }
  body#tinymce.wp-editor p.small {
    font-size: 0.85em; }
  body#tinymce.wp-editor p.large {
    font-size: 1.25em; }
  body#tinymce.wp-editor span.small {
    font-size: 0.85em; }
  body#tinymce.wp-editor span.large {
    font-size: 1.25em; }
  body#tinymce.wp-editor hr {
    margin: 2em 0;
    clear: both;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f2f2f2;
    padding: 0; }
  body#tinymce.wp-editor blockquote {
    margin: 2em 0;
    font-style: italic;
    font-size: 1em;
    padding: 0.8em 1.2em;
    margin: 1em 0;
    font-size: 1.18em;
    color: #bababa; }
  body#tinymce.wp-editor pre {
    display: block;
    padding: 1em;
    margin: 2em 0;
    font-size: 1rem;
    word-break: break-all;
    word-wrap: break-word;
    color: #4d4d4d;
    background-color: #f2f2f2;
    border: 1px solid #bababa;
    border-radius: 0.15em;
    overflow: scroll;
    text-align: left; }
  body#tinymce.wp-editor sup {
    font-size: 0.6em;
    font-weight: 300;
    vertical-align: super; }
  body#tinymce.wp-editor #brandchap figure {
    margin: 2em 0;
    padding: 0; }
  body#tinymce.wp-editor #brandchap figcaption {
    margin: 1em 0;
    font-size: .8em;
    font-style: italic;
    opacity: .5;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease; }
  body#tinymce.wp-editor #brandchap figure:hover figcaption {
    opacity: 1; }
  body#tinymce.wp-editor .text-centered {
    text-align: center; }
  body#tinymce.wp-editor .pagination {
    padding: 1em; }
    body#tinymce.wp-editor .pagination .page-numbers {
      padding: .5rem; }
  body#tinymce.wp-editor footer h4 {
    color: #f2f2f2; }
  body#tinymce.wp-editor code, body#tinymce.wp-editor kbd, body#tinymce.wp-editor pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }
  body#tinymce.wp-editor table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    padding: 2em 0;
    max-width: 100%;
    overflow-x: auto; }
    body#tinymce.wp-editor table.alignleft, body#tinymce.wp-editor table.alignright, body#tinymce.wp-editor table.aligncenter {
      display: table; }
    body#tinymce.wp-editor table tbody {
      min-width: 100%; }
    body#tinymce.wp-editor table:first-child {
      padding-top: 0; }
    body#tinymce.wp-editor table:last-child {
      padding-bottom: 0; }
    body#tinymce.wp-editor table.aligncenter {
      margin: 0 auto; }
      body#tinymce.wp-editor table.aligncenter th, body#tinymce.wp-editor table.aligncenter td {
        text-align: center; }
    body#tinymce.wp-editor table.alignright th, body#tinymce.wp-editor table.alignright td {
      text-align: right; }
    body#tinymce.wp-editor table.noborder th, body#tinymce.wp-editor table.noborder td {
      border: 0; }
    body#tinymce.wp-editor table.nowrap td {
      white-space: nowrap;
      min-width: 0; }
    body#tinymce.wp-editor table img.alignleft, body#tinymce.wp-editor table img.alignright, body#tinymce.wp-editor table img.aligncenter {
      display: inline-block; }
  body#tinymce.wp-editor th, body#tinymce.wp-editor td {
    padding: .618em;
    text-align: left; }
    body#tinymce.wp-editor th.small, body#tinymce.wp-editor td.small {
      font-size: 0.85em; }
    body#tinymce.wp-editor th.large, body#tinymce.wp-editor td.large {
      font-size: 1.25em; }
  body#tinymce.wp-editor .dark th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
  body#tinymce.wp-editor .dark td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  body#tinymce.wp-editor .light th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  body#tinymce.wp-editor .light td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  body#tinymce.wp-editor .light div.tribe-countdown-number,
  body#tinymce.wp-editor .light span.tribe-countdown-under,
  body#tinymce.wp-editor .light div.tribe-countdown-colon {
    color: #fff; }
  body#tinymce.wp-editor .dark div.tribe-countdown-number,
  body#tinymce.wp-editor .dark span.tribe-countdown-under,
  body#tinymce.wp-editor .dark div.tribe-countdown-colon {
    color: #000; }
  body#tinymce.wp-editor ::-moz-selection {
    color: #ffffff;
    background: #62B346; }
  body#tinymce.wp-editor ::selection {
    color: #ffffff;
    background: #62B346; }
  body#tinymce.wp-editor .btn,
  body#tinymce.wp-editor a.btn,
  body#tinymce.wp-editor .comment-form input[type="submit"],
  body#tinymce.wp-editor .gform_wrapper .gform_footer input.button,
  body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=image],
  body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=submit],
  body#tinymce.wp-editor input[type="button"] {
    display: inline-block;
    vertical-align: top;
    margin: 1px 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    padding: 0.5rem 0.75rem;
    border-radius: 0.15em;
    font-size: 1em;
    line-height: 1;
    border: 1px solid #7db346;
    color: #7db346;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    body#tinymce.wp-editor .btn:hover,
    body#tinymce.wp-editor a.btn:hover,
    body#tinymce.wp-editor .comment-form input[type="submit"]:hover,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input.button:hover,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=image]:hover,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=submit]:hover,
    body#tinymce.wp-editor input[type="button"]:hover {
      color: #ffffff;
      background: #7db346;
      text-decoration: none; }
    body#tinymce.wp-editor .btn-default,
    body#tinymce.wp-editor a.btn-default,
    body#tinymce.wp-editor .comment-form input[type="submit"]-default,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input.button-default,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=image]-default,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=submit]-default,
    body#tinymce.wp-editor input[type="button"]-default {
      border: 1px solid #bababa;
      color: #bababa; }
      body#tinymce.wp-editor .btn-default:hover,
      body#tinymce.wp-editor a.btn-default:hover,
      body#tinymce.wp-editor .comment-form input[type="submit"]-default:hover,
      body#tinymce.wp-editor .gform_wrapper .gform_footer input.button-default:hover,
      body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=image]-default:hover,
      body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=submit]-default:hover,
      body#tinymce.wp-editor input[type="button"]-default:hover {
        color: #000000;
        background: #bababa;
        text-decoration: none; }
    body#tinymce.wp-editor .btn.focus, body#tinymce.wp-editor .btn:focus, body#tinymce.wp-editor .btn.active.focus, body#tinymce.wp-editor .btn.active:focus, body#tinymce.wp-editor .btn:active.focus, body#tinymce.wp-editor .btn:active:focus,
    body#tinymce.wp-editor a.btn.focus,
    body#tinymce.wp-editor a.btn:focus,
    body#tinymce.wp-editor a.btn.active.focus,
    body#tinymce.wp-editor a.btn.active:focus,
    body#tinymce.wp-editor a.btn:active.focus,
    body#tinymce.wp-editor a.btn:active:focus,
    body#tinymce.wp-editor .comment-form input[type="submit"].focus,
    body#tinymce.wp-editor .comment-form input[type="submit"]:focus,
    body#tinymce.wp-editor .comment-form input[type="submit"].active.focus,
    body#tinymce.wp-editor .comment-form input[type="submit"].active:focus,
    body#tinymce.wp-editor .comment-form input[type="submit"]:active.focus,
    body#tinymce.wp-editor .comment-form input[type="submit"]:active:focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input.button.focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input.button:focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input.button.active.focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input.button.active:focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input.button:active.focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input.button:active:focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=image].focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=image]:focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=image].active.focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=image].active:focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=image]:active.focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=image]:active:focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=submit].focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=submit]:focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=submit].active.focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=submit].active:focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=submit]:active.focus,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=submit]:active:focus,
    body#tinymce.wp-editor input[type="button"].focus,
    body#tinymce.wp-editor input[type="button"]:focus,
    body#tinymce.wp-editor input[type="button"].active.focus,
    body#tinymce.wp-editor input[type="button"].active:focus,
    body#tinymce.wp-editor input[type="button"]:active.focus,
    body#tinymce.wp-editor input[type="button"]:active:focus {
      text-shadow: 0 0 solid rgba(0, 0, 0, 0); }
    body#tinymce.wp-editor .btn.active, body#tinymce.wp-editor .btn:active,
    body#tinymce.wp-editor a.btn.active,
    body#tinymce.wp-editor a.btn:active,
    body#tinymce.wp-editor .comment-form input[type="submit"].active,
    body#tinymce.wp-editor .comment-form input[type="submit"]:active,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input.button.active,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input.button:active,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=image].active,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=image]:active,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=submit].active,
    body#tinymce.wp-editor .gform_wrapper .gform_footer input[type=submit]:active,
    body#tinymce.wp-editor input[type="button"].active,
    body#tinymce.wp-editor input[type="button"]:active {
      outline: 0;
      background-image: none;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      background: #233314; }
  body#tinymce.wp-editor .light .btn,
  body#tinymce.wp-editor .light a.btn,
  body#tinymce.wp-editor .light .comment-form input[type="submit"],
  body#tinymce.wp-editor .light .gform_wrapper .gform_footer input.button,
  body#tinymce.wp-editor .light .gform_wrapper .gform_footer input[type=image],
  body#tinymce.wp-editor .light .gform_wrapper .gform_footer input[type=submit],
  body#tinymce.wp-editor .light input[type="button"] {
    color: #fff;
    border-color: #fff; }
    body#tinymce.wp-editor .light .btn:hover,
    body#tinymce.wp-editor .light a.btn:hover,
    body#tinymce.wp-editor .light .comment-form input[type="submit"]:hover,
    body#tinymce.wp-editor .light .gform_wrapper .gform_footer input.button:hover,
    body#tinymce.wp-editor .light .gform_wrapper .gform_footer input[type=image]:hover,
    body#tinymce.wp-editor .light .gform_wrapper .gform_footer input[type=submit]:hover,
    body#tinymce.wp-editor .light input[type="button"]:hover {
      color: #000;
      background: #fff; }
  body#tinymce.wp-editor .dark .btn,
  body#tinymce.wp-editor .dark a.btn,
  body#tinymce.wp-editor .dark .comment-form input[type="submit"],
  body#tinymce.wp-editor .dark .gform_wrapper .gform_footer input.button,
  body#tinymce.wp-editor .dark .gform_wrapper .gform_footer input[type=image],
  body#tinymce.wp-editor .dark .gform_wrapper .gform_footer input[type=submit],
  body#tinymce.wp-editor .dark input[type="button"] {
    color: #000;
    border-color: #000; }
    body#tinymce.wp-editor .dark .btn:hover,
    body#tinymce.wp-editor .dark a.btn:hover,
    body#tinymce.wp-editor .dark .comment-form input[type="submit"]:hover,
    body#tinymce.wp-editor .dark .gform_wrapper .gform_footer input.button:hover,
    body#tinymce.wp-editor .dark .gform_wrapper .gform_footer input[type=image]:hover,
    body#tinymce.wp-editor .dark .gform_wrapper .gform_footer input[type=submit]:hover,
    body#tinymce.wp-editor .dark input[type="button"]:hover {
      color: #fff;
      background: #000; }
  body#tinymce.wp-editor .light .large .btn,
  body#tinymce.wp-editor .light .large a.btn,
  body#tinymce.wp-editor .light .large .comment-form input[type="submit"],
  body#tinymce.wp-editor .light .large .gform_wrapper .gform_footer input.button,
  body#tinymce.wp-editor .light .large .gform_wrapper .gform_footer input[type=image],
  body#tinymce.wp-editor .light .large .gform_wrapper .gform_footer input[type=submit],
  body#tinymce.wp-editor .light .large input[type="button"] {
    font-size: 1rem;
    color: #26451b;
    background: #fbfdfb;
    border-color: #fbfdfb; }
    body#tinymce.wp-editor .light .large .btn:hover,
    body#tinymce.wp-editor .light .large a.btn:hover,
    body#tinymce.wp-editor .light .large .comment-form input[type="submit"]:hover,
    body#tinymce.wp-editor .light .large .gform_wrapper .gform_footer input.button:hover,
    body#tinymce.wp-editor .light .large .gform_wrapper .gform_footer input[type=image]:hover,
    body#tinymce.wp-editor .light .large .gform_wrapper .gform_footer input[type=submit]:hover,
    body#tinymce.wp-editor .light .large input[type="button"]:hover {
      color: #000;
      background: white; }
  body#tinymce.wp-editor .dark .large .btn,
  body#tinymce.wp-editor .dark .large a.btn,
  body#tinymce.wp-editor .dark .large .comment-form input[type="submit"],
  body#tinymce.wp-editor .dark .large .gform_wrapper .gform_footer input.button,
  body#tinymce.wp-editor .dark .large .gform_wrapper .gform_footer input[type=image],
  body#tinymce.wp-editor .dark .large .gform_wrapper .gform_footer input[type=submit],
  body#tinymce.wp-editor .dark .large input[type="button"] {
    font-size: 1rem;
    color: #fbfdfb;
    background: #4e8e38;
    border-color: #4e8e38; }
    body#tinymce.wp-editor .dark .large .btn:hover,
    body#tinymce.wp-editor .dark .large a.btn:hover,
    body#tinymce.wp-editor .dark .large .comment-form input[type="submit"]:hover,
    body#tinymce.wp-editor .dark .large .gform_wrapper .gform_footer input.button:hover,
    body#tinymce.wp-editor .dark .large .gform_wrapper .gform_footer input[type=image]:hover,
    body#tinymce.wp-editor .dark .large .gform_wrapper .gform_footer input[type=submit]:hover,
    body#tinymce.wp-editor .dark .large input[type="button"]:hover {
      color: #fff;
      background: #3a6a29; }
  body#tinymce.wp-editor .dark .light p, body#tinymce.wp-editor .dark .light li, body#tinymce.wp-editor .light p, body#tinymce.wp-editor .light li {
    color: #e8e8e8; }
  body#tinymce.wp-editor nav.sticky ul li a {
    color: #ffffff; }
