html {
  font-size: 14px;
  font-size: calc( 14px + 0.35vw); }

body {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  font-weight: 300;
  color: #4d4d4d;
  line-height: 1.5;
  font-display: auto; }

p, li, table, li, ol, ul {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  font-weight: 300;
  color: #4d4d4d;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 600;
  color: #333333; }

#breadcrumbs {
  padding: .618em;
  font-size: .75em;
  margin: 0;
  text-align: center;
  position: relative;
  z-index: 1; }

.dark .light,
.light {
  color: rgba(255, 255, 255, 0.9); }
  .dark .light td, .dark .light p, .dark .light li,
  .light td,
  .light p,
  .light li {
    color: rgba(255, 255, 255, 0.8); }
  .dark .light th, .dark .light blockquote, .dark .light h1, .dark .light h2, .dark .light h3, .dark .light h4, .dark .light h5, .dark .light h6,
  .light th,
  .light blockquote,
  .light h1,
  .light h2,
  .light h3,
  .light h4,
  .light h5,
  .light h6 {
    color: white; }
  .dark .light a,
  .light a {
    color: #c4e4b9; }
    .dark .light a:hover,
    .light a:hover {
      color: #e3f2dd; }

#breadcrumbs.light {
  color: #b3b3b3; }
  #breadcrumbs.light a {
    color: #c4e4b9; }
    #breadcrumbs.light a:hover {
      color: #e3f2dd; }

.light .dark,
.dark {
  color: rgba(0, 0, 0, 0.8); }
  .light .dark p, .light .dark li,
  .dark p,
  .dark li {
    color: rgba(0, 0, 0, 0.7); }
  .light .dark blockquote, .light .dark h1, .light .dark h2, .light .dark h3, .light .dark h4, .light .dark h5, .light .dark h6,
  .dark blockquote,
  .dark h1,
  .dark h2,
  .dark h3,
  .dark h4,
  .dark h5,
  .dark h6 {
    color: rgba(0, 0, 0, 0.8); }
  .light .dark a,
  .dark a {
    color: #28491c; }
    .light .dark a:hover,
    .dark a:hover {
      color: #14240e; }

#breadcrumbs.dark {
  color: #4d4d4d; }
  #breadcrumbs.dark a {
    color: #28491c; }
    #breadcrumbs.dark a:hover {
      color: #14240e; }

h1, h2, h3, h4, h5, h6, li, ol, p, ul {
  padding: .8em 0 .2em;
  margin: 0; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, li:first-child, ol:first-child, p:first-child, ul:first-child {
    padding-top: 0; }
  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, li:last-child, ol:last-child, p:last-child, ul:last-child {
    padding-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 1em 0 .2em; }

li {
  padding: 0 0 0.618em; }

h1 {
  font-size: 1.29616rem; }
  @media screen and (min-width: 37.5rem) {
    h1 {
      font-size: calc(1.82928vw + 0.61018rem); } }
  @media screen and (min-width: 80rem) {
    h1 {
      font-size: 2.0736rem; } }

h2 {
  font-size: 1.21477rem; }
  @media screen and (min-width: 37.5rem) {
    h2 {
      font-size: calc(1.20761vw + 0.76192rem); } }
  @media screen and (min-width: 80rem) {
    h2 {
      font-size: 1.728rem; } }

h3 {
  font-size: 1.13849rem; }
  @media screen and (min-width: 37.5rem) {
    h3 {
      font-size: calc(0.70944vw + 0.87245rem); } }
  @media screen and (min-width: 80rem) {
    h3 {
      font-size: 1.44rem; } }

h4 {
  font-size: 1.067rem; }
  @media screen and (min-width: 37.5rem) {
    h4 {
      font-size: calc(0.31294vw + 0.94965rem); } }
  @media screen and (min-width: 80rem) {
    h4 {
      font-size: 1.2rem; } }

h5 {
  font-size: 1rem; }
  @media screen and (min-width: 37.5rem) {
    h5 {
      font-size: calc(0vw + 1rem); } }
  @media screen and (min-width: 80rem) {
    h5 {
      font-size: 1rem; } }

h6 {
  font-size: 0.93721rem; }
  @media screen and (min-width: 37.5rem) {
    h6 {
      font-size: calc(-0.24441vw + 1.02886rem); } }
  @media screen and (min-width: 80rem) {
    h6 {
      font-size: 0.83333rem; } }

a {
  color: #62B346;
  text-decoration: none; }
  a:hover {
    color: #9fd28d;
    cursor: pointer; }
  a.fluidbox:hover {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in; }
  a[href^="tel"] {
    white-space: nowrap; }

ol,
ul {
  padding-left: 1.3em; }
  ol ul,
  ul ul {
    font-size: .85em;
    padding: 1em 0 .618em 1.618em; }
    ol ul li,
    ul ul li {
      padding: .618em 0; }
  ol ul:first-child, ol ol:first-child,
  ul ul:first-child,
  ul ol:first-child {
    padding-top: 1em; }
  ol ul:last-child, ol ol:last-child,
  ul ul:last-child,
  ul ol:last-child {
    padding-bottom: 1.618em; }

p:first-child {
  padding-top: 0; }

p:last-child {
  padding-bottom: 0; }

p:first-child:last-child {
  padding-top: 0;
  padding-bottom: 0; }

p.small {
  font-size: 0.85em; }

p.large {
  font-size: 1.25em; }

span.small {
  font-size: 0.85em; }

span.large {
  font-size: 1.25em; }

hr {
  margin: 2em 0;
  clear: both;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f2f2f2;
  padding: 0; }

blockquote {
  margin: 2em 0;
  font-style: italic;
  font-size: 1em;
  padding: 0.8em 1.2em;
  margin: 1em 0;
  font-size: 1.18em;
  color: #bababa; }

pre {
  display: block;
  padding: 1em;
  margin: 2em 0;
  font-size: 1rem;
  word-break: break-all;
  word-wrap: break-word;
  color: #4d4d4d;
  background-color: #f2f2f2;
  border: 1px solid #bababa;
  border-radius: 0.15em;
  overflow: scroll;
  text-align: left; }

sup {
  font-size: 0.6em;
  font-weight: 300;
  vertical-align: super; }

#brandchap figure {
  margin: 2em 0;
  padding: 0; }

#brandchap figcaption {
  margin: 1em 0;
  font-size: .8em;
  font-style: italic;
  opacity: .5;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease; }

#brandchap figure:hover figcaption {
  opacity: 1; }

.text-centered {
  text-align: center; }

.pagination {
  padding: 1em; }
  .pagination .page-numbers {
    padding: .5rem; }

footer h4 {
  color: #f2f2f2; }

code, kbd, pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  padding: 2em 0;
  max-width: 100%;
  overflow-x: auto; }
  table.alignleft, table.alignright, table.aligncenter {
    display: table; }
  table tbody {
    min-width: 100%; }
  table:first-child {
    padding-top: 0; }
  table:last-child {
    padding-bottom: 0; }
  table.aligncenter {
    margin: 0 auto; }
    table.aligncenter th, table.aligncenter td {
      text-align: center; }
  table.alignright th, table.alignright td {
    text-align: right; }
  table.noborder th, table.noborder td {
    border: 0; }
  table.nowrap td {
    white-space: nowrap;
    min-width: 0; }
  table img.alignleft, table img.alignright, table img.aligncenter {
    display: inline-block; }

th, td {
  padding: .618em;
  text-align: left; }
  th.small, td.small {
    font-size: 0.85em; }
  th.large, td.large {
    font-size: 1.25em; }

.dark th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.dark td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.light th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.light td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.light div.tribe-countdown-number,
.light span.tribe-countdown-under,
.light div.tribe-countdown-colon {
  color: #fff; }

.dark div.tribe-countdown-number,
.dark span.tribe-countdown-under,
.dark div.tribe-countdown-colon {
  color: #000; }

::-moz-selection {
  color: #ffffff;
  background: #62B346; }

::selection {
  color: #ffffff;
  background: #62B346; }

header.top {
  padding: 0;
  margin: 0 auto;
  z-index: 9997;
  position: relative;
  padding: 0;
  min-height: 5em;
  min-height: calc( 3.2vw + 3.2vw);
  overflow: visible; }
  header.top.parallax {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  header.top .hat {
    position: relative;
    min-height: calc( 1.618vw + 3rem + 1.618vw); }
  header.top > img {
    margin: auto; }

a.branding {
  position: absolute;
  top: 1.618vw;
  left: 1.618vw;
  padding: 0;
  height: 3rem;
  z-index: 99; }
  a.branding.text {
    font-family: "Nunito", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-weight: 600; }
  a.branding img.logo {
    position: relative;
    padding: 0;
    height: 3rem;
    width: auto; }

.contained header.top.light:before {
  background: transparent; }

.contained header.top.dark:before {
  background: transparent; }

@media screen and (min-width: 780px) {
  header.top .txt_blk.avs_default {
    padding: 2.5em;
    padding: 3.2vw;
    min-height: calc( 1.618vw + 1.618vw + 3rem); }
  .archive header.top .content.txt_blk {
    padding-left: 20vw;
    padding-right: 20vw; } }

@media screen and (max-width: 992px) {
  header.top .txt_blk.avs_default {
    min-height: calc( 4.85vw + 4.85vw + 3rem); } }

.override fieldset.search {
  padding: 0;
  border: 0;
  font-size: .75rem; }
  .override fieldset.search .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .override fieldset.search .input-group input, .override fieldset.search .input-group button {
      -webkit-transition: background .3s ease;
      -o-transition: background .3s ease;
      transition: background .3s ease;
      padding: 0.5rem 0.75rem;
      font-size: 1em;
      line-height: 1;
      white-space: nowrap;
      border: 0;
      margin: 0; }
    .override fieldset.search .input-group input {
      -webkit-transition: min-width .3s ease;
      -o-transition: min-width .3s ease;
      transition: min-width .3s ease;
      border-radius: 0.15em 0 0 0.15em;
      background: rgba(255, 255, 255, 0.3);
      color: #333333;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-right: 0;
      min-width: 5em; }
      .override fieldset.search .input-group input:focus {
        color: #000;
        outline: 0;
        background: rgba(255, 255, 255, 0.8);
        min-width: 25em; }
        .override fieldset.search .input-group input:focus::-webkit-input-placeholder {
          color: #bababa; }
        .override fieldset.search .input-group input:focus:-ms-input-placeholder {
          color: #bababa; }
        .override fieldset.search .input-group input:focus::-ms-input-placeholder {
          color: #bababa; }
        .override fieldset.search .input-group input:focus::placeholder {
          color: #bababa; }
      .override fieldset.search .input-group input::-webkit-input-placeholder {
        color: #4d4d4d; }
      .override fieldset.search .input-group input:-ms-input-placeholder {
        color: #4d4d4d; }
      .override fieldset.search .input-group input::-ms-input-placeholder {
        color: #4d4d4d; }
      .override fieldset.search .input-group input::placeholder {
        color: #4d4d4d; }
    .override fieldset.search .input-group button {
      border-radius: 0 0.15em 0.15em 0;
      background: rgba(255, 255, 255, 0.5);
      color: #333333;
      border-left: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
      .override fieldset.search .input-group button svg {
        fill: gray;
        height: 1em;
        width: 1em;
        padding-top: .05em; }
      .override fieldset.search .input-group button:hover, .override fieldset.search .input-group button:focus {
        outline: none;
        cursor: pointer;
        background: #f2f2f2;
        color: #fff; }
        .override fieldset.search .input-group button:hover svg, .override fieldset.search .input-group button:focus svg {
          fill: #4d4d4d; }

.dark fieldset.search .input-group input {
  background: rgba(255, 255, 255, 0.3); }

.dark fieldset.search .input-group input::-webkit-input-placeholder {
  color: #4d4d4d; }

.dark fieldset.search .input-group input:-ms-input-placeholder {
  color: #4d4d4d; }

.dark fieldset.search .input-group input::-ms-input-placeholder {
  color: #4d4d4d; }

.dark fieldset.search .input-group input::placeholder {
  color: #4d4d4d; }

.dark fieldset.search .input-group button {
  background: rgba(255, 255, 255, 0.5);
  color: #4d4d4d; }
  .dark fieldset.search .input-group button svg {
    fill: #4d4d4d; }
  .dark fieldset.search .input-group button:hover, .dark fieldset.search .input-group button:focus {
    background: white;
    color: #000; }
    .dark fieldset.search .input-group button:hover svg, .dark fieldset.search .input-group button:focus svg {
      fill: #333333; }

.light fieldset.search .input-group input {
  background: rgba(0, 0, 0, 0.3);
  color: #f2f2f2; }
  .light fieldset.search .input-group input:focus {
    background: rgba(0, 0, 0, 0.8);
    color: #fff; }

.light fieldset.search .input-group input::-webkit-input-placeholder {
  color: #f2f2f2; }

.light fieldset.search .input-group input:-ms-input-placeholder {
  color: #f2f2f2; }

.light fieldset.search .input-group input::-ms-input-placeholder {
  color: #f2f2f2; }

.light fieldset.search .input-group input::placeholder {
  color: #f2f2f2; }

.light fieldset.search .input-group button {
  background: rgba(0, 0, 0, 0.5);
  color: #f2f2f2; }
  .light fieldset.search .input-group button svg {
    fill: #f2f2f2; }
  .light fieldset.search .input-group button:hover, .light fieldset.search .input-group button:focus {
    background: black;
    color: #fff; }
    .light fieldset.search .input-group button:hover svg, .light fieldset.search .input-group button:focus svg {
      fill: #fff; }

@media screen and (max-width: 780px) {
  header.top .branding {
    max-width: 50%; }
  header.top .extras {
    max-width: 50%; }
  header.top .text_content p {
    display: none; } }

.page-template-no_chrome .slice:first-of-type {
  padding-top: calc(3rem + 1.618vw + 1.618vw); }

nav,
ul.menu {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  font-size: .9em; }
  nav li,
  ul.menu li {
    list-style: none;
    padding: 0; }

.dark ul.menu li a {
  color: #28491c; }
  .dark ul.menu li a:hover {
    color: #14240e; }

.dark ul.menu li .sub-menu a {
  color: #14240e; }
  .dark ul.menu li .sub-menu a:hover {
    color: #020301; }

.dark ul.menu li[class*='current'] > a, .dark ul.menu li[class*='active'] > a {
  color: #3c6d2b; }

.dark ul.menu li.menu-item-has-children > a::after {
  border-color: #333333 transparent transparent; }

.dark #tbc-nav-icon {
  background: rgba(255, 255, 255, 0.2); }
  .dark #tbc-nav-icon span {
    background: #333; }
  .dark #tbc-nav-icon:hover {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07); }

.light ul.menu li a {
  color: #c4e4b9; }
  .light ul.menu li a:hover {
    color: #e3f2dd; }

.light ul.menu li .sub-menu a {
  color: #e3f2dd; }
  .light ul.menu li .sub-menu a:hover {
    color: #fefffe; }

.light ul.menu li[class*='current'] > a, .light ul.menu li[class*='active'] > a {
  color: #fefffe; }

.light ul.menu li.menu-item-has-children > a::after {
  border-color: #cdcdcd transparent transparent; }

.light #tbc-nav-icon {
  background: rgba(0, 0, 0, 0.2); }
  .light #tbc-nav-icon span {
    background: #fff; }

#tbc-nav-icon {
  width: 45px;
  height: 40px;
  position: fixed;
  margin: auto;
  right: 1.618vw;
  top: 1.618vw;
  border: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
  cursor: pointer;
  z-index: 99999;
  overflow: visible;
  border-radius: 0.15em; }
  #tbc-nav-icon.btn.active, #tbc-nav-icon.btn:active, #tbc-nav-icon.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
  #tbc-nav-icon.is-hidden {
    top: -50px; }
  #tbc-nav-icon.is-hidden.active, #tbc-nav-icon.is-visible {
    top: 1.618vw; }
  #tbc-nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 60%;
    border-radius: 0.15em;
    opacity: 1;
    left: 20%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    #tbc-nav-icon span:nth-child(1) {
      top: 25%; }
    #tbc-nav-icon span:nth-child(2), #tbc-nav-icon span:nth-child(3) {
      top: 18px; }
    #tbc-nav-icon span:nth-child(3) {
      -webkit-box-shadow: none;
      box-shadow: none; }
    #tbc-nav-icon span:nth-child(4) {
      bottom: 25%; }
  #tbc-nav-icon.active span {
    -webkit-box-shadow: none;
    box-shadow: none; }
    #tbc-nav-icon.active span:nth-child(1) {
      top: 18px;
      width: 0;
      left: 50%; }
    #tbc-nav-icon.active span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    #tbc-nav-icon.active span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    #tbc-nav-icon.active span:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%; }

ul.menu {
  text-align: justify;
  padding: 0 0 .5em;
  margin: 0; }
  ul.menu::after {
    content: ' ';
    display: block;
    width: 100%; }
  ul.menu li {
    display: inline-block;
    vertical-align: middle;
    padding: 0; }
    ul.menu li a {
      display: block;
      padding: 1em;
      line-height: 1;
      text-align: left;
      position: relative; }
      ul.menu li a:hover {
        cursor: pointer; }
  ul.menu ul.sub-menu {
    display: none;
    position: relative;
    z-index: 999;
    margin: 0;
    padding: 0;
    right: 0;
    border-radius: 0 0 0.15em 0.15em;
    min-width: 100%;
    font-size: .9em; }
    ul.menu ul.sub-menu li {
      width: 100%;
      padding: 0;
      margin: 0; }
      ul.menu ul.sub-menu li a {
        padding: .618rem 1rem .618rem 1.25rem;
        width: 100%;
        display: block;
        white-space: nowrap; }
    ul.menu ul.sub-menu.active {
      display: block; }
  ul.menu .menu-item-has-children > a {
    padding-right: .5em; }
    ul.menu .menu-item-has-children > a::after {
      content: ' ';
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%) rotateZ(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
      transform: translateY(-50%) rotateZ(-90deg);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: .33em .23em 0;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      left: .2em;
      right: auto;
      opacity: .3; }
    ul.menu .menu-item-has-children > a.active .sub-menu {
      display: block; }
    ul.menu .menu-item-has-children > a.active::after {
      -webkit-transform: translateY(-50%) rotateX(0deg);
      transform: translateY(-50%) rotateX(0deg); }
  ul.menu .menu-item-has-children.dropdown {
    vertical-align: middle;
    margin: 0; }
    ul.menu .menu-item-has-children.dropdown > a {
      background: #f2f2f2;
      padding: .3em 1.2em .3em .7em;
      border-radius: 0.15em;
      text-align: left;
      font-size: 1em;
      margin: 0; }
      ul.menu .menu-item-has-children.dropdown > a::after {
        right: .4em;
        left: auto;
        border-color: #bababa transparent transparent;
        -webkit-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg); }
      ul.menu .menu-item-has-children.dropdown > a.active {
        background: #fff;
        border-radius: 0.15em 0.15em 0 0; }
        ul.menu .menu-item-has-children.dropdown > a.active::after {
          -webkit-transform: translateY(-50%) rotate(0deg);
          -ms-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg); }
    ul.menu .menu-item-has-children.dropdown .sub-menu {
      margin: 0;
      padding: .5em 0;
      right: 0;
      position: absolute; }
      ul.menu .menu-item-has-children.dropdown .sub-menu li a {
        text-align: left; }
      ul.menu .menu-item-has-children.dropdown .sub-menu.active {
        border-radius: 0.15em 0 0.15em 0.15em; }
  ul.menu.filter {
    padding: 0; }
    ul.menu.filter .sub-menu {
      background: #fff; }
      ul.menu.filter .sub-menu a:hover {
        background: #f2f2f2; }

nav.sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #62B346;
  color: #fefefe;
  z-index: 999999999;
  padding: 0 .5em;
  overflow: hidden;
  max-width: 100vw; }
  nav.sticky ul {
    margin: 0;
    text-align: center;
    font-size: 0;
    padding: 0; }
    nav.sticky ul li {
      margin: 0;
      padding: 0;
      font-size: .8rem;
      text-align: center;
      vertical-align: middle;
      -webkit-transition: font-size .2s;
      -o-transition: font-size .2s;
      transition: font-size .2s;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      nav.sticky ul li a {
        width: 100%;
        padding: 1em;
        text-align: center;
        color: #fefefe; }
  nav.sticky.boost ul li {
    font-size: 1rem; }

@media (min-width: 780px) {
  nav.sticky {
    left: auto;
    right: 2rem;
    border-radius: 0.15em 0.15em 0 0;
    padding: 0; }
  nav.shop span.cart-count {
    background: #f2f2f2;
    display: inline-block;
    border-radius: 0.15em;
    font-size: .5rem;
    padding: .1rem .2rem;
    vertical-align: top;
    margin-top: -.3rem;
    margin-left: -.2rem;
    font-weight: bold;
    position: relative;
    z-index: -1; }
  nav.account svg,
  nav.shop svg {
    fill: #4d4d4d; }
  nav.account ul.menu,
  nav.shop ul.menu {
    padding: 0; }
    nav.account ul.menu > li,
    nav.shop ul.menu > li {
      margin: 0; }
      nav.account ul.menu > li > a,
      nav.shop ul.menu > li > a {
        margin: 0;
        padding: .5rem; }
        nav.account ul.menu > li > a.active,
        nav.shop ul.menu > li > a.active {
          background: #f2f2f2;
          border-radius: 0.15em 0.15em 0 0; }
          nav.account ul.menu > li > a.active svg,
          nav.shop ul.menu > li > a.active svg {
            fill: #4d4d4d;
            z-index: 1; }
          nav.account ul.menu > li > a.active span.cart-count,
          nav.shop ul.menu > li > a.active span.cart-count {
            display: none; }
    nav.account ul.menu .sub-menu,
    nav.shop ul.menu .sub-menu {
      top: 2rem;
      border-radius: 0.15em 0 0.15em 0.15em;
      background-color: #f2f2f2; }
      nav.account ul.menu .sub-menu li:first-child a,
      nav.shop ul.menu .sub-menu li:first-child a {
        padding-top: 1.25rem; }
      nav.account ul.menu .sub-menu li:last-child a,
      nav.shop ul.menu .sub-menu li:last-child a {
        padding-bottom: 1.25rem; }
  .light nav.shop span.cart-count {
    background: #4d4d4d; }
  .light nav.account svg,
  .light nav.shop svg {
    fill: #b3b3b3; }
  .light nav.account ul.menu > li > a.active,
  .light nav.shop ul.menu > li > a.active {
    background: #4d4d4d; }
    .light nav.account ul.menu > li > a.active svg,
    .light nav.shop ul.menu > li > a.active svg {
      fill: #b3b3b3; }
  .light nav.account ul.menu .sub-menu,
  .light nav.shop ul.menu .sub-menu {
    background-color: #4d4d4d; } }

@media (min-width: 992px) {
  .get_around.standard {
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease; }
    .get_around.standard.fix_top {
      position: fixed;
      top: 0;
      bottom: auto;
      width: 100%;
      opacity: .8;
      -webkit-transition: top .3s ease;
      -o-transition: top .3s ease;
      transition: top .3s ease; }
      .get_around.standard.fix_top ul.menu li a {
        -webkit-transition: padding .3s ease;
        -o-transition: padding .3s ease;
        transition: padding .3s ease;
        padding: .618em 1em; }
      .get_around.standard.fix_top ul.menu .menu-item-has-children > a {
        padding-right: .5em; }
      .get_around.standard.fix_top:hover {
        opacity: 1; }
  .is-hidden .get_around.standard.fix_top {
    top: -2.5em; } }

html.mini {
  min-height: 100vh; }

.get_around {
  z-index: 1; }

.extras {
  display: none; }

.main-nav {
  max-width: 25rem;
  width: 100%;
  height: 100vh;
  padding: 6em 2em 2em;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: fixed;
  top: 0;
  right: -101%;
  z-index: 9999;
  overflow-x: visible;
  overflow-y: scroll; }
  .main-nav .extras {
    display: block; }
  .main-nav .inline-block {
    width: 100%; }
  .main-nav.active {
    right: 0; }
  .main-nav li {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0; }
    .main-nav li a {
      text-align: left;
      padding-left: 0;
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
      opacity: 0;
      -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.3s ease-out;
      transition: opacity 0.2s ease-out, -webkit-transform 0.3s ease-out;
      -o-transition: opacity 0.2s ease-out, transform 0.3s ease-out;
      transition: opacity 0.2s ease-out, transform 0.3s ease-out;
      transition: opacity 0.2s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
    .main-nav li:nth-child(1) a {
      -webkit-transition-delay: 150ms;
      -o-transition-delay: 150ms;
      transition-delay: 150ms; }
    .main-nav li:nth-child(2) a {
      -webkit-transition-delay: 200ms;
      -o-transition-delay: 200ms;
      transition-delay: 200ms; }
    .main-nav li:nth-child(3) a {
      -webkit-transition-delay: 250ms;
      -o-transition-delay: 250ms;
      transition-delay: 250ms; }
    .main-nav li:nth-child(4) a {
      -webkit-transition-delay: 300ms;
      -o-transition-delay: 300ms;
      transition-delay: 300ms; }
    .main-nav li:nth-child(5) a {
      -webkit-transition-delay: 350ms;
      -o-transition-delay: 350ms;
      transition-delay: 350ms; }
    .main-nav li:nth-child(6) a {
      -webkit-transition-delay: 400ms;
      -o-transition-delay: 400ms;
      transition-delay: 400ms; }
    .main-nav li:nth-child(7) a {
      -webkit-transition-delay: 450ms;
      -o-transition-delay: 450ms;
      transition-delay: 450ms; }
    .main-nav li:nth-child(8) a {
      -webkit-transition-delay: 500ms;
      -o-transition-delay: 500ms;
      transition-delay: 500ms; }
    .main-nav li:nth-child(9) a {
      -webkit-transition-delay: 550ms;
      -o-transition-delay: 550ms;
      transition-delay: 550ms; }
    .main-nav li:nth-child(10) a {
      -webkit-transition-delay: 600ms;
      -o-transition-delay: 600ms;
      transition-delay: 600ms; }
    .main-nav li:nth-child(11) a {
      -webkit-transition-delay: 650ms;
      -o-transition-delay: 650ms;
      transition-delay: 650ms; }
    .main-nav li:nth-child(12) a {
      -webkit-transition-delay: 700ms;
      -o-transition-delay: 700ms;
      transition-delay: 700ms; }
    .main-nav li:nth-child(13) a {
      -webkit-transition-delay: 750ms;
      -o-transition-delay: 750ms;
      transition-delay: 750ms; }
    .main-nav li:nth-child(14) a {
      -webkit-transition-delay: 800ms;
      -o-transition-delay: 800ms;
      transition-delay: 800ms; }
    .main-nav li:nth-child(15) a {
      -webkit-transition-delay: 850ms;
      -o-transition-delay: 850ms;
      transition-delay: 850ms; }
    .main-nav li .sub-menu.active {
      position: relative; }
    .main-nav li.menu-item-has-children > a::after {
      left: 0; }
    .main-nav li.menu-item-has-children a.active {
      border-bottom: 0; }
    .main-nav li.menu-item-has-children li a {
      text-align: left;
      border-bottom: 0; }
  .main-nav.active .widget,
  .main-nav.active ul li a {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; }
  .main-nav .widget {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.3s ease-out;
    transition: opacity 0.2s ease-out, -webkit-transform 0.3s ease-out;
    -o-transition: opacity 0.2s ease-out, transform 0.3s ease-out;
    transition: opacity 0.2s ease-out, transform 0.3s ease-out;
    transition: opacity 0.2s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 650ms;
    -o-transition-delay: 650ms;
    transition-delay: 650ms;
    padding: 0;
    margin: 1rem 0 1rem 0;
    padding-top: 1rem;
    border-top: 1px dotted;
    display: block;
    min-width: 100%; }

.main-nav ul.menu,
.content ul.menu {
  text-align: justify;
  padding: 0 0 .5em;
  margin: 0; }
  .main-nav ul.menu:after,
  .content ul.menu:after {
    content: ' ';
    display: block;
    width: 100%; }
  .main-nav ul.menu li,
  .content ul.menu li {
    display: inline-block;
    vertical-align: bottom; }
    .main-nav ul.menu li a,
    .content ul.menu li a {
      display: block;
      padding: 1rem;
      line-height: 1;
      text-align: left;
      position: relative; }
  .main-nav ul.menu ul.sub-menu,
  .content ul.menu ul.sub-menu {
    display: none;
    position: relative;
    z-index: 999;
    margin: 0;
    padding: 0 0 1.5em .5em;
    right: 0;
    border-radius: 0.15em 0 0.15em 0.15em;
    min-width: 100%;
    font-size: 0.9em; }
    .main-nav ul.menu ul.sub-menu li,
    .content ul.menu ul.sub-menu li {
      width: 100%;
      margin: 0; }
      .main-nav ul.menu ul.sub-menu li a,
      .content ul.menu ul.sub-menu li a {
        width: 100%;
        display: block; }
    .main-nav ul.menu ul.sub-menu.active,
    .content ul.menu ul.sub-menu.active {
      display: block; }
  .main-nav ul.menu .menu-item-has-children.dropdown,
  .content ul.menu .menu-item-has-children.dropdown {
    vertical-align: middle;
    margin: 0; }
    .main-nav ul.menu .menu-item-has-children.dropdown > a,
    .content ul.menu .menu-item-has-children.dropdown > a {
      background: #f2f2f2;
      padding: 0.3em 1.2em 0.3em 0.7em;
      border-radius: 0.15em;
      text-align: left;
      font-size: 1em;
      margin: 0; }
      .main-nav ul.menu .menu-item-has-children.dropdown > a:after,
      .content ul.menu .menu-item-has-children.dropdown > a:after {
        right: 0.4em;
        border-width: 0.4em 0.3em 0 0.3em;
        border-color: #bababa transparent transparent transparent; }
      .main-nav ul.menu .menu-item-has-children.dropdown > a.active,
      .content ul.menu .menu-item-has-children.dropdown > a.active {
        background: #fff;
        border-radius: 0.15em 0.15em 0 0; }
    .main-nav ul.menu .menu-item-has-children.dropdown .sub-menu,
    .content ul.menu .menu-item-has-children.dropdown .sub-menu {
      margin: 0;
      padding: 0.5em 0;
      right: 0;
      position: absolute; }
      .main-nav ul.menu .menu-item-has-children.dropdown .sub-menu li a,
      .content ul.menu .menu-item-has-children.dropdown .sub-menu li a {
        text-align: left; }
      .main-nav ul.menu .menu-item-has-children.dropdown .sub-menu.active,
      .content ul.menu .menu-item-has-children.dropdown .sub-menu.active {
        border-radius: 0.15em 0 0.15em 0.15em; }
  .main-nav ul.menu.filter,
  .content ul.menu.filter {
    padding: 0; }
    .main-nav ul.menu.filter .sub-menu,
    .content ul.menu.filter .sub-menu {
      background: #fff; }
      .main-nav ul.menu.filter .sub-menu a:hover,
      .content ul.menu.filter .sub-menu a:hover {
        background: #f2f2f2; }

.light .main-nav .widget {
  border-color: #4d4d4d; }

.dark .main-nav .widget {
  border-color: #b3b3b3; }

.content.main,
.lazyload,
.lazyloaded,
.video.controls {
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body.chrome {
  -webkit-font-smoothing: antialiased; }

html.contained {
  background-color: #333; }
  html.contained body {
    background: transparent; }
  html.contained #wrapper {
    max-width: 65em;
    margin: 0 auto;
    overflow: hidden; }

#wrapper {
  z-index: -2;
  overflow: hidden; }

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0; }

.clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.sticky {
  font-style: normal; }

.entry-content img {
  margin: 0 0 1.5em; }

.alignleft,
.alignright,
img.alignleft,
img.alignright {
  max-width: 55%;
  margin-bottom: 1em; }

.alignleft,
img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.alignright,
img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.alignnone,
img.alignnone {
  margin: 1em 0 1.618em;
  display: inline-block; }

.aligncenter:first-child,
.alignleft:first-child,
.alignnone:first-child,
.alignright:first-child,
img.aligncenter:first-child,
img.alignleft:first-child,
img.alignnone:first-child,
img.alignright:first-child {
  margin-top: 0; }

.aligncenter:last-child,
.alignleft:last-child,
.alignnone:last-child,
.alignright:last-child,
img.aligncenter:last-child,
img.alignleft:last-child,
img.alignnone:last-child,
img.alignright:last-child {
  margin-bottom: 0; }

.image_full {
  margin: 0 auto; }

.p-gall .owl-carousel .owl-item img {
  width: auto;
  height: 10em; }

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  max-width: 100%; }
  .wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0; }
  .wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 0.75em;
    margin: 0;
    padding: .75em 1em 1.25em;
    text-align: center; }

.wp-smiley {
  margin: 0 !important;
  max-height: 1em; }

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left; }

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right; }

figure {
  margin: 0;
  padding: 0.5em 0; }

/*Wordpress editor styles end*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

div:empty {
  display: none; }

.wp-video {
  margin: 1em auto; }

.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.embed-container {
  margin: 1.618em 0;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: 0; }
  .embed-container:first-child {
    margin-top: 0; }
  .embed-container:last-child {
    margin-bottom: 0; }

.media-element .embed-container:first-child {
  margin-top: 1.618em; }

.media-element .embed-container:last-child {
  margin-bottom: 1.618em; }

.media-element:first-child .embed-container:first-child {
  margin-top: 0; }

.media-element:last-child .embed-container:first-child {
  margin-top: 0; }

.wp-audio-shortcode {
  margin: 1em 0; }
  .wp-audio-shortcode:first-child {
    margin-top: 0; }
  .wp-audio-shortcode:last-child {
    margin-bottom: 0; }

.override .mejs-container,
.override .mejs-container
.mejs-controls,
.override .mejs-embed,
.override .mejs-embed body {
  background: transparent; }

.override .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: rgba(255, 255, 255, 0.3); }

.override .mejs-controls .mejs-time-rail .mejs-time-current {
  background: #ffffff; }

.override .mejs-container {
  margin: 1em 0;
  border-radius: 0.15em;
  overflow: hidden;
  background: #4d4d4d; }
  .override .mejs-container:first-child {
    margin-top: 0; }
  .override .mejs-container:last-child {
    margin-bottom: 0; }
  .override .mejs-container div:empty {
    display: block; }

.s_over {
  position: relative;
  display: inline-block;
  min-width: 100%;
  font-size: 1rem; }

@media (min-width: 992px) {
  .media {
    max-width: 75%;
    margin: 0 auto; } }

iframe {
  width: 100%;
  border: none; }
  iframe.fb_like {
    width: 96px; }

video {
  max-width: 100%; }

.scrollme .content {
  position: relative;
  z-index: 10; }

.text {
  position: relative; }

.media,
.txt_blk {
  padding: 2rem; }

.media .intro,
.media .outro {
  padding-top: 0;
  padding-bottom: 0; }

.text {
  position: relative; }

.txt_blk {
  max-width: 40rem;
  margin: auto;
  position: relative;
  z-index: 10;
  margin: 0 auto; }

.txt_blk.page_nav {
  padding: 0.5em;
  background: #fafafa;
  max-width: 100%;
  font-size: 0.75em; }
  .txt_blk.page_nav .alignleft,
  .txt_blk.page_nav .alignright {
    margin: 0;
    padding: 1em;
    max-width: 50%; }
  .txt_blk.page_nav.tags {
    background: #f2f2f2;
    text-align: center; }
    .txt_blk.page_nav.tags a {
      padding: .2rem .6rem;
      background: #f2f2f2;
      margin: .3rem .5rem .3rem 0;
      border: 1px solid #4d4d4d;
      border-color: #4d4d4d;
      color: #4d4d4d;
      display: inline-block;
      border-radius: 0.15em; }
      .txt_blk.page_nav.tags a:hover {
        background: #fff; }

.slice {
  position: relative;
  background: #fff;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  line-height: 0;
  font-size: 0;
  padding: .1px;
  margin: -.2px; }
  .slice .woocommerce {
    line-height: 1.5; }

.txt_blk,
.text .txt_blk,
.two_column .two_column {
  width: 100%;
  max-width: 40rem;
  max-width: calc(40rem + 4.85vw + 4.85vw); }

.text .txt_blk.normal {
  width: 100%;
  max-width: none; }
  .text .txt_blk.normal .text_content {
    max-width: 40rem;
    margin: 0 auto;
    line-height: 1.5; }
  .text .txt_blk.normal.nopad_full_width .text_content {
    max-width: none; }

@media (max-width: 780px) {
  .text .txt_blk.soft_left.avm_10, .text .txt_blk.soft_left.avm_15, .text .txt_blk.soft_left.avm_25, .text .txt_blk.soft_right.avm_10, .text .txt_blk.soft_right.avm_15, .text .txt_blk.soft_right.avm_25, .text .txt_blk.soft_centre.avm_10, .text .txt_blk.soft_centre.avm_15, .text .txt_blk.soft_centre.avm_25, .p-gall .txt_blk.soft_left.avm_10, .p-gall .txt_blk.soft_left.avm_15, .p-gall .txt_blk.soft_left.avm_25, .p-gall .txt_blk.soft_right.avm_10, .p-gall .txt_blk.soft_right.avm_15, .p-gall .txt_blk.soft_right.avm_25, .p-gall .txt_blk.soft_centre.avm_10, .p-gall .txt_blk.soft_centre.avm_15, .p-gall .txt_blk.soft_centre.avm_25 {
    width: 80%;
    min-width: 80%;
    margin-left: 10%;
    border-radius: 0.15em; }
  .text .txt_blk.ocset.hard_left.avm_10, .text .txt_blk.ocset.hard_left.avm_15, .text .txt_blk.ocset.hard_left.avm_25, .p-gall .txt_blk.ocset.hard_left.avm_10, .p-gall .txt_blk.ocset.hard_left.avm_15, .p-gall .txt_blk.ocset.hard_left.avm_25 {
    width: 90%;
    min-width: 90%;
    margin-left: 0;
    border-radius: 0 0.15em 0.15em 0; }
  .text .txt_blk.ocset.hard_right.avm_10, .text .txt_blk.ocset.hard_right.avm_15, .text .txt_blk.ocset.hard_right.avm_25, .p-gall .txt_blk.ocset.hard_right.avm_10, .p-gall .txt_blk.ocset.hard_right.avm_15, .p-gall .txt_blk.ocset.hard_right.avm_25 {
    width: 90%;
    min-width: 90%;
    margin-left: 10%;
    border-radius: 0.15em 0 0 0.15em; } }

@media (min-width: 780px) {
  .text .txt_blk {
    max-width: 40rem;
    max-width: calc(40rem + 4.85vw + 4.85vw); }
    .text .txt_blk.hard_left, .text .txt_blk.hard_right, .text .txt_blk.soft_left, .text .txt_blk.soft_right, .text .txt_blk.soft_centre {
      max-width: none;
      min-width: 0; }
    .text .txt_blk.hard_left, .text .txt_blk.hard_right, .text .txt_blk.soft_left, .text .txt_blk.soft_right {
      width: 50%; }
    .text .txt_blk.soft_left.avm_10, .text .txt_blk.soft_left.avm_15, .text .txt_blk.soft_left.avm_25, .text .txt_blk.soft_right.avm_10, .text .txt_blk.soft_right.avm_15, .text .txt_blk.soft_right.avm_25, .text .txt_blk.soft_centre.avm_10, .text .txt_blk.soft_centre.avm_15, .text .txt_blk.soft_centre.avm_25 {
      border-radius: 0.15em; }
    .text .txt_blk.hard_left {
      margin-left: 0; }
      .text .txt_blk.hard_left.avm_10, .text .txt_blk.hard_left.avm_15, .text .txt_blk.hard_left.avm_25 {
        border-radius: 0 0.15em 0.15em 0; }
    .text .txt_blk.hard_right.avm_10, .text .txt_blk.hard_right.avm_15, .text .txt_blk.hard_right.avm_25 {
      border-radius: 0.15em 0 0 0.15em; }
    .text .txt_blk.soft_right {
      width: 50%;
      min-width: 50%;
      margin-left: 40%; }
      .text .txt_blk.soft_right.avm_10, .text .txt_blk.soft_right.avm_15, .text .txt_blk.soft_right.avm_25 {
        border-radius: 0.15em; }
    .text .txt_blk.soft_left {
      width: 50%;
      margin-left: 10%; }
      .text .txt_blk.soft_left.avm_10, .text .txt_blk.soft_left.avm_15, .text .txt_blk.soft_left.avm_25 {
        border-radius: 0.15em; }
    .text .txt_blk.soft_centre {
      max-width: 80%;
      min-width: 80%;
      margin-left: 10%;
      width: 100%; }
    .text .txt_blk.hard_right {
      margin-left: 50%; } }

@media (min-width: 1600px) {
  .txt_blk, .media {
    padding-left: 4.85vw;
    padding-right: 4.85vw; }
  .full .text .txt_blk.hard_left, .full .text .txt_blk.hard_right, .full .text .txt_blk.soft_left, .full .text .txt_blk.soft_right {
    max-width: none;
    width: 33%;
    min-width: 33%; }
  .full .text .txt_blk.soft_left {
    margin-left: 17%; }
  .full .text .txt_blk.soft_centre {
    width: 66%;
    min-width: 66%;
    margin-left: 17%; }
  .full .text .txt_blk.soft_right {
    margin-left: 50%; }
  .full .text .txt_blk.hard_right {
    margin-left: 67%; } }

@media (min-width: 1900px) {
  .full .text .txt_blk.soft_centre {
    width: 40rem;
    min-width: 0;
    margin-left: calc(50% - (40rem / 2)); } }

.avs_tighter {
  padding-top: .5rem;
  padding-bottom: .5rem; }

.avs_tight {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.avs_default {
  padding-top: 4.85vw;
  padding-bottom: 4.85vw; }

.avs_10 {
  padding-top: 10%;
  padding-top: 10vw;
  padding-bottom: 10%;
  padding-bottom: 10vw; }

.avs_15 {
  padding-top: 15%;
  padding-top: 15vw;
  padding-bottom: 15%;
  padding-bottom: 15vw; }

.avs_25 {
  padding-top: 25%;
  padding-top: 20vw;
  padding-bottom: 25%;
  padding-bottom: 20vw; }

.avs_full_screen {
  min-height: 100vh; }
  .avs_full_screen:not(.media) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .avs_full_screen.media {
    position: relative; }
    .avs_full_screen.media .media-container {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: 100%; }

.override .avm_ {
  margin-top: 0;
  margin-bottom: 0; }
  .override .avm_default {
    margin-top: 0;
    margin-bottom: 0; }
  .override .avm_5 {
    margin-top: 5%;
    margin-top: 5vw;
    margin-bottom: 5%;
    margin-bottom: 5vw; }
  .override .avm_10 {
    margin-top: 10%;
    margin-top: 10vw;
    margin-bottom: 10%;
    margin-bottom: 10vw; }
  .override .avm_15 {
    margin-top: 15%;
    margin-top: 15vw;
    margin-bottom: 15%;
    margin-bottom: 15vw; }
  .override .avm_25 {
    margin-top: 25%;
    margin-top: 20vw;
    margin-bottom: 25%;
    margin-bottom: 20vw; }

.override .avs_full_screen5.soft_centre, .override .avs_full_screen10.soft_centre, .override .avs_full_screen15.soft_centre, .override .avs_full_screen25.soft_centre {
  border-radius: 0.15em; }

@media screen and (max-width: 780px) {
  header.top.parallax .avs_default {
    padding-top: calc(4.85vw + 3rem + 4.85vw);
    padding-bottom: 4.85vw; }
  header.top.parallax .avs_10 {
    padding-top: calc(10% + 3rem);
    padding-top: calc(10vw + 3rem); }
  header.top.parallax .avs_15 {
    padding-top: calc(15% + 3rem);
    padding-top: calc(15vw + 3rem); }
  header.top.parallax .avs_25 {
    padding-top: calc(25% + 3rem);
    padding-top: calc(25vw + 3rem); }
  header.top.parallax .avs_full_screen {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 992px) {
  header.top .hat, header.top #header {
    min-height: calc( 4.85vw + 3rem + 4.85vw); }
  header.top .branding {
    top: 4.85vw;
    left: 4.85vw; }
  #tbc-nav-icon {
    right: 4.85vw;
    top: 4.85vw; }
    #tbc-nav-icon.is-hidden.active, #tbc-nav-icon.is-visible {
      top: 4.85vw; } }

.full .text .txt_blk.nopad_full_width {
  max-width: none;
  width: 100%;
  margin-left: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0; }
  .full .text .txt_blk.nopad_full_width .text_content {
    max-width: none; }

.navbar {
  margin: 0; }

.inline-block {
  display: inline-block;
  float: none;
  max-width: 100%;
  margin-left: -.2em;
  padding: 1.6vw 3.2vw 1.6vw 0; }

.vbottom {
  vertical-align: bottom; }

.vtop {
  vertical-align: top; }

.vbaseline {
  vertical-align: baseline; }

.vmiddle {
  vertical-align: middle; }

.feat_item {
  margin: 0; }

ul.tribe-list-widget {
  padding-left: 0;
  list-style: none; }
  ul.tribe-list-widget li {
    margin: 1.618em 0; }
    ul.tribe-list-widget li:first-child {
      margin-top: 0; }
    ul.tribe-list-widget li h5 {
      margin: 0; }

.justify-container {
  text-align: justify;
  font-size: 0; }
  .justify-container > * {
    text-align: left;
    font-size: medium; }
  .justify-container .justify-item {
    text-align: left;
    display: inline-block; }
  .justify-container:last-child:after {
    content: ' ';
    width: 100%;
    display: inline-block; }

.container {
  margin-right: auto;
  margin-left: auto; }

.panel-default.widget_search {
  border: none; }

.override .nopad_all, .override .nopad_top {
  padding-top: 0; }

.override .nopad_all, .override .nopad_bottom {
  padding-bottom: 0; }

.override .nopad_all, .override .nopad_left {
  padding-left: 0; }

.override .nopad_all, .override .nopad_right {
  padding-right: 0; }

.override .nopad_full_width {
  max-width: none; }

.intro,
.outro {
  font-size: 1rem; }

.vid .intro {
  padding-bottom: 0; }

.vid .outro {
  padding-top: 0; }

@media (max-width: 780px) {
  .media,
  .t_and_i,
  .avs_default {
    padding: 2rem; }
    .media .nopad_all, .media .nopad_top,
    .t_and_i .nopad_all,
    .t_and_i .nopad_top,
    .avs_default .nopad_all,
    .avs_default .nopad_top {
      padding-top: 0; }
    .media .nopad_all, .media .nopad_bottom,
    .t_and_i .nopad_all,
    .t_and_i .nopad_bottom,
    .avs_default .nopad_all,
    .avs_default .nopad_bottom {
      padding-bottom: 0; }
    .media .nopad_all, .media .nopad_left,
    .t_and_i .nopad_all,
    .t_and_i .nopad_left,
    .avs_default .nopad_all,
    .avs_default .nopad_left {
      padding-left: 0; }
    .media .nopad_all, .media .nopad_right,
    .t_and_i .nopad_all,
    .t_and_i .nopad_right,
    .avs_default .nopad_all,
    .avs_default .nopad_right {
      padding-right: 0; }
    .media .nopad_full_width,
    .t_and_i .nopad_full_width,
    .avs_default .nopad_full_width {
      max-width: none; } }
