@charset "UTF-8";
/*!
 Theme Name:   Riverbank Catering
 Description:  Sitebooster - Child Theme
 Author:       Sitebooster
 Template:     sitebooster
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/
.cat_header .parallax,
.cat_header .parallax .parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.cat_header.light .content.txt_blk {
  background: rgba(0, 0, 0, 0.5); }

.cat_header.dark .content.txt_blk {
  background: rgba(255, 255, 255, 0.5); }

#wrapper .filters {
  background: #f2f2f2;
  color: #333333;
  border-width: 1px 0 1px 0;
  padding: 0;
  text-align: center;
  font-size: 1em; }
  #wrapper .filters > p.filter {
    text-align: center; }
  #wrapper .filters .inline-block {
    padding: .5rem 1rem .5rem 1rem;
    margin: 0;
    text-align: left; }
  #wrapper .filters .menu-item-has-children.dropdown .sub-menu {
    margin: 0;
    padding: 0;
    left: 0;
    right: auto;
    position: absolute;
    background: #ffffff;
    border-radius: 0 0.15em 0.15em 0.15em; }
  #wrapper .filters ul.filter li {
    position: relative; }
  #wrapper .filters li ul ul.children {
    padding: 0;
    margin: 0; }
    #wrapper .filters li ul ul.children > li a:before {
      content: '- '; }
  #wrapper .filters li ul.children li a {
    padding-left: 1.6rem; }
  #wrapper .filters li ul.children li ul.children li a {
    padding-left: 2.6rem; }
  #wrapper .filters li ul.children li ul.children li ul.children li a {
    padding-left: 3.6rem; }
  #wrapper .filters li a {
    color: #4d4d4d;
    font-size: .85rem; }
  #wrapper .filters li a:hover {
    color: #000000;
    background: #f2f2f2;
    cursor: pointer; }
  #wrapper .filters li.current-cat > a {
    color: #000000;
    background: #f2f2f2; }
    #wrapper .filters li.current-cat > a:hover {
      cursor: default; }
  #wrapper .filters a.btn {
    font-size: .85rem;
    font-weight: 400;
    padding: .4rem .6rem;
    background: #fff;
    border-color: #4d4d4d;
    color: #4d4d4d; }
    #wrapper .filters a.btn.cat {
      padding-right: 1.2rem;
      background-color: #4d4d4d;
      color: #fff; }
      #wrapper .filters a.btn.cat.current {
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #fff; }
      #wrapper .filters a.btn.cat.active {
        border-radius: 0.15em 0.15em 0 0;
        background: #fff;
        border-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #4d4d4d; }
    #wrapper .filters a.btn.tag {
      margin: .3rem .5rem .3rem 0; }
      #wrapper .filters a.btn.tag.current:after {
        content: ' x';
        font-size: 0.7rem;
        display: inline-block;
        vertical-align: middle;
        padding-left: .5rem;
        padding-bottom: .3rem;
        line-height: 0; }
    #wrapper .filters a.btn.current {
      background: #bababa;
      border-color: #4d4d4d;
      color: #4d4d4d; }
    #wrapper .filters a.btn.disabled {
      background: #f2f2f2;
      border-color: #bababa;
      color: #bababa; }
      #wrapper .filters a.btn.disabled:hover {
        cursor: default; }

.events-archive #wrapper .filters li.dropdown a {
  background-color: #fff; }
  .events-archive #wrapper .filters li.dropdown a:hover {
    background-color: #fff; }

.row.list {
  width: 100%;
  max-width: 40rem;
  padding: 3.2vw 2rem;
  margin: 0 auto; }
  .row.list > article {
    padding: 3em 0;
    border-bottom: 1px dotted #ccc; }
    .row.list > article:last-child {
      border-bottom: 0; }
    .row.list > article a.thumbnail_link {
      width: 100%;
      padding: 0; }
    .row.list > article .image_container {
      display: inline-block; }
    .row.list > article .inline-block {
      width: 100%;
      padding: 0; }
    .row.list > article h3:first-child {
      margin: 0 0 .618em; }
    .row.list > article a.thumbnail_link {
      margin-bottom: 1em; }
    .row.list > article p.the_date.small {
      padding: 0 0 .618em;
      font-size: .7em; }
    .row.list > article:last-of-type {
      border-bottom: 0; }

.category .grid_cont .overlay .contain {
  padding: 0px; }

.load-more {
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 0;
  margin: 0; }

@media (max-width: 780px) {
  .row.list > article a.thumbnail_link {
    margin: 0; }
  .row.list > article .part, .row.list > article .bg {
    padding: 1rem 0 0;
    margin-left: 0; } }

@media (min-width: 780px) {
  .row.list > article a.thumbnail_link {
    width: 25%; }
  .row.list > article .part {
    width: 75%;
    padding-left: 2em; }
  .row.list > article .full {
    width: 100%;
    padding-left: calc(25% + 2em); } }

.image_container {
  position: relative;
  display: block; }
  .image_container svg.icon {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
    fill: #ffffff;
    opacity: .2;
    z-index: 99; }
    .image_container svg.icon.icon_count_2 {
      right: 2.5em; }
    .image_container svg.icon.icon_count_3 {
      right: 4em; }
    .image_container svg.icon.icon_count_4 {
      right: 5.5em; }
    .image_container svg.icon.icon_count_5 {
      right: 7em; }

.grid:not(.overlay) .image_container svg.icon-play {
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: .3; }

.dark .image_container svg.icon {
  fill: #000; }

.category.dark .contain {
  background: #efefef; }

.category.dark .grid .item .txt_bg {
  background: #fff; }

.category.light .contain {
  background: #2d2d2d; }

.category.light .grid .contain {
  background: #2d2d2d; }
  .category.light .grid .contain .item .txt_bg {
    background: #212121; }

.category.light .card.pagination {
  background: #222; }

.grid_cont .contain {
  margin-right: auto;
  margin-left: auto; }

.grid_cont .intro,
.grid_cont .outro {
  margin: 0 auto;
  text-align: left;
  padding: 0;
  max-width: 40rem; }

.grid_cont .intro {
  padding-bottom: 1.618vw; }

.grid_cont .outro {
  padding-top: 1.618vw; }

.grid_cont.center .item {
  text-align: center; }

.grid_cont.right .item {
  text-align: right; }

.grid_cont .items {
  font-size: 0;
  margin: auto;
  padding: 0 0 0 2rem;
  margin: 0 -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.grid_cont .item {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-size: .9rem;
  text-align: left;
  padding: 1rem 2rem 1rem 0;
  position: relative; }
  .grid_cont .item img {
    max-width: 100%; }
  .grid_cont .item.button {
    vertical-align: middle; }
    .grid_cont .item.button:before {
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      font-size: 0em; }
  .grid_cont .item .link {
    text-align: right;
    position: relative; }
    .grid_cont .item .link .btn {
      font-size: .7em;
      padding: .5em 1em;
      opacity: .5; }
      .grid_cont .item .link .btn:hover {
        opacity: 1; }

.grid_cont .s_over:not(.full).overlay .contain {
  max-width: calc(40rem + 2rem + 2rem + 0px + 0px); }

.grid_cont .s_over:not(.full).no_overlay .contain {
  max-width: calc(40rem + 2rem + 2rem); }

.grid_cont .overlay .items {
  padding: 0;
  margin: 0; }

.grid_cont .contain {
  padding-left: 2rem;
  padding-right: 2rem; }
  .grid_cont .contain.nopad_all, .grid_cont .contain.nopad_top {
    padding-top: 0; }
  .grid_cont .contain.nopad_all, .grid_cont .contain.nopad_bottom {
    padding-bottom: 0; }
  .grid_cont .contain.nopad_all, .grid_cont .contain.nopad_left {
    padding-left: 0; }
  .grid_cont .contain.nopad_all, .grid_cont .contain.nopad_right {
    padding-right: 0; }
  .grid_cont .contain.nopad_full_width {
    max-width: none; }

.full .grid.full {
  max-width: 100%; }

@media (min-width: 370px) {
  .grid.odd .item {
    width: 50%; }
  .grid.odd .ic_1 {
    width: 100%; }
  .grid .item {
    width: 50%; } }

@media (max-width: 370px) {
  .grid .item.button:last-child {
    margin-bottom: 5%; } }

@media (min-width: 780px) {
  .grid.odd .item {
    width: 50%; }
    .grid.odd .item.ic_1 {
      width: 50%; }
    .grid.odd .item:nth-last-child(-n+3) {
      width: 33.33%; } }

@media (min-width: 1600px) {
  .full .grid_cont .grid.full .items {
    max-width: none;
    margin: 0 auto; } }

@media (min-width: 992px) and (max-width: 1600px) {
  .grid .item {
    width: 33.33%; }
  .grid.odd .item.ic_1, .grid.odd .item.ic_2 {
    width: 50%; }
  .grid.odd .item:nth-last-child(-n+3) {
    width: 33.33%; }
  .grid.ti_2 .item {
    width: 50%; }
  .grid.ti_4 .item,
  .grid.ti_4 .item.ic_1 {
    width: 25%; }
  .grid.ti_5 .item {
    width: 50%; }
  .grid.ti_6 .item {
    width: 33.3%; }
  .grid.ti_7 .item {
    width: 25%; }
    .grid.ti_7 .item.ic_1, .grid.ti_7 .item.ic_2, .grid.ti_7 .item.ic_3 {
      width: 33.3%; }
    .grid.ti_7 .item:nth-last-child(-n+3) {
      width: 25%; }
  .grid.ti_8 .item {
    width: 33.3%; }
    .grid.ti_8 .item.ic_1, .grid.ti_8 .item.ic_2 {
      width: 50%; }
  .grid.ti_10 .item {
    width: 33.3%; }
    .grid.ti_10 .item.ic_10, .grid.ti_10 .item.ic_7, .grid.ti_10 .item.ic_8, .grid.ti_10 .item.ic_9 {
      width: 25%; }
  .grid.ti_11 .item {
    width: 33.3%; }
  .grid.no_overlay.contained .item {
    width: 33.33%; }
  .grid.no_overlay.contained.even .item {
    width: 50%; }
  .grid.no_overlay.contained.odd .item {
    width: 50%; }
  .grid.no_overlay.contained.odd .item:nth-last-child(-n+3) {
    width: 33.33%;
    font-size: .85rem; } }

@media (min-width: 1600px) and (max-width: 1900px) {
  .full .grid.full {
    max-width: none;
    width: 100%; }
    .full .grid.full.ti_2 .item {
      width: 50%; }
    .full .grid.full.ti_3 .item {
      width: 33.3%; }
    .full .grid.full.ti_4 .item {
      width: 25%; }
    .full .grid.full.ti_5 .item {
      width: 20%; }
    .full .grid.full.ti_5 .item.ic_1,
    .full .grid.full.ti_5 .item.ic_2 {
      width: 20%; }
    .full .grid.full.ti_6 .item {
      width: 33.3%; }
    .full .grid.full.ti_7 .item {
      width: 25%; }
      .full .grid.full.ti_7 .item.ic_1, .full .grid.full.ti_7 .item.ic_2, .full .grid.full.ti_7 .item.ic_3 {
        width: 33.3%; }
    .full .grid.full.ti_8 .item {
      width: 25%; }
    .full .grid.full.ti_9 .item {
      width: 33.3%; }
    .full .grid.full.ti_10 .item {
      width: 20%; }
    .full .grid.full.ti_11 .item {
      width: 33.3%; }
      .full .grid.full.ti_11 .item.ic_11, .full .grid.full.ti_11 .item.ic_10, .full .grid.full.ti_11 .item.ic_9, .full .grid.full.ti_11 .item.ic_8, .full .grid.full.ti_11 .item.ic_7, .full .grid.full.ti_11 .item.ic_6, .full .grid.full.ti_11 .item.ic_5, .full .grid.full.ti_11 .item.ic_4 {
        width: 25%; }
    .full .grid.full .item {
      width: 25%; } }

@media (min-width: 1900px) and (max-width: 2500px) {
  .full .grid.full .item {
    width: 20%; }
  .full .grid.full.ti_2 .item {
    width: 50%; }
  .full .grid.full.ti_3 .item {
    width: 33.3333%; }
  .full .grid.full.ti_4 .item {
    width: 25%; }
  .full .grid.full .ti_5 .item {
    width: 20%; }
    .full .grid.full .ti_5 .item.ic_1, .full .grid.full .ti_5 .item.ic_2 {
      width: 20%; }
  .full .grid.full.ti_6 .item {
    width: 16.666666%; }
  .full .grid.full.ti_7 .item {
    width: 25%; }
    .full .grid.full.ti_7 .item.ic_1, .full .grid.full.ti_7 .item.ic_2, .full .grid.full.ti_7 .item.ic_3 {
      width: 33.3%; }
  .full .grid.full.ti_8 .item {
    width: 25%; }
  .full .grid.full.ti_9 .item {
    width: 20%; }
    .full .grid.full.ti_9 .item.ic_1, .full .grid.full.ti_9 .item.ic_2, .full .grid.full.ti_9 .item.ic_3, .full .grid.full.ti_9 .item.ic_4 {
      width: 25%; }
  .full .grid.full.ti_11 .item {
    width: 16.666666%; }
    .full .grid.full.ti_11 .item.ic_6, .full .grid.full.ti_11 .item.ic_7, .full .grid.full.ti_11 .item.ic_8, .full .grid.full.ti_11 .item.ic_9, .full .grid.full.ti_11 .item.ic_10, .full .grid.full.ti_11 .item.ic_11 {
      width: 16.666666%; }
    .full .grid.full.ti_11 .item.ic_1, .full .grid.full.ti_11 .item.ic_2, .full .grid.full.ti_11 .item.ic_3, .full .grid.full.ti_11 .item.ic_4, .full .grid.full.ti_11 .item.ic_5 {
      width: 20%; }
  .full .grid.full.ti_12 .item {
    width: 25%; } }

@media (min-width: 2500px) {
  .full .grid.full {
    max-width: none;
    width: 100%; }
    .full .grid.full .item {
      width: 16.666666%; }
    .full .grid.full.ti_2 .item {
      width: 50%; }
    .full .grid.full.ti_3 .item {
      width: 33.3333%; }
    .full .grid.full.ti_4 .item {
      width: 25%; }
    .full .grid.full.odd.ti_5 .item {
      width: 20%; }
      .full .grid.full.odd.ti_5 .item.ic_1, .full .grid.full.odd.ti_5 .item.ic_2 {
        width: 20%; }
    .full .grid.full.ti_6 .item {
      width: 16.666666%; }
    .full .grid.full.ti_7 .item {
      width: 14.2%; }
    .full .grid.full.ti_8 .item {
      width: 25%; }
    .full .grid.full.ti_9 .item {
      width: 20%; }
      .full .grid.full.ti_9 .item.ic_1, .full .grid.full.ti_9 .item.ic_2, .full .grid.full.ti_9 .item.ic_3, .full .grid.full.ti_9 .item.ic_4 {
        width: 25%; }
    .full .grid.full.ti_10 .item {
      width: 20%; }
    .full .grid.full.ti_11 .item {
      width: 16.666666%; }
      .full .grid.full.ti_11 .item.ic_6, .full .grid.full.ti_11 .item.ic_7, .full .grid.full.ti_11 .item.ic_8, .full .grid.full.ti_11 .item.ic_9, .full .grid.full.ti_11 .item.ic_10, .full .grid.full.ti_11 .item.ic_11 {
        width: 16.666666%; }
      .full .grid.full.ti_11 .item.ic_1, .full .grid.full.ti_11 .item.ic_2, .full .grid.full.ti_11 .item.ic_3, .full .grid.full.ti_11 .item.ic_4, .full .grid.full.ti_11 .item.ic_5 {
        width: 20%; }
    .full .grid.full.ti_12 .item {
      width: 16.666666%; } }

.grid .item .date {
  position: absolute;
  top: 0;
  background: #62B346;
  text-align: center;
  padding: .5rem;
  font-size: .8rem;
  color: #fff;
  font-weight: bold; }
  .grid .item .date span {
    display: inline-block;
    width: 100%;
    line-height: 1; }
    .grid .item .date span.big {
      font-size: 1.5rem; }
    .grid .item .date span.small {
      text-transform: uppercase; }

.grid .item .date {
  right: 0;
  width: 3rem; }

.grid .item.button {
  text-align: center; }

.grid.no_overlay .item {
  position: relative; }
  .grid.no_overlay .item .date {
    top: 0.809vw;
    right: 1.618vw; }
  .grid.no_overlay .item h3,
  .grid.no_overlay .item h4 {
    min-height: 3rem; }

.grid.no_overlay.carousel .date {
  top: 1em;
  right: .5em; }

.category.gallery .grid.gallery {
  padding: 0px; }
  .category.gallery .grid.gallery .item {
    margin: 0;
    padding: 0px;
    position: relative; }

.grid.card .txt_bg {
  display: block;
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 0.15em; }

.grid.card .text {
  position: static;
  display: block;
  padding-bottom: 2rem; }
  .grid.card .text .link {
    position: absolute;
    bottom: 1.75rem;
    right: 2.75rem; }

.grid.card .item {
  z-index: 2; }
  .grid.card .item a.image_container {
    opacity: .8;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    border-radius: 0.15em 0.15em 0 0;
    overflow: hidden; }
  .grid.card .item:hover a.image_container {
    opacity: 1; }
  .grid.card .item img {
    display: block;
    width: 100%;
    max-width: none; }
  .grid.card .item .text_content {
    text-align: left;
    padding: .85rem; }
    .grid.card .item .text_content img {
      width: auto;
      display: inline-block; }
    .grid.card .item .text_content h3,
    .grid.card .item .text_content h4 {
      padding-bottom: .25em;
      font-size: 1em; }
    .grid.card .item .text_content li,
    .grid.card .item .text_content p {
      font-size: .9em; }
      .grid.card .item .text_content li.small.tags,
      .grid.card .item .text_content p.small.tags {
        font-size: .6em;
        opacity: .6; }
      .grid.card .item .text_content li.mod-date,
      .grid.card .item .text_content p.mod-date {
        font-size: .6em;
        opacity: .5;
        padding: 0 0 .5em; }

@media (max-width: 700px) {
  .grid.overlay .item {
    font-size: .8rem; }
    .grid.overlay .item .text {
      padding: .3em; } }

@media (min-width: 370px) {
  .grid.card .txt_bg {
    right: 2rem; } }

@media (max-width: 370px) {
  .grid.card .item {
    margin-bottom: 1.618vw; }
    .grid.card .item:last-child {
      margin-bottom: 0; } }

.grid.center .item .text_content {
  text-align: center; }

.grid.right .item .text_content {
  text-align: right; }

.grid.carousel .owl-carousel {
  padding-left: 0; }

.grid.carousel .item {
  display: block;
  margin: 0;
  padding: 1em .5em; }
  .grid.carousel .item a {
    outline: none; }
  .grid.carousel .item .txt_bg {
    right: .5em;
    left: .5em;
    top: 1em;
    bottom: 1em; }

.grid.image_type_none .txt_bg {
  border-radius: 0.15em; }

.grid.overlay .card {
  overflow: hidden;
  position: relative; }

.grid.overlay .item {
  padding: 0px;
  position: relative;
  overflow: hidden; }
  .grid.overlay .item img {
    display: block;
    width: 101%;
    -webkit-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    max-width: none; }
  .grid.overlay .item:hover a img {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06); }
  .grid.overlay .item:hover .text {
    background: #62B346; }

.grid.overlay .image_container {
  overflow: hidden; }

.grid.overlay .text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  padding: .32em .618em; }
  .grid.overlay .text .text_content {
    padding: 0; }
  .grid.overlay .text h3,
  .grid.overlay .text h4 {
    margin: 0;
    color: #fff;
    line-height: 1.1; }
  .grid.overlay .text p {
    display: none; }

.grid.overlay.left .item .text, .grid.overlay.right .item .text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 3.2vw 1em 1em 1em;
  width: 100%; }
  .grid.overlay.left .item .text .text_content, .grid.overlay.right .item .text .text_content {
    overflow: hidden; }
  .grid.overlay.left .item .text h4, .grid.overlay.right .item .text h4 {
    padding: 0 0 .5em; }
  .grid.overlay.left .item .text p, .grid.overlay.right .item .text p {
    display: block;
    max-height: 0;
    font-size: .65rem;
    -webkit-transition: max-height .3s ease;
    -o-transition: max-height .3s ease;
    transition: max-height .3s ease;
    padding: 0; }
    .grid.overlay.left .item .text p.mod-date, .grid.overlay.right .item .text p.mod-date {
      font-size: .6em;
      opacity: .5; }
  .grid.overlay.left .item .text .link, .grid.overlay.right .item .text .link {
    display: none; }

.grid.overlay.left .item:hover p, .grid.overlay.right .item:hover p {
  max-height: 12em;
  padding: 0 0 .5em 0; }

.grid.overlay.left .item .text {
  left: 0px;
  right: auto;
  max-width: calc(100% - 0px - 0px); }

.grid.overlay.right .item .text {
  left: auto;
  right: 0px;
  max-width: calc(100% - 0px - 0px); }

.grid.overlay.center .item .text {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease; }
  .grid.overlay.center .item .text .text_content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    max-width: none;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: transparent;
    bottom: auto;
    padding: 1rem; }
    .grid.overlay.center .item .text .text_content p {
      display: none; }

.grid.overlay.right .item .text {
  text-align: right; }

.dark .overlay.left .item .text, .dark .overlay.right .item .text {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.7)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  text-shadow: 0 0.1em 0.3em rgba(255, 255, 255, 0.3); }

.dark .overlay.left .item:hover .text, .dark .overlay.right .item:hover .text {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(30%, rgba(255, 255, 255, 0.8)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 30%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 30%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 30%);
  text-shadow: 0 0.1em 0.3em rgba(255, 255, 255, 0.3); }

.dark .overlay .text h3, .dark .overlay .text h4, .dark .overlay .text p {
  color: rgba(0, 0, 0, 0.9); }

.dark .overlay.center .text {
  background: rgba(255, 255, 255, 0.7); }
  .dark .overlay.center .text:hover {
    background: rgba(255, 255, 255, 0.3); }

.light .overlay.left .item .text, .light .overlay.right .item .text {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  text-shadow: 0 0.18em 0.3em rgba(0, 0, 0, 0.7); }

.light .overlay.left .item:hover .text, .light .overlay.right .item:hover .text {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 30%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 30%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 30%);
  text-shadow: 0 0.18em 0.3em rgba(0, 0, 0, 0.7); }

.light .overlay .text h3, .light .overlay .text h4, .light .overlay .text p {
  color: rgba(255, 255, 255, 0.9); }

.light .overlay.center .text {
  background: rgba(0, 0, 0, 0.3); }
  .light .overlay.center .text:hover {
    background: rgba(0, 0, 0, 0.7); }

.grid.overlay.center .item .text {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

.image_type_original .item img {
  width: auto;
  margin: 0 auto;
  max-width: 100%; }

@media (min-width: 992px) {
  .grid.overlay .text h4 {
    font-size: 1em; }
  .grid.overlay.contained .text h4 {
    font-size: .85em; } }

.jumbotron {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0; }
  .jumbotron .caption {
    position: relative;
    padding: 0;
    z-index: 10;
    text-align: center; }
    .jumbotron .caption .cap-cont {
      position: relative;
      top: auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      left: auto;
      right: auto;
      padding: 0; }
      .jumbotron .caption .cap-cont p {
        display: block; }
      .jumbotron .caption .cap-cont h1, .jumbotron .caption .cap-cont h2, .jumbotron .caption .cap-cont h3, .jumbotron .caption .cap-cont h4, .jumbotron .caption .cap-cont h5, .jumbotron .caption .cap-cont h6 {
        line-height: 1; }
  .jumbotron.height-full .caption .cap-cont {
    padding: 33vh 10%; }
    .jumbotron.height-full .caption .cap-cont:empty {
      display: block;
      height: 33vh; }
  .jumbotron.height-two_thirds .caption .cap-cont {
    padding: 16vh 10%; }
    .jumbotron.height-two_thirds .caption .cap-cont:empty {
      display: block;
      height: 33vh; }
  .jumbotron.height-one_third .caption .cap-cont {
    padding: 10%; }
    .jumbotron.height-one_third .caption .cap-cont:empty {
      display: block;
      height: 33vh; }

@media (min-width: 992px) {
  .jumbotron.caption_location_right .caption {
    text-align: right;
    width: 50%;
    margin-left: 50%; }
  .jumbotron.caption_location_left .caption {
    width: 50%; } }

@media (min-width: 1600px) {
  .full .jumbotron.caption_location_right .caption {
    text-align: right;
    width: 33%;
    margin-left: 67%; }
  .full .jumbotron.caption_location_left .caption {
    width: 33%; } }

@media (min-width: 2500px) {
  .full .jumbotron.caption_location_right .caption {
    text-align: right;
    width: 25%;
    margin-left: 75%; }
  .full .jumbotron.caption_location_left .caption {
    width: 25%; } }

#wrapper .jumbotron .background-image,
#wrapper .parallax .bgimg {
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  top: 50%;
  left: 50%;
  background: #444444; }

#wrapper .parallax {
  position: relative; }

#wrapper .jumbotron .background-image img,
#wrapper .parallax .bgimg img {
  max-width: none;
  min-width: 100%;
  width: 100%; }

@media (max-width: 992px) {
  #wrapper .jumbotron .background-image img,
  #wrapper .parallax .bgimg img {
    min-height: 100vh;
    width: auto; } }

@media (max-width: 1900px) {
  #wrapper .jumbotron .background-image img,
  #wrapper .parallax .bgimg img {
    min-height: 100vh; } }

.parallax:not(.video),
.parallax .parallax:not(.video) {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

@media screen and (max-width: 780px) {
  .parallax:not(.video),
  .parallax .parallax:not(.video) {
    background-attachment: scroll; } }

.btn,
a.btn,
.comment-form input[type="submit"],
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=image],
.gform_wrapper .gform_footer input[type=submit],
input[type="button"] {
  display: inline-block;
  vertical-align: top;
  margin: 1px 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  border-radius: 0.15em;
  font-size: 1em;
  line-height: 1;
  border: 1px solid #7db346;
  color: #7db346;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .btn:hover,
  a.btn:hover,
  .comment-form input[type="submit"]:hover,
  .gform_wrapper .gform_footer input.button:hover,
  .gform_wrapper .gform_footer input[type=image]:hover,
  .gform_wrapper .gform_footer input[type=submit]:hover,
  input[type="button"]:hover {
    color: #ffffff;
    background: #7db346;
    text-decoration: none; }
  .btn-default,
  a.btn-default,
  .comment-form input[type="submit"]-default,
  .gform_wrapper .gform_footer input.button-default,
  .gform_wrapper .gform_footer input[type=image]-default,
  .gform_wrapper .gform_footer input[type=submit]-default,
  input[type="button"]-default {
    border: 1px solid #bababa;
    color: #bababa; }
    .btn-default:hover,
    a.btn-default:hover,
    .comment-form input[type="submit"]-default:hover,
    .gform_wrapper .gform_footer input.button-default:hover,
    .gform_wrapper .gform_footer input[type=image]-default:hover,
    .gform_wrapper .gform_footer input[type=submit]-default:hover,
    input[type="button"]-default:hover {
      color: #000000;
      background: #bababa;
      text-decoration: none; }
  .btn.focus, .btn:focus, .btn.active.focus, .btn.active:focus, .btn:active.focus, .btn:active:focus,
  a.btn.focus,
  a.btn:focus,
  a.btn.active.focus,
  a.btn.active:focus,
  a.btn:active.focus,
  a.btn:active:focus,
  .comment-form input[type="submit"].focus,
  .comment-form input[type="submit"]:focus,
  .comment-form input[type="submit"].active.focus,
  .comment-form input[type="submit"].active:focus,
  .comment-form input[type="submit"]:active.focus,
  .comment-form input[type="submit"]:active:focus,
  .gform_wrapper .gform_footer input.button.focus,
  .gform_wrapper .gform_footer input.button:focus,
  .gform_wrapper .gform_footer input.button.active.focus,
  .gform_wrapper .gform_footer input.button.active:focus,
  .gform_wrapper .gform_footer input.button:active.focus,
  .gform_wrapper .gform_footer input.button:active:focus,
  .gform_wrapper .gform_footer input[type=image].focus,
  .gform_wrapper .gform_footer input[type=image]:focus,
  .gform_wrapper .gform_footer input[type=image].active.focus,
  .gform_wrapper .gform_footer input[type=image].active:focus,
  .gform_wrapper .gform_footer input[type=image]:active.focus,
  .gform_wrapper .gform_footer input[type=image]:active:focus,
  .gform_wrapper .gform_footer input[type=submit].focus,
  .gform_wrapper .gform_footer input[type=submit]:focus,
  .gform_wrapper .gform_footer input[type=submit].active.focus,
  .gform_wrapper .gform_footer input[type=submit].active:focus,
  .gform_wrapper .gform_footer input[type=submit]:active.focus,
  .gform_wrapper .gform_footer input[type=submit]:active:focus,
  input[type="button"].focus,
  input[type="button"]:focus,
  input[type="button"].active.focus,
  input[type="button"].active:focus,
  input[type="button"]:active.focus,
  input[type="button"]:active:focus {
    text-shadow: 0 0 solid rgba(0, 0, 0, 0); }
  .btn.active, .btn:active,
  a.btn.active,
  a.btn:active,
  .comment-form input[type="submit"].active,
  .comment-form input[type="submit"]:active,
  .gform_wrapper .gform_footer input.button.active,
  .gform_wrapper .gform_footer input.button:active,
  .gform_wrapper .gform_footer input[type=image].active,
  .gform_wrapper .gform_footer input[type=image]:active,
  .gform_wrapper .gform_footer input[type=submit].active,
  .gform_wrapper .gform_footer input[type=submit]:active,
  input[type="button"].active,
  input[type="button"]:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    background: #233314; }

.light .btn,
.light a.btn,
.light .comment-form input[type="submit"],
.light .gform_wrapper .gform_footer input.button,
.light .gform_wrapper .gform_footer input[type=image],
.light .gform_wrapper .gform_footer input[type=submit],
.light input[type="button"] {
  color: #fff;
  border-color: #fff; }
  .light .btn:hover,
  .light a.btn:hover,
  .light .comment-form input[type="submit"]:hover,
  .light .gform_wrapper .gform_footer input.button:hover,
  .light .gform_wrapper .gform_footer input[type=image]:hover,
  .light .gform_wrapper .gform_footer input[type=submit]:hover,
  .light input[type="button"]:hover {
    color: #000;
    background: #fff; }

.dark .btn,
.dark a.btn,
.dark .comment-form input[type="submit"],
.dark .gform_wrapper .gform_footer input.button,
.dark .gform_wrapper .gform_footer input[type=image],
.dark .gform_wrapper .gform_footer input[type=submit],
.dark input[type="button"] {
  color: #000;
  border-color: #000; }
  .dark .btn:hover,
  .dark a.btn:hover,
  .dark .comment-form input[type="submit"]:hover,
  .dark .gform_wrapper .gform_footer input.button:hover,
  .dark .gform_wrapper .gform_footer input[type=image]:hover,
  .dark .gform_wrapper .gform_footer input[type=submit]:hover,
  .dark input[type="button"]:hover {
    color: #fff;
    background: #000; }

.light .large .btn,
.light .large a.btn,
.light .large .comment-form input[type="submit"],
.light .large .gform_wrapper .gform_footer input.button,
.light .large .gform_wrapper .gform_footer input[type=image],
.light .large .gform_wrapper .gform_footer input[type=submit],
.light .large input[type="button"] {
  font-size: 1rem;
  color: #26451b;
  background: #fbfdfb;
  border-color: #fbfdfb; }
  .light .large .btn:hover,
  .light .large a.btn:hover,
  .light .large .comment-form input[type="submit"]:hover,
  .light .large .gform_wrapper .gform_footer input.button:hover,
  .light .large .gform_wrapper .gform_footer input[type=image]:hover,
  .light .large .gform_wrapper .gform_footer input[type=submit]:hover,
  .light .large input[type="button"]:hover {
    color: #000;
    background: white; }

.dark .large .btn,
.dark .large a.btn,
.dark .large .comment-form input[type="submit"],
.dark .large .gform_wrapper .gform_footer input.button,
.dark .large .gform_wrapper .gform_footer input[type=image],
.dark .large .gform_wrapper .gform_footer input[type=submit],
.dark .large input[type="button"] {
  font-size: 1rem;
  color: #fbfdfb;
  background: #4e8e38;
  border-color: #4e8e38; }
  .dark .large .btn:hover,
  .dark .large a.btn:hover,
  .dark .large .comment-form input[type="submit"]:hover,
  .dark .large .gform_wrapper .gform_footer input.button:hover,
  .dark .large .gform_wrapper .gform_footer input[type=image]:hover,
  .dark .large .gform_wrapper .gform_footer input[type=submit]:hover,
  .dark .large input[type="button"]:hover {
    color: #fff;
    background: #3a6a29; }

.override input,
.override select,
.override textarea {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  padding: 0.5rem 0.75rem;
  font-size: 1em;
  border-radius: 0.15em;
  border-width: 1px;
  max-width: 100%;
  border-style: solid;
  font-weight: 300; }
  .override input::-webkit-input-placeholder,
  .override select::-webkit-input-placeholder,
  .override textarea::-webkit-input-placeholder {
    color: rgba(77, 77, 77, 0.2);
    font-weight: 300; }
  .override input:-ms-input-placeholder,
  .override select:-ms-input-placeholder,
  .override textarea:-ms-input-placeholder {
    color: rgba(77, 77, 77, 0.2);
    font-weight: 300; }
  .override input::-ms-input-placeholder,
  .override select::-ms-input-placeholder,
  .override textarea::-ms-input-placeholder {
    color: rgba(77, 77, 77, 0.2);
    font-weight: 300; }
  .override input::placeholder,
  .override select::placeholder,
  .override textarea::placeholder {
    color: rgba(77, 77, 77, 0.2);
    font-weight: 300; }

.override .light input,
.override .light select,
.override .light textarea {
  border-color: gray; }

.override .dark input,
.override .dark select,
.override .dark textarea {
  border-color: gray; }

.override .gform_wrapper {
  line-height: 1.5; }
  .override .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  .override .gform_wrapper select {
    padding: 0.5rem 0.75rem; }

.override input[type="submit"] {
  background: #62B346;
  color: #ffffff; }
  .override input[type="submit"]:hover {
    cursor: pointer;
    background: #80c468;
    color: #000000; }

.override textarea {
  min-height: 8em; }

.override :not(.mejs-button) > button,
.override :not(.mejs-button) > input[type="submit"] {
  background: #62B346;
  padding: 0.618rem 1rem;
  font-size: 1em;
  line-height: 1;
  white-space: nowrap;
  border: 0;
  border-bottom: 1px solid #bababa;
  margin: 0; }

.override fieldset {
  border: 1px solid #f2f2f2; }

.override .form_saved_message .form_saved_message_emailform {
  text-align: center; }

.override .form_saved_message a {
  color: rgba(255, 51, 51, 0.5); }

.override .partial_entry_warning {
  font-size: 0.7em;
  color: #bababa;
  font-style: italic; }

.override .gform_wrapper {
  display: block !important;
  font-size: 1rem; }
  .override .gform_wrapper p {
    font-size: 1em;
    margin: 0.618em 0 0.31em; }
  .override .gform_wrapper h1,
  .override .gform_wrapper h2,
  .override .gform_wrapper h3,
  .override .gform_wrapper h4,
  .override .gform_wrapper h5,
  .override .gform_wrapper h6 {
    font-family: "Open Sans", Verdana, Geneva, sans-serif; }
  .override .gform_wrapper .gf_page_steps {
    margin: 0 0 1.618em; }
  .override .gform_wrapper .gf_step {
    width: auto;
    height: auto;
    margin: 0;
    padding: .5em 1.75em .5em 0;
    display: inline-block;
    font-size: .76em; }
  .override .gform_wrapper ul.gform_fields .col_hard_left {
    float: left;
    width: 33%;
    clear: left;
    padding-right: 3%; }
  .override .gform_wrapper ul.gform_fields .col_hard_right {
    float: right;
    width: 67%;
    padding-left: 0;
    clear: right; }
  .override .gform_wrapper ul.gform_fields .gfield.readonly input,
  .override .gform_wrapper ul.gform_fields .gfield input[readonly] {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 1.618em;
    color: #878787; }
  .override .gform_wrapper ul.gform_fields .gfield.gf_hide {
    display: none; }
  .override .gform_wrapper select {
    margin: 0;
    border: 1px solid #ccc;
    background: #ffffff;
    padding: 0.5rem 1em 0.5rem 0.75rem;
    font-size: 1em;
    border-radius: 0.15em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%; }
    .override .gform_wrapper select.medium.gfield_select {
      width: 100%; }
    .override .gform_wrapper select::-ms-expand {
      display: none;
      /* emove default arrow in IE 10 and 11 */ }
  .override .gform_wrapper .ginput_container_select {
    position: relative; }
    .override .gform_wrapper .ginput_container_select select {
      width: 100%;
      padding: 0.5rem 0.75rem;
      line-height: 1.5; }
    .override .gform_wrapper .ginput_container_select::after {
      content: ' ';
      position: absolute;
      top: 50%;
      right: 1em;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0.618em 0.3em 0 0.3em;
      border-color: #cccccc transparent transparent transparent; }
  .override .gform_wrapper .dark select {
    border: 1px solid #ccc;
    background: #ffffff; }
  .override .gform_wrapper .dark .gform_wrapper .ginput_container_select::after {
    border-color: #cccccc transparent transparent transparent; }
  .override .gform_wrapper .dark .gfield_required {
    color: gray; }
  .override .gform_wrapper .light select {
    border: 1px solid #444444;
    background: #111111; }
  .override .gform_wrapper .light .gform_wrapper .ginput_container_select::after {
    border-color: #444444 transparent transparent transparent; }
  .override .gform_wrapper .light .gfield_required {
    color: gray; }
  .override .gform_wrapper .gfield.gfield_price label.gfield_label {
    font-weight: bold; }
  .override .gform_wrapper .gfield.gfield_price .ginput_product_price {
    color: #62B346; }
  .override .gform_wrapper label.gfield_label {
    font-weight: normal;
    font-size: 1em; }
  .override .gform_wrapper table.gfield_list thead th {
    font-weight: normal;
    font-size: 0.8em;
    padding-bottom: 0; }
  .override .gform_wrapper li.gfield.field_description_below + li.gsection {
    padding-top: 1.618em; }
  .override .gform_wrapper .top_label .ginput_container {
    margin-top: 0; }
  .override .gform_wrapper .top_label .gsection_description {
    margin-top: 1em;
    margin-bottom: 1em; }
  .override .gform_wrapper .field_description_below {
    padding-top: 0;
    padding-bottom: 1em;
    font-size: 1em; }
    .override .gform_wrapper .field_description_below .gfield_description {
      padding-top: 0.25em; }
  .override .gform_wrapper li.gfield.gf_list_3col ul.gfield_checkbox li,
  .override .gform_wrapper li.gfield.gf_list_3col ul.gfield_radio li {
    margin-bottom: 0.618em; }
  .override .gform_wrapper .gfield_checkbox li input,
  .override .gform_wrapper .gfield_checkbox li input[type=checkbox],
  .override .gform_wrapper .gfield_radio li input[type=radio] {
    vertical-align: top;
    margin: 0.3em 0.4em 0 0.1em; }
  .override .gform_wrapper li.gfield.gf_list_3col ul.gfield_checkbox li,
  .override .gform_wrapper li.gfield.gf_list_3col ul.gfield_radio li {
    overflow: auto; }
  .override .gform_wrapper li.gfield.gf_list_2col ul.gfield_checkbox li label,
  .override .gform_wrapper li.gfield.gf_list_2col ul.gfield_radio li label,
  .override .gform_wrapper li.gfield.gf_list_3col ul.gfield_checkbox li label,
  .override .gform_wrapper li.gfield.gf_list_3col ul.gfield_radio li label,
  .override .gform_wrapper li.gfield.gf_list_4col ul.gfield_checkbox li label,
  .override .gform_wrapper li.gfield.gf_list_4col ul.gfield_radio li label {
    white-space: normal; }
  .override .gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked + label,
  .override .gform_wrapper ul.gfield_radio li input[type=radio]:checked + label {
    font-weight: normal; }
  .override .gform_wrapper .gform_page_footer .button.gform_previous_button {
    opacity: 0.5;
    vertical-align: top;
    display: inline-block; }
    .override .gform_wrapper .gform_page_footer .button.gform_previous_button:hover {
      opacity: 1; }
  .override .gform_wrapper .gform_page_footer .button.gform_button, .override .gform_wrapper .gform_page_footer .button.gform_next_button, .override .gform_wrapper .gform_page_footer .button.gform_previous_button {
    margin-bottom: 1em; }
  .override .gform_wrapper .gfield_checkbox li label,
  .override .gform_wrapper .gfield_radio li label {
    font-size: 1em; }
  .override .gform_wrapper .gf_btn {
    text-align: center; }
    .override .gform_wrapper .gf_btn .gfield_checkbox li label,
    .override .gform_wrapper .gf_btn .gfield_radio li label {
      background: transparent;
      border-radius: 0.15em;
      border: 1px solid #62B346;
      text-align: center;
      color: #62B346;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      padding: .6rem 1rem;
      width: 100%;
      margin: 1.618em 1px 1px; }
    .override .gform_wrapper .gf_btn .gfield_checkbox li input,
    .override .gform_wrapper .gf_btn .gfield_radio li input {
      position: absolute;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      top: .8em; }
      .override .gform_wrapper .gf_btn .gfield_checkbox li input:checked + label,
      .override .gform_wrapper .gf_btn .gfield_radio li input:checked + label {
        background: #62B346;
        color: #fff; }
  .override .gform_wrapper li.gfield.gfield_error,
  .override .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    padding: 0 1em; }

.override .gform_wrapper .field_description_below .gfield_consent_description, .override .gform_wrapper .gfield_consent_description {
  padding: 0;
  border: 0;
  opacity: .7; }

.override .light .btn,
.override .light .comment-form input[type="submit"],
.override .light .gform_wrapper .gform_footer input.button,
.override .light .gform_wrapper .gform_footer input[type=image],
.override .light .gform_wrapper .gform_footer input[type=submit],
.override .light input[type="button"],
.override .dark .light .btn,
.override .dark .light .comment-form input[type="submit"],
.override .dark .light .gform_wrapper .gform_footer input.button,
.override .dark .light .gform_wrapper .gform_footer input[type=image],
.override .dark .light .gform_wrapper .gform_footer input[type=submit],
.override .dark .light input[type="button"] {
  border-color: #fff;
  color: #fff; }
  .override .light .btn:hover,
  .override .light .comment-form input[type="submit"]:hover,
  .override .light .gform_wrapper .gform_footer input.button:hover,
  .override .light .gform_wrapper .gform_footer input[type=image]:hover,
  .override .light .gform_wrapper .gform_footer input[type=submit]:hover,
  .override .light input[type="button"]:hover,
  .override .dark .light .btn:hover,
  .override .dark .light .comment-form input[type="submit"]:hover,
  .override .dark .light .gform_wrapper .gform_footer input.button:hover,
  .override .dark .light .gform_wrapper .gform_footer input[type=image]:hover,
  .override .dark .light .gform_wrapper .gform_footer input[type=submit]:hover,
  .override .dark .light input[type="button"]:hover {
    color: #000;
    background: #fff; }

.override .light .gf_btn .gfield_checkbox li label,
.override .light .gf_btn .gfield_radio li label,
.override .dark .light .gf_btn .gfield_checkbox li label,
.override .dark .light .gf_btn .gfield_radio li label {
  background: transparent;
  border: 1px solid #fff;
  color: #fff; }

.override .light .gf_btn .gfield_checkbox li input:checked + label,
.override .light .gf_btn .gfield_radio li input:checked + label,
.override .dark .light .gf_btn .gfield_checkbox li input:checked + label,
.override .dark .light .gf_btn .gfield_radio li input:checked + label {
  background: #fff;
  color: #000; }

header.top .slice.video.parallax .video_bg {
  position: absolute; }

.slice.video {
  background-color: transparent;
  z-index: 0; }
  .slice.video .video_bg {
    position: fixed;
    z-index: -1;
    overflow: hidden; }

.mobile #slice_header_0 {
  background-attachment: inherit; }

.contained .slice.video.parallax .video_bg {
  position: absolute; }

.video_bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }
  .video_bg video.fullscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: none;
    max-height: none;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .video_bg.native:after {
    content: ' ';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-image: url(img/subtle-dots.png); }
  .video_bg .youtube_container {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 156.25vh; }
    .video_bg .youtube_container > iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

.video.controls {
  opacity: 1;
  position: absolute;
  bottom: 1.618vw;
  right: 1.618vw;
  z-index: 999;
  height: 40px; }
  .video.controls .button {
    width: 40px;
    height: 40px;
    padding: 10px;
    stroke-width: 0;
    fill: #fff;
    opacity: .25;
    z-index: 1;
    background: #000;
    border-radius: 50%; }
    .video.controls .button.active {
      display: none;
      z-index: -1; }
      .video.controls .button.active:hover {
        cursor: pointer; }
    .video.controls .button:hover {
      opacity: .75; }

.text_image {
  overflow: hidden; }
  .text_image .s_over {
    padding-top: 0;
    padding-bottom: 0; }
  .text_image .avs_default .inline-block {
    padding-top: 4.85vw;
    padding-bottom: 4.85vw; }
  .text_image .avs_10 .inline-block {
    padding-top: 10%;
    padding-top: 10vw;
    padding-bottom: 10%;
    padding-bottom: 10vw; }
  .text_image .avs_15 .inline-block {
    padding-top: 15%;
    padding-top: 15vw;
    padding-bottom: 15%;
    padding-bottom: 15vw; }
  .text_image .avs_25 .inline-block {
    padding-top: 25%;
    padding-top: 20vw;
    padding-bottom: 25%;
    padding-bottom: 20vw; }
  .text_image .nopad_full_width .t_and_i {
    max-width: none; }
  .text_image .nopad_left .t_and_i {
    padding-left: 0; }
  .text_image .nopad_right .t_and_i.image_left .text {
    padding-right: 0; }
  .text_image .nopad_right .t_and_i.image_right .image {
    padding-right: 0; }
  .text_image .nopad_bottom .t_and_i .inline-block {
    padding-bottom: 0; }
  .text_image .nopad_top .t_and_i .inline-block {
    padding-top: 0; }
  .text_image .nopad_all .t_and_i.image_left .text {
    padding-right: 0; }
  .text_image .nopad_all .t_and_i.image_right .image {
    padding-right: 0; }
  .text_image .nopad_all .t_and_i .inline-block {
    padding-bottom: 0; }
  .text_image .nopad_all .t_and_i .inline-block {
    padding-top: 0; }
  .text_image .nopad_all .t_and_i {
    padding-left: 0; }
  .text_image .image, .text_image .text {
    position: relative;
    z-index: 1; }

@media (max-width: 630px) {
  .override .text_image .content.t_and_i {
    padding: 0; }
  .text_image .avs_default .inline-block {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .image_left .image, .image_left .text,
  .image_right .image,
  .image_right .text {
    width: 100%;
    margin: 0;
    padding: 2rem 0; }
    .image_left .image img, .image_left .text img,
    .image_right .image img,
    .image_right .text img {
      width: 80%;
      max-width: none;
      margin: 0 auto; }
  .image_left .image,
  .image_right .image {
    padding: 3.2vw 0; }
    .image_left .image.nopad_top,
    .image_right .image.nopad_top {
      padding-top: 0; }
    .image_left .image.nopad_bottom,
    .image_right .image.nopad_bottom {
      padding-bottom: 0; }
    .image_left .image.nopad_side,
    .image_right .image.nopad_side {
      padding-left: 0;
      padding-right: 0; }
    .image_left .image.nopad_all,
    .image_right .image.nopad_all {
      padding: 0; }
  .image_right .nopad_outside.image img {
    margin: 0 0 0 auto; }
  .image_left .nopad_outside.image img {
    margin: 0 auto 0 0; }
  .text_image .image_top .content {
    display: -ms-grid;
    display: grid;
    grid-auto-rows: minmax(0, auto); }
    .text_image .image_top .content .text {
      -ms-grid-row: 2;
      grid-row: 2; }
    .text_image .image_top .content .image {
      -ms-grid-row: 1;
      grid-row: 1; }
  .text_image .image_bottom .content {
    display: -ms-grid;
    display: grid;
    grid-auto-rows: minmax(0, auto); }
    .text_image .image_bottom .content .text {
      -ms-grid-row: 1;
      grid-row: 1; }
    .text_image .image_bottom .content .image {
      -ms-grid-row: 2;
      grid-row: 2; } }

@media (min-width: 630px) {
  .t_and_i {
    padding: 0 0 0 4.85vw;
    margin: 0 auto;
    max-width: 40rem;
    max-width: calc(40rem + 4.85vw + 4.85vw); }
    .t_and_i .inline-block {
      padding: 4.85vw 4.85vw 4.85vw 0;
      margin-right: -.1em; }
    .t_and_i .image img {
      width: 100%;
      max-width: none; }
    .t_and_i.image_right .text {
      text-align: right; }
    .t_and_i.image_left .text {
      text-align: left; }
    .t_and_i.image_right .image, .t_and_i.image_right .text, .t_and_i.image_left .image, .t_and_i.image_left .text {
      width: 50%;
      padding-right: 4.85vw; }
    .t_and_i.image_right .image, .t_and_i.image_left .image {
      z-index: 1; }
      .t_and_i.image_right .image.nopad_top, .t_and_i.image_left .image.nopad_top {
        padding-top: 0; }
      .t_and_i.image_right .image.nopad_bottom, .t_and_i.image_left .image.nopad_bottom {
        padding-bottom: 0; }
      .t_and_i.image_right .image.nopad_side, .t_and_i.image_left .image.nopad_side {
        padding-left: 0;
        padding-right: 0; }
      .t_and_i.image_right .image.nopad_all, .t_and_i.image_left .image.nopad_all {
        padding: 0; }
    .t_and_i.image_right.one_third .text, .t_and_i.image_left.one_third .text {
      width: 33%; }
    .t_and_i.image_right.one_third .image, .t_and_i.image_left.one_third .image {
      width: 66%; }
    .t_and_i.image_right.two_thirds .text, .t_and_i.image_left.two_thirds .text {
      width: 66%; }
    .t_and_i.image_right.two_thirds .image, .t_and_i.image_left.two_thirds .image {
      width: 33%; }
    .t_and_i.image_right .text {
      text-align: right; } }

.two_column .two_column {
  position: relative;
  z-index: 1; }
  .two_column .two_column h1:first-child:last-child, .two_column .two_column h2:first-child:last-child, .two_column .two_column h3:first-child:last-child, .two_column .two_column h4:first-child:last-child, .two_column .two_column h5:first-child:last-child, .two_column .two_column h6:first-child:last-child, .two_column .two_column p:first-child:last-child, .two_column .two_column ul:first-child:last-child, .two_column .two_column ol:first-child:last-child {
    margin: 0; }
  .two_column .two_column h1:first-child, .two_column .two_column h2:first-child, .two_column .two_column h3:first-child, .two_column .two_column h4:first-child, .two_column .two_column h5:first-child, .two_column .two_column h6:first-child, .two_column .two_column p:first-child, .two_column .two_column ul:first-child, .two_column .two_column ol:first-child {
    margin-top: 0; }
  .two_column .two_column h1:last-child, .two_column .two_column h2:last-child, .two_column .two_column h3:last-child, .two_column .two_column h4:last-child, .two_column .two_column h5:last-child, .two_column .two_column h6:last-child, .two_column .two_column p:last-child, .two_column .two_column ul:last-child, .two_column .two_column ol:last-child {
    margin-bottom: 0; }

@media (max-width: 780px) {
  .two_column {
    padding: 0; }
    .two_column .column,
    .two_column .intro,
    .two_column .outro {
      padding: 0; }
    .two_column .column.left,
    .two_column .intro {
      padding-bottom: 2rem; } }

@media (min-width: 780px) {
  .two_column .two_column {
    margin: 0 auto;
    padding: 0 0 0 4.85vw;
    z-index: 10;
    position: relative; }
    .two_column .two_column .column {
      font-size: 12.6px;
      font-size: calc( 12.6px + .25vw);
      width: 49%;
      display: inline-block;
      vertical-align: top;
      margin-right: -.2rem;
      padding: 1.6vw 4.85vw 0 0; }
      .two_column .two_column .column.vbottom {
        vertical-align: bottom; }
      .two_column .two_column .column.vtop {
        vertical-align: top; }
      .two_column .two_column .column.vmiddle {
        vertical-align: middle; }
    .two_column .two_column .intro {
      padding: 0 4.85vw 1.618vw 0; }
    .two_column .two_column .image_right .text {
      text-align: right; }
    .two_column .two_column .image_left .text {
      text-align: left; }
    .two_column .two_column.one_third .column.left {
      width: 33%; }
    .two_column .two_column.one_third .column.right {
      width: 66%; }
    .two_column .two_column .column.half {
      width: 49.9%; }
    .two_column .two_column.two_thirds .column.left {
      width: 66%; }
    .two_column .two_column.two_thirds .column.right {
      width: 33%; }
  .two_column .nopad_full_width .two_column {
    max-width: none; }
  .two_column .nopad_left .two_column {
    padding-left: 0; }
  .two_column .nopad_right .column.right {
    padding-right: 0; }
  .two_column .nopad_bottom .column {
    padding-bottom: 0; }
  .two_column .nopad_all .two_column {
    padding-left: 0; }
  .two_column .nopad_all .column {
    padding-bottom: 0; }
    .two_column .nopad_all .column.right {
      padding-right: 0; } }

@media (min-width: calc(40rem + $white-space-lg + $white-space-lg)) {
  .two_column .two_column {
    padding: 4.85vw 0; } }

a.lightmeup:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.p-gall {
  font-size: 0em;
  text-align: center; }
  .p-gall.full {
    width: 100%;
    max-width: none; }
  .p-gall .thumb {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    margin: 0px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    position: relative; }
    .p-gall .thumb img {
      height: 8rem;
      max-width: 100%;
      margin: 0 auto;
      width: auto; }
    .p-gall .thumb .text {
      width: 100%;
      padding: .5em .5em .25em;
      margin: 0; }
    .p-gall .thumb .text p, .p-gall .thumb .gall-cap p {
      font-size: .7rem;
      display: block;
      padding: 0;
      margin: 0 0 .618em; }

.share.small {
  padding: .5em; }
  .share.small .share_on {
    font-size: .7em;
    margin: 0;
    padding: 0; }
  .share.small .dev-share-buttons {
    display: block;
    height: 1.5em; }
  .share.small a {
    border: none;
    padding: .05em;
    border-radius: 0;
    display: inline-block;
    width: 1.5em;
    height: 1.5em; }
    .share.small a span.dev-share-buttons__text {
      display: none; }
    .share.small a svg {
      width: 100%;
      height: 100%;
      fill: rgba(255, 255, 255, 0.5); }
    .share.small a:hover[href*="facebook"] svg {
      fill: #3b5998; }
    .share.small a:hover[href*="twitter"] svg {
      fill: #55acee; }
    .share.small a:hover[href*="google"] svg {
      fill: #dd4b39; }
    .share.small a:hover[href*="pinterest"] svg {
      fill: #cb2027; }
    .share.small a:hover[href*="linkedin"] svg {
      fill: #007bb5; }
    .share.small a:hover[href*="reddit"] svg {
      fill: #ff4500; }
    .share.small a:hover[href*="stumbleupon"] svg {
      fill: #eb4924; }

.txt_blk .p-gall {
  max-width: 40rem;
  margin: 1.618rem auto 2rem; }
  .txt_blk .p-gall:first-child {
    margin-top: 0; }
  .txt_blk .p-gall:last-child {
    margin-bottom: 0; }

.nopad_full_width .p-gall {
  max-width: none; }

.gallery > .p-gall:not(.carousel),
.gallery.p-gall:not(.carousel) .contained,
.text_content > .p-gall:not(.carousel),
.text_content.p-gall:not(.carousel) .contained {
  padding: 0px;
  text-align: center;
  font-size: 0; }
  .gallery > .p-gall:not(.carousel) .thumb,
  .gallery.p-gall:not(.carousel) .contained .thumb,
  .text_content > .p-gall:not(.carousel) .thumb,
  .text_content.p-gall:not(.carousel) .contained .thumb {
    margin: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    max-width: 12rem;
    min-width: 8rem; }
    .gallery > .p-gall:not(.carousel) .thumb a,
    .gallery.p-gall:not(.carousel) .contained .thumb a,
    .text_content > .p-gall:not(.carousel) .thumb a,
    .text_content.p-gall:not(.carousel) .contained .thumb a {
      display: block;
      height: 12em;
      overflow: hidden;
      position: relative; }
      .gallery > .p-gall:not(.carousel) .thumb a img,
      .gallery.p-gall:not(.carousel) .contained .thumb a img,
      .text_content > .p-gall:not(.carousel) .thumb a img,
      .text_content.p-gall:not(.carousel) .contained .thumb a img {
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        max-height: none;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translatex(-50%) translatey(-50%);
        -ms-transform: translatex(-50%) translatey(-50%);
        transform: translatex(-50%) translatey(-50%);
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center; }
    .gallery > .p-gall:not(.carousel) .thumb:hover a img,
    .gallery.p-gall:not(.carousel) .contained .thumb:hover a img,
    .text_content > .p-gall:not(.carousel) .thumb:hover a img,
    .text_content.p-gall:not(.carousel) .contained .thumb:hover a img {
      -webkit-transition: -webkit-transform 6s ease;
      transition: -webkit-transform 6s ease;
      -o-transition: transform 6s ease;
      transition: transform 6s ease;
      transition: transform 6s ease, -webkit-transform 6s ease;
      -webkit-transform: translatex(-51%) translatey(-51%) scale(1.5);
      -ms-transform: translatex(-51%) translatey(-51%) scale(1.5);
      transform: translatex(-51%) translatey(-51%) scale(1.5); }

.nopad_all .p-gall,
.nopad_top .p-gall,
.nopad_bottom .p-gall {
  margin: 0; }

/**		Owl Carousel - Core		*/
/**		Default theme - Owl Carousel CSS File		*/
.owl-theme .owl-nav {
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 1.2rem;
    width: 8vw;
    min-width: 40px;
    margin: 0;
    line-height: 1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #62B346;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .owl-prev {
    left: 0;
    padding-right: 1em; }
  .owl-theme .owl-nav .owl-next {
    right: 0;
    padding-left: 1em; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  width: 100%;
  padding: 0 3em;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      -webkit-transition: opacity 200ms ease;
      -o-transition: opacity 200ms ease;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #62B346; }

.light .owl-theme .owl-dots .owl-dot span {
  background: rgba(255, 255, 255, 0.4); }

.light .owl-theme .owl-dots .owl-dot.active span, .light .owl-theme .owl-dots .owl-dot:hover span {
  background: rgba(255, 255, 255, 0.8); }

.light .owl-theme .owl-nav [class*='owl-'] {
  color: #eee;
  background: #333; }
  .light .owl-theme .owl-nav [class*='owl-']:hover {
    color: #fff; }

.light .owl-theme .owl-nav .owl-next {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%); }

.light .owl-theme .owl-nav .owl-prev {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%); }

.dark .owl-theme .owl-dots .owl-dot span {
  background: rgba(0, 0, 0, 0.4); }

.dark .owl-theme .owl-dots .owl-dot.active span, .dark .owl-theme .owl-dots .owl-dot:hover span {
  background: rgba(0, 0, 0, 0.8); }

.dark .owl-theme .owl-nav [class*='owl-'] {
  color: #333;
  background: #eee; }
  .dark .owl-theme .owl-nav [class*='owl-']:hover {
    color: #000; }

.dark .owl-theme .owl-nav .owl-next {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.8)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%); }

.dark .owl-theme .owl-nav .owl-prev {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%); }

.slide.owl-theme .owl-dots {
  position: absolute;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%); }

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  font-size: 1rem; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    margin-right: -1px; }
    .owl-carousel .owl-item .item {
      width: 100% !important; }
  .owl-carousel.carousel .owl-item {
    margin-right: -.1px; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: auto; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

.p-gall .owl-carousel .owl-item img {
  width: auto;
  height: 10em; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

@media (max-width: 780px) {
  .owl-dots {
    display: none; } }

.caption {
  padding: 0 15%;
  font-size: 1em;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  text-align: center; }
  .caption .cap-cont {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    padding: 0 15%;
    font-size: calc(.5em + 1vw); }
    .caption .cap-cont .btn, .caption .cap-cont h1, .caption .cap-cont h2, .caption .cap-cont h3, .caption .cap-cont h4, .caption .cap-cont h5, .caption .cap-cont h6, .caption .cap-cont p {
      padding: .2em 0 .2em; }
      .caption .cap-cont .btn:first-child, .caption .cap-cont h1:first-child, .caption .cap-cont h2:first-child, .caption .cap-cont h3:first-child, .caption .cap-cont h4:first-child, .caption .cap-cont h5:first-child, .caption .cap-cont h6:first-child, .caption .cap-cont p:first-child {
        padding-top: 0; }
      .caption .cap-cont .btn:last-child, .caption .cap-cont h1:last-child, .caption .cap-cont h2:last-child, .caption .cap-cont h3:last-child, .caption .cap-cont h4:last-child, .caption .cap-cont h5:last-child, .caption .cap-cont h6:last-child, .caption .cap-cont p:last-child {
        padding-bottom: 0; }
    .caption .cap-cont img {
      display: inline-block; }

@media (min-width: 992px) {
  .caption_location_full .caption {
    text-align: center; }
  .caption_location_left .caption,
  .caption_location_right .caption {
    width: 30em;
    padding: 0;
    max-width: 90%; }
  .caption_location_left .caption {
    right: auto;
    text-align: left; }
  .caption_location_right .caption {
    left: auto;
    text-align: right; } }

@media (max-width: 780px) {
  .caption .cap-cont {
    padding: 0 8%; } }

.carousel {
  max-width: 40rem;
  margin: auto; }
  .carousel.full {
    max-width: 100%;
    margin: 0; }
  .carousel .item {
    position: relative;
    overflow: hidden; }
    .carousel .item .background-image {
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background-position: center center;
      -webkit-transform: translateZ(-1px) scale(2.5);
      transform: translateZ(-1px) scale(2.5);
      z-index: -1; }
      .carousel .item .background-image img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 100%;
        max-width: 200%;
        max-height: 200%; }
  .carousel:hover .carousel-caption {
    opacity: 1; }

.gallery .nopad_full_width {
  max-width: 100%; }
  .gallery .nopad_full_width .carousel {
    max-width: 100%;
    margin: 0; }

.tabbed a.tab-link {
  display: block;
  font-size: 1.1em;
  max-width: 40rem;
  margin: .25rem auto 0;
  border: 0;
  border-radius: 0.15em;
  padding: 1em; }
  .tabbed a.tab-link.current {
    opacity: 1;
    border-bottom: 0;
    border-radius: 0.15em 0.15em 0 0;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: -1px; }
    .tabbed a.tab-link.current :focus {
      outline: none; }

.tabbed .tab-content {
  display: none;
  background: #fff;
  padding: 3.2vw;
  margin: auto;
  max-width: 40rem;
  border: 0; }
  .tabbed .tab-content.current {
    display: block; }

.dark.tabbed .tab-content {
  background: rgba(255, 255, 255, 0.9); }

.dark.tabbed a.tab-link {
  background-color: rgba(255, 255, 255, 0.6); }
  .dark.tabbed a.tab-link:not(.current):hover {
    background: rgba(255, 255, 255, 0.8); }
  .dark.tabbed a.tab-link.current {
    color: #000;
    background: rgba(255, 255, 255, 0.9); }
    .dark.tabbed a.tab-link.current:focus, .dark.tabbed a.tab-link.current:hover {
      color: #000; }

.light.tabbed .tab-content {
  background: rgba(0, 0, 0, 0.9); }

.light.tabbed a.tab-link {
  background-color: rgba(0, 0, 0, 0.6); }
  .light.tabbed a.tab-link:not(.current):hover {
    background-color: rgba(0, 0, 0, 0.8); }
  .light.tabbed a.tab-link.current {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9); }
    .light.tabbed a.tab-link.current:focus, .light.tabbed a.tab-link.current:hover {
      color: #fff; }

@media (min-width: 780px) {
  .tabbed ul.tabs {
    display: block;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    max-width: 40rem; }
    .tabbed ul.tabs li {
      background: none;
      display: inline-block;
      padding: 0; }
    .tabbed ul.tabs a.tab-link {
      padding: .5em 1em;
      cursor: pointer;
      border: 0;
      border-color: #f2f2f2;
      font-size: .7em;
      letter-spacing: -.01em;
      word-spacing: -.05em;
      border-radius: 0; }
  .tabbed a.tab-link.mobile {
    display: none; }
  .tabbed .tab-content {
    border-radius: 0;
    border: 0; } }

@media (max-width: 780px) {
  .tabbed ul.tabs {
    display: none; }
  .tabbed a.tab-link.mobile {
    display: block; }
  .tabbed .tab-content.current {
    border-radius: 0 0 0.15em 0.15em;
    padding-top: 0; } }

dl.comp-table {
  border-collapse: collapse;
  text-align: center;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  width: calc(25% - 1em); }
  dl.comp-table dt {
    font-family: "Nunito", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    background: #333333;
    color: white;
    font-size: 1.4em;
    font-weight: bold; }
  dl.comp-table dt,
  dl.comp-table dd {
    width: 100%;
    border: 1px solid #f2f2f2;
    margin: 0;
    text-align: center;
    padding: .75em 1.25em; }
  dl.comp-table dd {
    border-top: 0;
    border-bottom: 0;
    background: #fff; }
    dl.comp-table dd.price {
      font-weight: 700;
      font-size: 2em; }
    dl.comp-table dd.bold p {
      font-weight: 700; }
    dl.comp-table dd.button {
      padding: 0; }
      dl.comp-table dd.button a {
        padding: 1em;
        white-space: normal;
        font-weight: 700;
        background: #62B346;
        color: #ffffff;
        width: 100%;
        display: block; }
        dl.comp-table dd.button a:hover {
          color: #ffffff; }
    dl.comp-table dd img {
      padding: 4.85vw; }
      dl.comp-table dd img.alignleft, dl.comp-table dd img.alignright {
        margin-left: 0 !important;
        margin-right: 0 !important;
        float: none; }
    dl.comp-table dd:nth-of-type(even) {
      background: #f6f6f6; }
    dl.comp-table dd:last-child {
      border-bottom: 1px solid #f2f2f2; }
    dl.comp-table dd a.btn {
      font-size: 1.618em;
      margin: .618em; }

.light dl p,
.dark dl p {
  color: #4d4d4d; }

.feat_list .txt_blk {
  padding-bottom: 0; }

.feat_list h6 {
  margin: 0;
  font-size: 1rem; }

.feat_list ul {
  padding: 0;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center; }
  .feat_list ul .feat_item {
    display: inline-block;
    vertical-align: top;
    padding: 1rem 0;
    width: 100%;
    position: relative;
    list-style: none;
    text-align: left; }
    .feat_list ul .feat_item .feat_title {
      max-width: calc(100% - 3rem); }
    .feat_list ul .feat_item img.feat_icon, .feat_list ul .feat_item:not(.icon):before {
      display: inline-block;
      vertical-align: middle;
      max-width: 1.5rem;
      max-height: 1.5rem;
      margin-right: .75rem; }
    .feat_list ul .feat_item:not(.icon):before {
      content: '•';
      padding-left: .5rem; }
    .feat_list ul .feat_item .feat_title {
      display: inline-block;
      vertical-align: middle;
      padding: 0; }

.feat_list .intro {
  padding-top: 0;
  padding-bottom: 1.618vw; }

.feat_list .full_width ul,
.feat_list .nopad_full_width ul {
  max-width: 90%; }

@media (min-width: 780px) {
  .feat_list ul .feat_item {
    max-width: 49.6%; }
    .feat_list ul .feat_item .feat_title {
      font-size: .8rem;
      padding-right: 1.3rem; } }

@media (min-width: 992px) {
  .feat_list ul .feat_item {
    max-width: 32.9%;
    padding: .5rem 0; }
    .feat_list ul .feat_item .feat_title {
      font-size: .7rem; } }

@media (min-width: 1280px) {
  .feat_list .full_width ul .feat_item,
  .feat_list .nopad_full_width ul .feat_item {
    max-width: 24.5%; } }

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.9 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2017, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
  html.with-featherlight {
    /* disable global scrolling when featherlights are visible */
    overflow: hidden; }
  .override {
    /* support for nested featherlights. Does not work in IE8 (use JS to fix) */
    /* contains the content */
    /* don't show these though */
    /* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */ }
    .override .featherlight {
      display: none;
      /* dimensions: spanning the background from edge to edge */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2147483647;
      /* z-index needs to be >= elements on the site. */
      /* position: centering content */
      text-align: center;
      /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
      white-space: nowrap;
      /* styling */
      cursor: pointer;
      background: #333;
      /* IE8 "hack" for nested featherlights */
      background: rgba(0, 0, 0, 0); }
    .override .featherlight:last-of-type {
      background: rgba(0, 0, 0, 0.8); }
    .override .featherlight:before {
      /* position: trick to center content vertically */
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .override .featherlight .featherlight-content {
      /* make content container for positioned elements (close button) */
      position: relative;
      /* position: centering vertical and horizontal */
      text-align: left;
      vertical-align: middle;
      display: inline-block;
      /* dimensions: cut off images */
      overflow: auto;
      padding: .5rem;
      /* dimensions: handling large content */
      margin-left: 5%;
      margin-right: 5%;
      max-height: 95%;
      /* styling */
      background: #fff;
      cursor: auto;
      /* reset white-space wrapping */
      white-space: normal; }
    .override .featherlight .featherlight-inner {
      /* make sure its visible */
      display: block; }
    .override .featherlight script.featherlight-inner,
    .override .featherlight link.featherlight-inner,
    .override .featherlight style.featherlight-inner {
      display: none; }
    .override .featherlight .featherlight-close-icon {
      position: absolute;
      z-index: 9999;
      top: 0;
      right: 0;
      line-height: 40px;
      width: 40px;
      cursor: pointer;
      text-align: center;
      font-family: Arial, sans-serif;
      background: #fff;
      color: #000;
      border: none;
      padding: 0;
      border-radius: 0 0 0 0.15rem; }
    .override .featherlight .featherlight-close-icon::-moz-focus-inner {
      border: 0;
      padding: 0; }
    .override .featherlight .featherlight-image {
      /* styling */
      width: 100%; }
    .override span.featherlight-next,
    .override span.featherlight-previous {
      position: absolute;
      top: 0;
      bottom: 0;
      padding: 3em;
      display: block; }
      .override span.featherlight-next span,
      .override span.featherlight-previous span {
        position: absolute;
        bottom: 50%;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
        padding: .5em .75em;
        background: #fff;
        font-size: .8rem; }
      .override span.featherlight-next:hover,
      .override span.featherlight-previous:hover {
        cursor: pointer; }
    .override span.featherlight-previous {
      left: 0; }
      .override span.featherlight-previous span {
        left: 0;
        border-radius: 0 0.15rem 0.15rem 0; }
    .override span.featherlight-next {
      right: 0; }
      .override span.featherlight-next span {
        right: 0;
        border-radius: 0.15rem 0 0 0.15rem; }
    .override .featherlight-iframe .featherlight-content {
      /* removed the border for image croping since iframe is edge to edge */
      border-bottom: 0;
      padding: 0;
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll; }
    .override .featherlight iframe {
      /* styling */
      border: none; }
    .override .featherlight * {
      /* See https://github.com/noelboss/featherlight/issues/42 */
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    /* dimensions: maximize lightbox with for small screens */
    margin-left: 0;
    margin-right: 0;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent; } }

/* hide non featherlight items when printing */
@media print {
  @page {
    size: landscape; }
  html.with-featherlight > * > :not(.featherlight) {
    display: none; } }

@-webkit-keyframes fluidboxLoading {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0);
    transform: translate(-50%, -50%) rotateX(0) rotateY(0); }
  50% {
    -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg); } }

@keyframes fluidboxLoading {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0);
    transform: translate(-50%, -50%) rotateX(0) rotateY(0); }
  50% {
    -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg); } }

.fluidbox {
  outline: none; }

.fluidbox__overlay {
  background-color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
  height: 999vh;
  right: 0;
  /* Transition time for overlay is halved to ensure that flickering doesn't happen */
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .fluidbox__overlay:empty {
    display: block; }
  .fluidbox--opened .fluidbox__overlay {
    pointer-events: auto; }

.fluidbox__wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.fluidbox__thumb {
  -webkit-transition: opacity 0s ease-in-out 0s;
  -o-transition: opacity 0s ease-in-out 0s;
  transition: opacity 0s ease-in-out 0s;
  /* To prevent flickering, we delay the showing of the image */ }
  .fluidbox--closed .fluidbox__thumb {
    -webkit-transition: opacity 0s ease-in-out 0s;
    -o-transition: opacity 0s ease-in-out 0s;
    transition: opacity 0s ease-in-out 0s; }

.fluidbox__ghost {
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  transition-duration: 0s, 0.5s;
  transition-delay: 0s;
  -webkit-transition-property: opacity, -webkit-transform;
  /* autoprefixer: off */
  transition-property: opacity, -webkit-transform;
  /* autoprefixer: off */
  transition-property: opacity, transform;
  /* autoprefixer: off */ }
  .fluidbox__ghost:empty {
    display: block; }
  .fluidbox--opened .fluidbox__ghost {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    cursor: zoom-out; }
  .fluidbox--closed .fluidbox__ghost {
    -webkit-transition-delay: 0.5s, 0s;
    -o-transition-delay: 0.5s, 0s;
    transition-delay: 0.5s, 0s; }

.fluidbox__loader {
  opacity: 0;
  -webkit-perspective: 200px;
  perspective: 200px;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .fluidbox__loader::before {
    /* You can replace this with any color you want, or even a loading gif if desired */
    background-color: rgba(255, 255, 255, 0.85);
    content: '';
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    padding-bottom: 20%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }

.fluidbox--loading .fluidbox__loader {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out 0.5s;
  -o-transition: opacity 0.5s ease-in-out 0.5s;
  transition: opacity 0.5s ease-in-out 0.5s; }
  .fluidbox--loading .fluidbox__loader::before {
    -webkit-animation: fluidboxLoading 1s 0s infinite ease-in-out forwards;
    animation: fluidboxLoading 1s 0s infinite ease-in-out forwards; }

.txt_blk.comments {
  background: #fafafa;
  max-width: none; }
  .txt_blk.comments .comments-title {
    text-align: center; }
  .txt_blk.comments .comments-area {
    margin: 0 auto;
    max-width: 40rem; }
    .txt_blk.comments .comments-area ul.media-list {
      padding-left: 0; }
      .txt_blk.comments .comments-area ul.media-list ul {
        padding: .618rem 0 1.5rem 1rem; }
      .txt_blk.comments .comments-area ul.media-list > li {
        padding: 0 0 1em;
        border-bottom: 1px dotted #aaa; }
    .txt_blk.comments .comments-area li.comment {
      list-style: none;
      margin: .618rem 0 1em;
      font-size: .8rem; }
    .txt_blk.comments .comments-area img.avatar {
      float: left;
      margin: .25em 1.25em .5em 0; }
    .txt_blk.comments .comments-area .comment-meta.commentmetadata, .txt_blk.comments .comments-area .comment-author.vcard, .txt_blk.comments .comments-area .comment-reply-link, .txt_blk.comments .comments-area .logged-in-as {
      font-size: .75rem; }
    .txt_blk.comments .comments-area .comment-body {
      font-size: .8rem; }
      .txt_blk.comments .comments-area .comment-body p:first-of-type {
        padding-top: 0; }
        .txt_blk.comments .comments-area .comment-body p:first-of-type > br:first-of-type {
          display: none; }
      .txt_blk.comments .comments-area .comment-body .comment-author,
      .txt_blk.comments .comments-area .comment-body .comment-meta {
        opacity: .5;
        -webkit-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease; }
      .txt_blk.comments .comments-area .comment-body .comment-meta {
        font-size: .65rem;
        padding-bottom: .5rem;
        opacity: .3; }
      .txt_blk.comments .comments-area .comment-body:hover .comment-author,
      .txt_blk.comments .comments-area .comment-body:hover .comment-meta {
        opacity: 1; }
    .txt_blk.comments .comments-area .comment-respond {
      margin-top: 2rem; }

.comments-area .media-body {
  padding: 0.618em 0; }

.comments-area .comment-form > p {
  margin: 0.5em 0 0; }

.comments-area .comment-form input,
.comments-area .comment-form textarea {
  width: 100%;
  max-width: 100%;
  border: 1px solid #bababa;
  padding: 0.5em;
  border-radius: 0.3em; }

p.form-submit {
  margin: 10px 0 0.618em;
  text-align: right; }

.comment-form input[type="submit"] {
  width: auto; }

@media (max-width: 780px) {
  .txt_blk.comments {
    padding: 2rem; } }

@media (min-width: 992px) {
  .comments-area .comment-form p.comment-form-author, .comments-area .comment-form p.comment-form-email, .comments-area .comment-form p.comment-form-url {
    display: inline-block;
    width: 33%;
    width: calc(33.33% - .2em); } }

footer.main {
  text-align: center;
  font-size: .75em;
  position: relative; }
  footer.main .txt_blk {
    text-align: left;
    max-width: calc(40rem + 2rem + 2rem); }
    footer.main .txt_blk > .inline-block:first-child {
      width: 100%;
      padding-right: 0;
      padding-bottom: 0;
      margin-bottom: 2em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  footer.main.light .txt_blk > .inline-block:first-child {
    border-bottom-color: rgba(255, 255, 255, 0.1); }
  footer.main .inline-block {
    padding: 1.6vw 3.2vw 1.6vw 0;
    margin-left: 0; }
    footer.main .inline-block.left, footer.main .inline-block.right {
      padding-top: 0;
      opacity: .6;
      -webkit-transition: opacity .3s ease;
      -o-transition: opacity .3s ease;
      transition: opacity .3s ease;
      font-size: .6rem; }
      footer.main .inline-block.left:hover, footer.main .inline-block.right:hover {
        opacity: 1; }
    footer.main .inline-block.right {
      padding-right: 0; }
    footer.main .inline-block:last-child {
      padding-bottom: 0; }
    footer.main .inline-block:first-child {
      padding-top: 0; }
    footer.main .inline-block.social {
      padding-top: 0; }
    footer.main .inline-block.contact {
      width: 100%; }
    footer.main .inline-block.social, footer.main .inline-block.contact {
      font-size: .7rem; }
  footer.main h1, footer.main h2, footer.main h3, footer.main h4, footer.main h5, footer.main h6 {
    margin: 1em 0 .5em; }
  footer.main ul.menu li a {
    font-size: 1em;
    line-height: 1.5; }
  footer.main .widget_nav_menu, footer.main ul.menu {
    width: 100%;
    text-align: left; }
    footer.main .widget_nav_menu li, footer.main ul.menu li {
      min-width: 0;
      margin: 0;
      padding: 0; }
      footer.main .widget_nav_menu li a, footer.main ul.menu li a {
        padding: 0 1em 1em 0; }
        footer.main .widget_nav_menu li a:after, footer.main ul.menu li a:after {
          content: none; }
  footer.main p.telephone {
    margin-top: .5rem; }
  footer.main .widget_nav_menu,
  footer.main ul.menu {
    width: 100%;
    text-align: left;
    padding: 0; }
    footer.main .widget_nav_menu li,
    footer.main ul.menu li {
      display: inline-block;
      vertical-align: top;
      margin: 0; }
      footer.main .widget_nav_menu li a,
      footer.main ul.menu li a {
        padding: .3em 0;
        line-height: 1.5;
        display: block;
        white-space: normal; }
      footer.main .widget_nav_menu li ul,
      footer.main ul.menu li ul {
        padding: 0;
        margin: .6em 0; }
      footer.main .widget_nav_menu li li,
      footer.main ul.menu li li {
        display: inline-block;
        width: 100%;
        font-size: .7rem; }
    footer.main .widget_nav_menu > li,
    footer.main ul.menu > li {
      font-size: 1rem;
      margin-right: 4%;
      margin-bottom: 4%;
      width: 95%; }
    footer.main .widget_nav_menu .sub-menu,
    footer.main ul.menu .sub-menu {
      display: block; }
  footer.main p {
    padding: 0 0 .5em; }
  footer.main .sitebooster {
    padding-top: 2em; }

@media (min-width: 510px) {
  footer.main .left, footer.main .right {
    width: 49.5%; }
  footer.main ul.menu > li {
    padding-right: 3%;
    margin-right: 0;
    width: 49%; } }

@media (min-width: 780px) {
  footer.main .left {
    width: 74%; }
  footer.main .right {
    width: 25%; }
  footer.main ul.menu > li {
    width: 24.5%; }
    footer.main ul.menu > li a {
      font-size: .8em; } }

.pop_overlay.active {
  position: fixed;
  top: 1.6vw;
  right: 1.6vw; }

#wrapper.popup {
  display: none; }

.pop_overlay {
  display: none; }
  .pop_overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998; }
    .pop_overlay.active .overlay_close:hover {
      cursor: -webkit-zoom-out;
      cursor: zoom-out; }
    .pop_overlay.active .btn.overlay_close {
      position: absolute;
      font-size: .8em;
      top: -1px;
      right: -1px;
      background: #ccc;
      color: #fff;
      border-radius: 0 0 0 .15rem;
      border-width: 0;
      padding: .618em 1em; }
    .pop_overlay.active .pop_content {
      position: absolute;
      background: #fff;
      padding: 4.85vw;
      width: 100vw;
      height: 100vh;
      overflow-y: auto;
      z-index: 2; }
    .pop_overlay.active .bg {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1.5vw;
      z-index: 1;
      background: rgba(0, 0, 0, 0.8); }

@media (max-width: 780px) {
  footer.main {
    padding: 2rem; }
    footer.main .txt_blk {
      padding: 0; }
    footer.main .inline-block {
      padding: 1rem 2rem 1rem 0; } }

@media (min-width: 1280px) {
  footer.main .txt_blk {
    max-width: calc(40rem + 4.85vw + 4.85vw); } }

.light .social svg.icon {
  fill: #ddd; }

.dark .social svg.icon {
  fill: #222; }

.social {
  text-align: left; }
  .social svg.icon {
    width: 35px;
    height: 45px;
    fill: #FFF;
    display: block;
    padding: 10px 10px 10px 0;
    margin: 0; }
  .social div {
    display: inline-block; }
    .social div a {
      padding: 0;
      margin: 0; }
      .social div a:hover {
        background: transparent; }
        .social div a:hover .icon {
          opacity: 1; }
        .social div a:hover svg.icon-facebook {
          fill: #3b5998; }
        .social div a:hover svg.icon-twitter {
          fill: #55acee; }
        .social div a:hover svg.icon-google {
          fill: #dd4b39; }
        .social div a:hover svg.icon-youtube {
          fill: #bb0000; }
        .social div a:hover svg.icon-linkedin {
          fill: #007bb5; }
        .social div a:hover svg.icon-instagram {
          fill: #e95950; }
        .social div a:hover svg.icon-pinterest {
          fill: #cb2027; }
        .social div a:hover svg.icon-flickr {
          fill: #ff0084; }
        .social div a:hover svg.icon-tumblr {
          fill: #32506d; }
        .social div a:hover svg.icon-vimeo {
          fill: #aad450; }

.dark .light p, .dark .light li, .light p, .light li {
  color: #e8e8e8; }

nav.sticky ul li a {
  color: #ffffff; }
