.content.main,
.lazyload,
.lazyloaded,
.video.controls {
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body.chrome {
  -webkit-font-smoothing: antialiased; }

html.contained {
  background-color: #333; }
  html.contained body {
    background: transparent; }
  html.contained #wrapper {
    max-width: 65em;
    margin: 0 auto;
    overflow: hidden; }

#wrapper {
  z-index: -2;
  overflow: hidden; }

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0; }

.clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.sticky {
  font-style: normal; }

.entry-content img {
  margin: 0 0 1.5em; }

.alignleft,
.alignright,
img.alignleft,
img.alignright {
  max-width: 55%;
  margin-bottom: 1em; }

.alignleft,
img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.alignright,
img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.alignnone,
img.alignnone {
  margin: 1em 0 1.618em;
  display: inline-block; }

.aligncenter:first-child,
.alignleft:first-child,
.alignnone:first-child,
.alignright:first-child,
img.aligncenter:first-child,
img.alignleft:first-child,
img.alignnone:first-child,
img.alignright:first-child {
  margin-top: 0; }

.aligncenter:last-child,
.alignleft:last-child,
.alignnone:last-child,
.alignright:last-child,
img.aligncenter:last-child,
img.alignleft:last-child,
img.alignnone:last-child,
img.alignright:last-child {
  margin-bottom: 0; }

.image_full {
  margin: 0 auto; }

.p-gall .owl-carousel .owl-item img {
  width: auto;
  height: 10em; }

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  max-width: 100%; }
  .wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0; }
  .wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 0.75em;
    margin: 0;
    padding: .75em 1em 1.25em;
    text-align: center; }

.wp-smiley {
  margin: 0 !important;
  max-height: 1em; }

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left; }

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right; }

figure {
  margin: 0;
  padding: 0.5em 0; }

/*Wordpress editor styles end*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

div:empty {
  display: none; }

.wp-video {
  margin: 1em auto; }

.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.embed-container {
  margin: 1.618em 0;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: 0; }
  .embed-container:first-child {
    margin-top: 0; }
  .embed-container:last-child {
    margin-bottom: 0; }

.media-element .embed-container:first-child {
  margin-top: 1.618em; }

.media-element .embed-container:last-child {
  margin-bottom: 1.618em; }

.media-element:first-child .embed-container:first-child {
  margin-top: 0; }

.media-element:last-child .embed-container:first-child {
  margin-top: 0; }

.wp-audio-shortcode {
  margin: 1em 0; }
  .wp-audio-shortcode:first-child {
    margin-top: 0; }
  .wp-audio-shortcode:last-child {
    margin-bottom: 0; }

.override .mejs-container,
.override .mejs-container
.mejs-controls,
.override .mejs-embed,
.override .mejs-embed body {
  background: transparent; }

.override .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: rgba(255, 255, 255, 0.3); }

.override .mejs-controls .mejs-time-rail .mejs-time-current {
  background: #ffffff; }

.override .mejs-container {
  margin: 1em 0;
  border-radius: 0.15em;
  overflow: hidden;
  background: #4d4d4d; }
  .override .mejs-container:first-child {
    margin-top: 0; }
  .override .mejs-container:last-child {
    margin-bottom: 0; }
  .override .mejs-container div:empty {
    display: block; }

.s_over {
  position: relative;
  display: inline-block;
  min-width: 100%;
  font-size: 1rem; }

@media (min-width: 992px) {
  .media {
    max-width: 75%;
    margin: 0 auto; } }

iframe {
  width: 100%;
  border: none; }
  iframe.fb_like {
    width: 96px; }

video {
  max-width: 100%; }

.scrollme .content {
  position: relative;
  z-index: 10; }

.text {
  position: relative; }

.media,
.txt_blk {
  padding: 2rem; }

.media .intro,
.media .outro {
  padding-top: 0;
  padding-bottom: 0; }

.text {
  position: relative; }

.txt_blk {
  max-width: 40rem;
  margin: auto;
  position: relative;
  z-index: 10;
  margin: 0 auto; }

.txt_blk.page_nav {
  padding: 0.5em;
  background: #fafafa;
  max-width: 100%;
  font-size: 0.75em; }
  .txt_blk.page_nav .alignleft,
  .txt_blk.page_nav .alignright {
    margin: 0;
    padding: 1em;
    max-width: 50%; }
  .txt_blk.page_nav.tags {
    background: #f2f2f2;
    text-align: center; }
    .txt_blk.page_nav.tags a {
      padding: .2rem .6rem;
      background: #f2f2f2;
      margin: .3rem .5rem .3rem 0;
      border: 1px solid #4d4d4d;
      border-color: #4d4d4d;
      color: #4d4d4d;
      display: inline-block;
      border-radius: 0.15em; }
      .txt_blk.page_nav.tags a:hover {
        background: #fff; }

.slice {
  position: relative;
  background: #fff;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  line-height: 0;
  font-size: 0;
  padding: .1px;
  margin: -.2px; }
  .slice .woocommerce {
    line-height: 1.5; }

.txt_blk,
.text .txt_blk,
.two_column .two_column {
  width: 100%;
  max-width: 40rem;
  max-width: calc(40rem + 4.85vw + 4.85vw); }

.text .txt_blk.normal {
  width: 100%;
  max-width: none; }
  .text .txt_blk.normal .text_content {
    max-width: 40rem;
    margin: 0 auto;
    line-height: 1.5; }
  .text .txt_blk.normal.nopad_full_width .text_content {
    max-width: none; }

@media (max-width: 780px) {
  .text .txt_blk.soft_left.avm_10, .text .txt_blk.soft_left.avm_15, .text .txt_blk.soft_left.avm_25, .text .txt_blk.soft_right.avm_10, .text .txt_blk.soft_right.avm_15, .text .txt_blk.soft_right.avm_25, .text .txt_blk.soft_centre.avm_10, .text .txt_blk.soft_centre.avm_15, .text .txt_blk.soft_centre.avm_25, .p-gall .txt_blk.soft_left.avm_10, .p-gall .txt_blk.soft_left.avm_15, .p-gall .txt_blk.soft_left.avm_25, .p-gall .txt_blk.soft_right.avm_10, .p-gall .txt_blk.soft_right.avm_15, .p-gall .txt_blk.soft_right.avm_25, .p-gall .txt_blk.soft_centre.avm_10, .p-gall .txt_blk.soft_centre.avm_15, .p-gall .txt_blk.soft_centre.avm_25 {
    width: 80%;
    min-width: 80%;
    margin-left: 10%;
    border-radius: 0.15em; }
  .text .txt_blk.ocset.hard_left.avm_10, .text .txt_blk.ocset.hard_left.avm_15, .text .txt_blk.ocset.hard_left.avm_25, .p-gall .txt_blk.ocset.hard_left.avm_10, .p-gall .txt_blk.ocset.hard_left.avm_15, .p-gall .txt_blk.ocset.hard_left.avm_25 {
    width: 90%;
    min-width: 90%;
    margin-left: 0;
    border-radius: 0 0.15em 0.15em 0; }
  .text .txt_blk.ocset.hard_right.avm_10, .text .txt_blk.ocset.hard_right.avm_15, .text .txt_blk.ocset.hard_right.avm_25, .p-gall .txt_blk.ocset.hard_right.avm_10, .p-gall .txt_blk.ocset.hard_right.avm_15, .p-gall .txt_blk.ocset.hard_right.avm_25 {
    width: 90%;
    min-width: 90%;
    margin-left: 10%;
    border-radius: 0.15em 0 0 0.15em; } }

@media (min-width: 780px) {
  .text .txt_blk {
    max-width: 40rem;
    max-width: calc(40rem + 4.85vw + 4.85vw); }
    .text .txt_blk.hard_left, .text .txt_blk.hard_right, .text .txt_blk.soft_left, .text .txt_blk.soft_right, .text .txt_blk.soft_centre {
      max-width: none;
      min-width: 0; }
    .text .txt_blk.hard_left, .text .txt_blk.hard_right, .text .txt_blk.soft_left, .text .txt_blk.soft_right {
      width: 50%; }
    .text .txt_blk.soft_left.avm_10, .text .txt_blk.soft_left.avm_15, .text .txt_blk.soft_left.avm_25, .text .txt_blk.soft_right.avm_10, .text .txt_blk.soft_right.avm_15, .text .txt_blk.soft_right.avm_25, .text .txt_blk.soft_centre.avm_10, .text .txt_blk.soft_centre.avm_15, .text .txt_blk.soft_centre.avm_25 {
      border-radius: 0.15em; }
    .text .txt_blk.hard_left {
      margin-left: 0; }
      .text .txt_blk.hard_left.avm_10, .text .txt_blk.hard_left.avm_15, .text .txt_blk.hard_left.avm_25 {
        border-radius: 0 0.15em 0.15em 0; }
    .text .txt_blk.hard_right.avm_10, .text .txt_blk.hard_right.avm_15, .text .txt_blk.hard_right.avm_25 {
      border-radius: 0.15em 0 0 0.15em; }
    .text .txt_blk.soft_right {
      width: 50%;
      min-width: 50%;
      margin-left: 40%; }
      .text .txt_blk.soft_right.avm_10, .text .txt_blk.soft_right.avm_15, .text .txt_blk.soft_right.avm_25 {
        border-radius: 0.15em; }
    .text .txt_blk.soft_left {
      width: 50%;
      margin-left: 10%; }
      .text .txt_blk.soft_left.avm_10, .text .txt_blk.soft_left.avm_15, .text .txt_blk.soft_left.avm_25 {
        border-radius: 0.15em; }
    .text .txt_blk.soft_centre {
      max-width: 80%;
      min-width: 80%;
      margin-left: 10%;
      width: 100%; }
    .text .txt_blk.hard_right {
      margin-left: 50%; } }

@media (min-width: 1600px) {
  .txt_blk, .media {
    padding-left: 4.85vw;
    padding-right: 4.85vw; }
  .full .text .txt_blk.hard_left, .full .text .txt_blk.hard_right, .full .text .txt_blk.soft_left, .full .text .txt_blk.soft_right {
    max-width: none;
    width: 33%;
    min-width: 33%; }
  .full .text .txt_blk.soft_left {
    margin-left: 17%; }
  .full .text .txt_blk.soft_centre {
    width: 66%;
    min-width: 66%;
    margin-left: 17%; }
  .full .text .txt_blk.soft_right {
    margin-left: 50%; }
  .full .text .txt_blk.hard_right {
    margin-left: 67%; } }

@media (min-width: 1900px) {
  .full .text .txt_blk.soft_centre {
    width: 40rem;
    min-width: 0;
    margin-left: calc(50% - (40rem / 2)); } }

.avs_tighter {
  padding-top: .5rem;
  padding-bottom: .5rem; }

.avs_tight {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.avs_default {
  padding-top: 4.85vw;
  padding-bottom: 4.85vw; }

.avs_10 {
  padding-top: 10%;
  padding-top: 10vw;
  padding-bottom: 10%;
  padding-bottom: 10vw; }

.avs_15 {
  padding-top: 15%;
  padding-top: 15vw;
  padding-bottom: 15%;
  padding-bottom: 15vw; }

.avs_25 {
  padding-top: 25%;
  padding-top: 20vw;
  padding-bottom: 25%;
  padding-bottom: 20vw; }

.avs_full_screen {
  min-height: 100vh; }
  .avs_full_screen:not(.media) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .avs_full_screen.media {
    position: relative; }
    .avs_full_screen.media .media-container {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: 100%; }

.override .avm_ {
  margin-top: 0;
  margin-bottom: 0; }
  .override .avm_default {
    margin-top: 0;
    margin-bottom: 0; }
  .override .avm_5 {
    margin-top: 5%;
    margin-top: 5vw;
    margin-bottom: 5%;
    margin-bottom: 5vw; }
  .override .avm_10 {
    margin-top: 10%;
    margin-top: 10vw;
    margin-bottom: 10%;
    margin-bottom: 10vw; }
  .override .avm_15 {
    margin-top: 15%;
    margin-top: 15vw;
    margin-bottom: 15%;
    margin-bottom: 15vw; }
  .override .avm_25 {
    margin-top: 25%;
    margin-top: 20vw;
    margin-bottom: 25%;
    margin-bottom: 20vw; }

.override .avs_full_screen5.soft_centre, .override .avs_full_screen10.soft_centre, .override .avs_full_screen15.soft_centre, .override .avs_full_screen25.soft_centre {
  border-radius: 0.15em; }

@media screen and (max-width: 780px) {
  header.top.parallax .avs_default {
    padding-top: calc(4.85vw + 3rem + 4.85vw);
    padding-bottom: 4.85vw; }
  header.top.parallax .avs_10 {
    padding-top: calc(10% + 3rem);
    padding-top: calc(10vw + 3rem); }
  header.top.parallax .avs_15 {
    padding-top: calc(15% + 3rem);
    padding-top: calc(15vw + 3rem); }
  header.top.parallax .avs_25 {
    padding-top: calc(25% + 3rem);
    padding-top: calc(25vw + 3rem); }
  header.top.parallax .avs_full_screen {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 992px) {
  header.top .hat, header.top #header {
    min-height: calc( 4.85vw + 3rem + 4.85vw); }
  header.top .branding {
    top: 4.85vw;
    left: 4.85vw; }
  #tbc-nav-icon {
    right: 4.85vw;
    top: 4.85vw; }
    #tbc-nav-icon.is-hidden.active, #tbc-nav-icon.is-visible {
      top: 4.85vw; } }

.full .text .txt_blk.nopad_full_width {
  max-width: none;
  width: 100%;
  margin-left: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0; }
  .full .text .txt_blk.nopad_full_width .text_content {
    max-width: none; }

.navbar {
  margin: 0; }

.inline-block {
  display: inline-block;
  float: none;
  max-width: 100%;
  margin-left: -.2em;
  padding: 1.6vw 3.2vw 1.6vw 0; }

.vbottom {
  vertical-align: bottom; }

.vtop {
  vertical-align: top; }

.vbaseline {
  vertical-align: baseline; }

.vmiddle {
  vertical-align: middle; }

.feat_item {
  margin: 0; }

ul.tribe-list-widget {
  padding-left: 0;
  list-style: none; }
  ul.tribe-list-widget li {
    margin: 1.618em 0; }
    ul.tribe-list-widget li:first-child {
      margin-top: 0; }
    ul.tribe-list-widget li h5 {
      margin: 0; }

.justify-container {
  text-align: justify;
  font-size: 0; }
  .justify-container > * {
    text-align: left;
    font-size: medium; }
  .justify-container .justify-item {
    text-align: left;
    display: inline-block; }
  .justify-container:last-child:after {
    content: ' ';
    width: 100%;
    display: inline-block; }

.container {
  margin-right: auto;
  margin-left: auto; }

.panel-default.widget_search {
  border: none; }

.override .nopad_all, .override .nopad_top {
  padding-top: 0; }

.override .nopad_all, .override .nopad_bottom {
  padding-bottom: 0; }

.override .nopad_all, .override .nopad_left {
  padding-left: 0; }

.override .nopad_all, .override .nopad_right {
  padding-right: 0; }

.override .nopad_full_width {
  max-width: none; }

.intro,
.outro {
  font-size: 1rem; }

.vid .intro {
  padding-bottom: 0; }

.vid .outro {
  padding-top: 0; }

@media (max-width: 780px) {
  .media,
  .t_and_i,
  .avs_default {
    padding: 2rem; }
    .media .nopad_all, .media .nopad_top,
    .t_and_i .nopad_all,
    .t_and_i .nopad_top,
    .avs_default .nopad_all,
    .avs_default .nopad_top {
      padding-top: 0; }
    .media .nopad_all, .media .nopad_bottom,
    .t_and_i .nopad_all,
    .t_and_i .nopad_bottom,
    .avs_default .nopad_all,
    .avs_default .nopad_bottom {
      padding-bottom: 0; }
    .media .nopad_all, .media .nopad_left,
    .t_and_i .nopad_all,
    .t_and_i .nopad_left,
    .avs_default .nopad_all,
    .avs_default .nopad_left {
      padding-left: 0; }
    .media .nopad_all, .media .nopad_right,
    .t_and_i .nopad_all,
    .t_and_i .nopad_right,
    .avs_default .nopad_all,
    .avs_default .nopad_right {
      padding-right: 0; }
    .media .nopad_full_width,
    .t_and_i .nopad_full_width,
    .avs_default .nopad_full_width {
      max-width: none; } }

.cat_header .parallax,
.cat_header .parallax .parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.cat_header.light .content.txt_blk {
  background: rgba(0, 0, 0, 0.5); }

.cat_header.dark .content.txt_blk {
  background: rgba(255, 255, 255, 0.5); }

#wrapper .filters {
  background: #f2f2f2;
  color: #333333;
  border-width: 1px 0 1px 0;
  padding: 0;
  text-align: center;
  font-size: 1em; }
  #wrapper .filters > p.filter {
    text-align: center; }
  #wrapper .filters .inline-block {
    padding: .5rem 1rem .5rem 1rem;
    margin: 0;
    text-align: left; }
  #wrapper .filters .menu-item-has-children.dropdown .sub-menu {
    margin: 0;
    padding: 0;
    left: 0;
    right: auto;
    position: absolute;
    background: #ffffff;
    border-radius: 0 0.15em 0.15em 0.15em; }
  #wrapper .filters ul.filter li {
    position: relative; }
  #wrapper .filters li ul ul.children {
    padding: 0;
    margin: 0; }
    #wrapper .filters li ul ul.children > li a:before {
      content: '- '; }
  #wrapper .filters li ul.children li a {
    padding-left: 1.6rem; }
  #wrapper .filters li ul.children li ul.children li a {
    padding-left: 2.6rem; }
  #wrapper .filters li ul.children li ul.children li ul.children li a {
    padding-left: 3.6rem; }
  #wrapper .filters li a {
    color: #4d4d4d;
    font-size: .85rem; }
  #wrapper .filters li a:hover {
    color: #000000;
    background: #f2f2f2;
    cursor: pointer; }
  #wrapper .filters li.current-cat > a {
    color: #000000;
    background: #f2f2f2; }
    #wrapper .filters li.current-cat > a:hover {
      cursor: default; }
  #wrapper .filters a.btn {
    font-size: .85rem;
    font-weight: 400;
    padding: .4rem .6rem;
    background: #fff;
    border-color: #4d4d4d;
    color: #4d4d4d; }
    #wrapper .filters a.btn.cat {
      padding-right: 1.2rem;
      background-color: #4d4d4d;
      color: #fff; }
      #wrapper .filters a.btn.cat.current {
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #fff; }
      #wrapper .filters a.btn.cat.active {
        border-radius: 0.15em 0.15em 0 0;
        background: #fff;
        border-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #4d4d4d; }
    #wrapper .filters a.btn.tag {
      margin: .3rem .5rem .3rem 0; }
      #wrapper .filters a.btn.tag.current:after {
        content: ' x';
        font-size: 0.7rem;
        display: inline-block;
        vertical-align: middle;
        padding-left: .5rem;
        padding-bottom: .3rem;
        line-height: 0; }
    #wrapper .filters a.btn.current {
      background: #bababa;
      border-color: #4d4d4d;
      color: #4d4d4d; }
    #wrapper .filters a.btn.disabled {
      background: #f2f2f2;
      border-color: #bababa;
      color: #bababa; }
      #wrapper .filters a.btn.disabled:hover {
        cursor: default; }

.events-archive #wrapper .filters li.dropdown a {
  background-color: #fff; }
  .events-archive #wrapper .filters li.dropdown a:hover {
    background-color: #fff; }

.row.list {
  width: 100%;
  max-width: 40rem;
  padding: 3.2vw 2rem;
  margin: 0 auto; }
  .row.list > article {
    padding: 3em 0;
    border-bottom: 1px dotted #ccc; }
    .row.list > article:last-child {
      border-bottom: 0; }
    .row.list > article a.thumbnail_link {
      width: 100%;
      padding: 0; }
    .row.list > article .image_container {
      display: inline-block; }
    .row.list > article .inline-block {
      width: 100%;
      padding: 0; }
    .row.list > article h3:first-child {
      margin: 0 0 .618em; }
    .row.list > article a.thumbnail_link {
      margin-bottom: 1em; }
    .row.list > article p.the_date.small {
      padding: 0 0 .618em;
      font-size: .7em; }
    .row.list > article:last-of-type {
      border-bottom: 0; }

.category .grid_cont .overlay .contain {
  padding: 0px; }

.load-more {
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 0;
  margin: 0; }

@media (max-width: 780px) {
  .row.list > article a.thumbnail_link {
    margin: 0; }
  .row.list > article .part, .row.list > article .bg {
    padding: 1rem 0 0;
    margin-left: 0; } }

@media (min-width: 780px) {
  .row.list > article a.thumbnail_link {
    width: 25%; }
  .row.list > article .part {
    width: 75%;
    padding-left: 2em; }
  .row.list > article .full {
    width: 100%;
    padding-left: calc(25% + 2em); } }

.image_container {
  position: relative;
  display: block; }
  .image_container svg.icon {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
    fill: #ffffff;
    opacity: .2;
    z-index: 99; }
    .image_container svg.icon.icon_count_2 {
      right: 2.5em; }
    .image_container svg.icon.icon_count_3 {
      right: 4em; }
    .image_container svg.icon.icon_count_4 {
      right: 5.5em; }
    .image_container svg.icon.icon_count_5 {
      right: 7em; }

.grid:not(.overlay) .image_container svg.icon-play {
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: .3; }

.dark .image_container svg.icon {
  fill: #000; }

.category.dark .contain {
  background: #efefef; }

.category.dark .grid .item .txt_bg {
  background: #fff; }

.category.light .contain {
  background: #2d2d2d; }

.category.light .grid .contain {
  background: #2d2d2d; }
  .category.light .grid .contain .item .txt_bg {
    background: #212121; }

.category.light .card.pagination {
  background: #222; }

.grid_cont .contain {
  margin-right: auto;
  margin-left: auto; }

.grid_cont .intro,
.grid_cont .outro {
  margin: 0 auto;
  text-align: left;
  padding: 0;
  max-width: 40rem; }

.grid_cont .intro {
  padding-bottom: 1.618vw; }

.grid_cont .outro {
  padding-top: 1.618vw; }

.grid_cont.center .item {
  text-align: center; }

.grid_cont.right .item {
  text-align: right; }

.grid_cont .items {
  font-size: 0;
  margin: auto;
  padding: 0 0 0 2rem;
  margin: 0 -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.grid_cont .item {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-size: .9rem;
  text-align: left;
  padding: 1rem 2rem 1rem 0;
  position: relative; }
  .grid_cont .item img {
    max-width: 100%; }
  .grid_cont .item.button {
    vertical-align: middle; }
    .grid_cont .item.button:before {
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      font-size: 0em; }
  .grid_cont .item .link {
    text-align: right;
    position: relative; }
    .grid_cont .item .link .btn {
      font-size: .7em;
      padding: .5em 1em;
      opacity: .5; }
      .grid_cont .item .link .btn:hover {
        opacity: 1; }

.grid_cont .s_over:not(.full).overlay .contain {
  max-width: calc(40rem + 2rem + 2rem + 0px + 0px); }

.grid_cont .s_over:not(.full).no_overlay .contain {
  max-width: calc(40rem + 2rem + 2rem); }

.grid_cont .overlay .items {
  padding: 0;
  margin: 0; }

.grid_cont .contain {
  padding-left: 2rem;
  padding-right: 2rem; }
  .grid_cont .contain.nopad_all, .grid_cont .contain.nopad_top {
    padding-top: 0; }
  .grid_cont .contain.nopad_all, .grid_cont .contain.nopad_bottom {
    padding-bottom: 0; }
  .grid_cont .contain.nopad_all, .grid_cont .contain.nopad_left {
    padding-left: 0; }
  .grid_cont .contain.nopad_all, .grid_cont .contain.nopad_right {
    padding-right: 0; }
  .grid_cont .contain.nopad_full_width {
    max-width: none; }

.full .grid.full {
  max-width: 100%; }

@media (min-width: 370px) {
  .grid.odd .item {
    width: 50%; }
  .grid.odd .ic_1 {
    width: 100%; }
  .grid .item {
    width: 50%; } }

@media (max-width: 370px) {
  .grid .item.button:last-child {
    margin-bottom: 5%; } }

@media (min-width: 780px) {
  .grid.odd .item {
    width: 50%; }
    .grid.odd .item.ic_1 {
      width: 50%; }
    .grid.odd .item:nth-last-child(-n+3) {
      width: 33.33%; } }

@media (min-width: 1600px) {
  .full .grid_cont .grid.full .items {
    max-width: none;
    margin: 0 auto; } }

@media (min-width: 992px) and (max-width: 1600px) {
  .grid .item {
    width: 33.33%; }
  .grid.odd .item.ic_1, .grid.odd .item.ic_2 {
    width: 50%; }
  .grid.odd .item:nth-last-child(-n+3) {
    width: 33.33%; }
  .grid.ti_2 .item {
    width: 50%; }
  .grid.ti_4 .item,
  .grid.ti_4 .item.ic_1 {
    width: 25%; }
  .grid.ti_5 .item {
    width: 50%; }
  .grid.ti_6 .item {
    width: 33.3%; }
  .grid.ti_7 .item {
    width: 25%; }
    .grid.ti_7 .item.ic_1, .grid.ti_7 .item.ic_2, .grid.ti_7 .item.ic_3 {
      width: 33.3%; }
    .grid.ti_7 .item:nth-last-child(-n+3) {
      width: 25%; }
  .grid.ti_8 .item {
    width: 33.3%; }
    .grid.ti_8 .item.ic_1, .grid.ti_8 .item.ic_2 {
      width: 50%; }
  .grid.ti_10 .item {
    width: 33.3%; }
    .grid.ti_10 .item.ic_10, .grid.ti_10 .item.ic_7, .grid.ti_10 .item.ic_8, .grid.ti_10 .item.ic_9 {
      width: 25%; }
  .grid.ti_11 .item {
    width: 33.3%; }
  .grid.no_overlay.contained .item {
    width: 33.33%; }
  .grid.no_overlay.contained.even .item {
    width: 50%; }
  .grid.no_overlay.contained.odd .item {
    width: 50%; }
  .grid.no_overlay.contained.odd .item:nth-last-child(-n+3) {
    width: 33.33%;
    font-size: .85rem; } }

@media (min-width: 1600px) and (max-width: 1900px) {
  .full .grid.full {
    max-width: none;
    width: 100%; }
    .full .grid.full.ti_2 .item {
      width: 50%; }
    .full .grid.full.ti_3 .item {
      width: 33.3%; }
    .full .grid.full.ti_4 .item {
      width: 25%; }
    .full .grid.full.ti_5 .item {
      width: 20%; }
    .full .grid.full.ti_5 .item.ic_1,
    .full .grid.full.ti_5 .item.ic_2 {
      width: 20%; }
    .full .grid.full.ti_6 .item {
      width: 33.3%; }
    .full .grid.full.ti_7 .item {
      width: 25%; }
      .full .grid.full.ti_7 .item.ic_1, .full .grid.full.ti_7 .item.ic_2, .full .grid.full.ti_7 .item.ic_3 {
        width: 33.3%; }
    .full .grid.full.ti_8 .item {
      width: 25%; }
    .full .grid.full.ti_9 .item {
      width: 33.3%; }
    .full .grid.full.ti_10 .item {
      width: 20%; }
    .full .grid.full.ti_11 .item {
      width: 33.3%; }
      .full .grid.full.ti_11 .item.ic_11, .full .grid.full.ti_11 .item.ic_10, .full .grid.full.ti_11 .item.ic_9, .full .grid.full.ti_11 .item.ic_8, .full .grid.full.ti_11 .item.ic_7, .full .grid.full.ti_11 .item.ic_6, .full .grid.full.ti_11 .item.ic_5, .full .grid.full.ti_11 .item.ic_4 {
        width: 25%; }
    .full .grid.full .item {
      width: 25%; } }

@media (min-width: 1900px) and (max-width: 2500px) {
  .full .grid.full .item {
    width: 20%; }
  .full .grid.full.ti_2 .item {
    width: 50%; }
  .full .grid.full.ti_3 .item {
    width: 33.3333%; }
  .full .grid.full.ti_4 .item {
    width: 25%; }
  .full .grid.full .ti_5 .item {
    width: 20%; }
    .full .grid.full .ti_5 .item.ic_1, .full .grid.full .ti_5 .item.ic_2 {
      width: 20%; }
  .full .grid.full.ti_6 .item {
    width: 16.666666%; }
  .full .grid.full.ti_7 .item {
    width: 25%; }
    .full .grid.full.ti_7 .item.ic_1, .full .grid.full.ti_7 .item.ic_2, .full .grid.full.ti_7 .item.ic_3 {
      width: 33.3%; }
  .full .grid.full.ti_8 .item {
    width: 25%; }
  .full .grid.full.ti_9 .item {
    width: 20%; }
    .full .grid.full.ti_9 .item.ic_1, .full .grid.full.ti_9 .item.ic_2, .full .grid.full.ti_9 .item.ic_3, .full .grid.full.ti_9 .item.ic_4 {
      width: 25%; }
  .full .grid.full.ti_11 .item {
    width: 16.666666%; }
    .full .grid.full.ti_11 .item.ic_6, .full .grid.full.ti_11 .item.ic_7, .full .grid.full.ti_11 .item.ic_8, .full .grid.full.ti_11 .item.ic_9, .full .grid.full.ti_11 .item.ic_10, .full .grid.full.ti_11 .item.ic_11 {
      width: 16.666666%; }
    .full .grid.full.ti_11 .item.ic_1, .full .grid.full.ti_11 .item.ic_2, .full .grid.full.ti_11 .item.ic_3, .full .grid.full.ti_11 .item.ic_4, .full .grid.full.ti_11 .item.ic_5 {
      width: 20%; }
  .full .grid.full.ti_12 .item {
    width: 25%; } }

@media (min-width: 2500px) {
  .full .grid.full {
    max-width: none;
    width: 100%; }
    .full .grid.full .item {
      width: 16.666666%; }
    .full .grid.full.ti_2 .item {
      width: 50%; }
    .full .grid.full.ti_3 .item {
      width: 33.3333%; }
    .full .grid.full.ti_4 .item {
      width: 25%; }
    .full .grid.full.odd.ti_5 .item {
      width: 20%; }
      .full .grid.full.odd.ti_5 .item.ic_1, .full .grid.full.odd.ti_5 .item.ic_2 {
        width: 20%; }
    .full .grid.full.ti_6 .item {
      width: 16.666666%; }
    .full .grid.full.ti_7 .item {
      width: 14.2%; }
    .full .grid.full.ti_8 .item {
      width: 25%; }
    .full .grid.full.ti_9 .item {
      width: 20%; }
      .full .grid.full.ti_9 .item.ic_1, .full .grid.full.ti_9 .item.ic_2, .full .grid.full.ti_9 .item.ic_3, .full .grid.full.ti_9 .item.ic_4 {
        width: 25%; }
    .full .grid.full.ti_10 .item {
      width: 20%; }
    .full .grid.full.ti_11 .item {
      width: 16.666666%; }
      .full .grid.full.ti_11 .item.ic_6, .full .grid.full.ti_11 .item.ic_7, .full .grid.full.ti_11 .item.ic_8, .full .grid.full.ti_11 .item.ic_9, .full .grid.full.ti_11 .item.ic_10, .full .grid.full.ti_11 .item.ic_11 {
        width: 16.666666%; }
      .full .grid.full.ti_11 .item.ic_1, .full .grid.full.ti_11 .item.ic_2, .full .grid.full.ti_11 .item.ic_3, .full .grid.full.ti_11 .item.ic_4, .full .grid.full.ti_11 .item.ic_5 {
        width: 20%; }
    .full .grid.full.ti_12 .item {
      width: 16.666666%; } }

.grid .item .date {
  position: absolute;
  top: 0;
  background: #62B346;
  text-align: center;
  padding: .5rem;
  font-size: .8rem;
  color: #fff;
  font-weight: bold; }
  .grid .item .date span {
    display: inline-block;
    width: 100%;
    line-height: 1; }
    .grid .item .date span.big {
      font-size: 1.5rem; }
    .grid .item .date span.small {
      text-transform: uppercase; }

.grid .item .date {
  right: 0;
  width: 3rem; }

.grid .item.button {
  text-align: center; }

.grid.no_overlay .item {
  position: relative; }
  .grid.no_overlay .item .date {
    top: 0.809vw;
    right: 1.618vw; }
  .grid.no_overlay .item h3,
  .grid.no_overlay .item h4 {
    min-height: 3rem; }

.grid.no_overlay.carousel .date {
  top: 1em;
  right: .5em; }

.category.gallery .grid.gallery {
  padding: 0px; }
  .category.gallery .grid.gallery .item {
    margin: 0;
    padding: 0px;
    position: relative; }

.grid.card .txt_bg {
  display: block;
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 0.15em; }

.grid.card .text {
  position: static;
  display: block;
  padding-bottom: 2rem; }
  .grid.card .text .link {
    position: absolute;
    bottom: 1.75rem;
    right: 2.75rem; }

.grid.card .item {
  z-index: 2; }
  .grid.card .item a.image_container {
    opacity: .8;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    border-radius: 0.15em 0.15em 0 0;
    overflow: hidden; }
  .grid.card .item:hover a.image_container {
    opacity: 1; }
  .grid.card .item img {
    display: block;
    width: 100%;
    max-width: none; }
  .grid.card .item .text_content {
    text-align: left;
    padding: .85rem; }
    .grid.card .item .text_content img {
      width: auto;
      display: inline-block; }
    .grid.card .item .text_content h3,
    .grid.card .item .text_content h4 {
      padding-bottom: .25em;
      font-size: 1em; }
    .grid.card .item .text_content li,
    .grid.card .item .text_content p {
      font-size: .9em; }
      .grid.card .item .text_content li.small.tags,
      .grid.card .item .text_content p.small.tags {
        font-size: .6em;
        opacity: .6; }
      .grid.card .item .text_content li.mod-date,
      .grid.card .item .text_content p.mod-date {
        font-size: .6em;
        opacity: .5;
        padding: 0 0 .5em; }

@media (max-width: 700px) {
  .grid.overlay .item {
    font-size: .8rem; }
    .grid.overlay .item .text {
      padding: .3em; } }

@media (min-width: 370px) {
  .grid.card .txt_bg {
    right: 2rem; } }

@media (max-width: 370px) {
  .grid.card .item {
    margin-bottom: 1.618vw; }
    .grid.card .item:last-child {
      margin-bottom: 0; } }

.grid.center .item .text_content {
  text-align: center; }

.grid.right .item .text_content {
  text-align: right; }

.grid.carousel .owl-carousel {
  padding-left: 0; }

.grid.carousel .item {
  display: block;
  margin: 0;
  padding: 1em .5em; }
  .grid.carousel .item a {
    outline: none; }
  .grid.carousel .item .txt_bg {
    right: .5em;
    left: .5em;
    top: 1em;
    bottom: 1em; }

.grid.image_type_none .txt_bg {
  border-radius: 0.15em; }

.grid.overlay .card {
  overflow: hidden;
  position: relative; }

.grid.overlay .item {
  padding: 0px;
  position: relative;
  overflow: hidden; }
  .grid.overlay .item img {
    display: block;
    width: 101%;
    -webkit-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    max-width: none; }
  .grid.overlay .item:hover a img {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06); }
  .grid.overlay .item:hover .text {
    background: #62B346; }

.grid.overlay .image_container {
  overflow: hidden; }

.grid.overlay .text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  padding: .32em .618em; }
  .grid.overlay .text .text_content {
    padding: 0; }
  .grid.overlay .text h3,
  .grid.overlay .text h4 {
    margin: 0;
    color: #fff;
    line-height: 1.1; }
  .grid.overlay .text p {
    display: none; }

.grid.overlay.left .item .text, .grid.overlay.right .item .text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 3.2vw 1em 1em 1em;
  width: 100%; }
  .grid.overlay.left .item .text .text_content, .grid.overlay.right .item .text .text_content {
    overflow: hidden; }
  .grid.overlay.left .item .text h4, .grid.overlay.right .item .text h4 {
    padding: 0 0 .5em; }
  .grid.overlay.left .item .text p, .grid.overlay.right .item .text p {
    display: block;
    max-height: 0;
    font-size: .65rem;
    -webkit-transition: max-height .3s ease;
    -o-transition: max-height .3s ease;
    transition: max-height .3s ease;
    padding: 0; }
    .grid.overlay.left .item .text p.mod-date, .grid.overlay.right .item .text p.mod-date {
      font-size: .6em;
      opacity: .5; }
  .grid.overlay.left .item .text .link, .grid.overlay.right .item .text .link {
    display: none; }

.grid.overlay.left .item:hover p, .grid.overlay.right .item:hover p {
  max-height: 12em;
  padding: 0 0 .5em 0; }

.grid.overlay.left .item .text {
  left: 0px;
  right: auto;
  max-width: calc(100% - 0px - 0px); }

.grid.overlay.right .item .text {
  left: auto;
  right: 0px;
  max-width: calc(100% - 0px - 0px); }

.grid.overlay.center .item .text {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease; }
  .grid.overlay.center .item .text .text_content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    max-width: none;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: transparent;
    bottom: auto;
    padding: 1rem; }
    .grid.overlay.center .item .text .text_content p {
      display: none; }

.grid.overlay.right .item .text {
  text-align: right; }

.dark .overlay.left .item .text, .dark .overlay.right .item .text {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.7)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  text-shadow: 0 0.1em 0.3em rgba(255, 255, 255, 0.3); }

.dark .overlay.left .item:hover .text, .dark .overlay.right .item:hover .text {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(30%, rgba(255, 255, 255, 0.8)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 30%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 30%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 30%);
  text-shadow: 0 0.1em 0.3em rgba(255, 255, 255, 0.3); }

.dark .overlay .text h3, .dark .overlay .text h4, .dark .overlay .text p {
  color: rgba(0, 0, 0, 0.9); }

.dark .overlay.center .text {
  background: rgba(255, 255, 255, 0.7); }
  .dark .overlay.center .text:hover {
    background: rgba(255, 255, 255, 0.3); }

.light .overlay.left .item .text, .light .overlay.right .item .text {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  text-shadow: 0 0.18em 0.3em rgba(0, 0, 0, 0.7); }

.light .overlay.left .item:hover .text, .light .overlay.right .item:hover .text {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 30%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 30%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 30%);
  text-shadow: 0 0.18em 0.3em rgba(0, 0, 0, 0.7); }

.light .overlay .text h3, .light .overlay .text h4, .light .overlay .text p {
  color: rgba(255, 255, 255, 0.9); }

.light .overlay.center .text {
  background: rgba(0, 0, 0, 0.3); }
  .light .overlay.center .text:hover {
    background: rgba(0, 0, 0, 0.7); }

.grid.overlay.center .item .text {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

.image_type_original .item img {
  width: auto;
  margin: 0 auto;
  max-width: 100%; }

@media (min-width: 992px) {
  .grid.overlay .text h4 {
    font-size: 1em; }
  .grid.overlay.contained .text h4 {
    font-size: .85em; } }

.jumbotron {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0; }
  .jumbotron .caption {
    position: relative;
    padding: 0;
    z-index: 10;
    text-align: center; }
    .jumbotron .caption .cap-cont {
      position: relative;
      top: auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      left: auto;
      right: auto;
      padding: 0; }
      .jumbotron .caption .cap-cont p {
        display: block; }
      .jumbotron .caption .cap-cont h1, .jumbotron .caption .cap-cont h2, .jumbotron .caption .cap-cont h3, .jumbotron .caption .cap-cont h4, .jumbotron .caption .cap-cont h5, .jumbotron .caption .cap-cont h6 {
        line-height: 1; }
  .jumbotron.height-full .caption .cap-cont {
    padding: 33vh 10%; }
    .jumbotron.height-full .caption .cap-cont:empty {
      display: block;
      height: 33vh; }
  .jumbotron.height-two_thirds .caption .cap-cont {
    padding: 16vh 10%; }
    .jumbotron.height-two_thirds .caption .cap-cont:empty {
      display: block;
      height: 33vh; }
  .jumbotron.height-one_third .caption .cap-cont {
    padding: 10%; }
    .jumbotron.height-one_third .caption .cap-cont:empty {
      display: block;
      height: 33vh; }

@media (min-width: 992px) {
  .jumbotron.caption_location_right .caption {
    text-align: right;
    width: 50%;
    margin-left: 50%; }
  .jumbotron.caption_location_left .caption {
    width: 50%; } }

@media (min-width: 1600px) {
  .full .jumbotron.caption_location_right .caption {
    text-align: right;
    width: 33%;
    margin-left: 67%; }
  .full .jumbotron.caption_location_left .caption {
    width: 33%; } }

@media (min-width: 2500px) {
  .full .jumbotron.caption_location_right .caption {
    text-align: right;
    width: 25%;
    margin-left: 75%; }
  .full .jumbotron.caption_location_left .caption {
    width: 25%; } }

#wrapper .jumbotron .background-image,
#wrapper .parallax .bgimg {
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  top: 50%;
  left: 50%;
  background: #444444; }

#wrapper .parallax {
  position: relative; }

#wrapper .jumbotron .background-image img,
#wrapper .parallax .bgimg img {
  max-width: none;
  min-width: 100%;
  width: 100%; }

@media (max-width: 992px) {
  #wrapper .jumbotron .background-image img,
  #wrapper .parallax .bgimg img {
    min-height: 100vh;
    width: auto; } }

@media (max-width: 1900px) {
  #wrapper .jumbotron .background-image img,
  #wrapper .parallax .bgimg img {
    min-height: 100vh; } }

.parallax:not(.video),
.parallax .parallax:not(.video) {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

@media screen and (max-width: 780px) {
  .parallax:not(.video),
  .parallax .parallax:not(.video) {
    background-attachment: scroll; } }

.btn,
a.btn,
.comment-form input[type="submit"],
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=image],
.gform_wrapper .gform_footer input[type=submit],
input[type="button"] {
  display: inline-block;
  vertical-align: top;
  margin: 1px 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  border-radius: 0.15em;
  font-size: 1em;
  line-height: 1;
  border: 1px solid #7db346;
  color: #7db346;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .btn:hover,
  a.btn:hover,
  .comment-form input[type="submit"]:hover,
  .gform_wrapper .gform_footer input.button:hover,
  .gform_wrapper .gform_footer input[type=image]:hover,
  .gform_wrapper .gform_footer input[type=submit]:hover,
  input[type="button"]:hover {
    color: #ffffff;
    background: #7db346;
    text-decoration: none; }
  .btn-default,
  a.btn-default,
  .comment-form input[type="submit"]-default,
  .gform_wrapper .gform_footer input.button-default,
  .gform_wrapper .gform_footer input[type=image]-default,
  .gform_wrapper .gform_footer input[type=submit]-default,
  input[type="button"]-default {
    border: 1px solid #bababa;
    color: #bababa; }
    .btn-default:hover,
    a.btn-default:hover,
    .comment-form input[type="submit"]-default:hover,
    .gform_wrapper .gform_footer input.button-default:hover,
    .gform_wrapper .gform_footer input[type=image]-default:hover,
    .gform_wrapper .gform_footer input[type=submit]-default:hover,
    input[type="button"]-default:hover {
      color: #000000;
      background: #bababa;
      text-decoration: none; }
  .btn.focus, .btn:focus, .btn.active.focus, .btn.active:focus, .btn:active.focus, .btn:active:focus,
  a.btn.focus,
  a.btn:focus,
  a.btn.active.focus,
  a.btn.active:focus,
  a.btn:active.focus,
  a.btn:active:focus,
  .comment-form input[type="submit"].focus,
  .comment-form input[type="submit"]:focus,
  .comment-form input[type="submit"].active.focus,
  .comment-form input[type="submit"].active:focus,
  .comment-form input[type="submit"]:active.focus,
  .comment-form input[type="submit"]:active:focus,
  .gform_wrapper .gform_footer input.button.focus,
  .gform_wrapper .gform_footer input.button:focus,
  .gform_wrapper .gform_footer input.button.active.focus,
  .gform_wrapper .gform_footer input.button.active:focus,
  .gform_wrapper .gform_footer input.button:active.focus,
  .gform_wrapper .gform_footer input.button:active:focus,
  .gform_wrapper .gform_footer input[type=image].focus,
  .gform_wrapper .gform_footer input[type=image]:focus,
  .gform_wrapper .gform_footer input[type=image].active.focus,
  .gform_wrapper .gform_footer input[type=image].active:focus,
  .gform_wrapper .gform_footer input[type=image]:active.focus,
  .gform_wrapper .gform_footer input[type=image]:active:focus,
  .gform_wrapper .gform_footer input[type=submit].focus,
  .gform_wrapper .gform_footer input[type=submit]:focus,
  .gform_wrapper .gform_footer input[type=submit].active.focus,
  .gform_wrapper .gform_footer input[type=submit].active:focus,
  .gform_wrapper .gform_footer input[type=submit]:active.focus,
  .gform_wrapper .gform_footer input[type=submit]:active:focus,
  input[type="button"].focus,
  input[type="button"]:focus,
  input[type="button"].active.focus,
  input[type="button"].active:focus,
  input[type="button"]:active.focus,
  input[type="button"]:active:focus {
    text-shadow: 0 0 solid rgba(0, 0, 0, 0); }
  .btn.active, .btn:active,
  a.btn.active,
  a.btn:active,
  .comment-form input[type="submit"].active,
  .comment-form input[type="submit"]:active,
  .gform_wrapper .gform_footer input.button.active,
  .gform_wrapper .gform_footer input.button:active,
  .gform_wrapper .gform_footer input[type=image].active,
  .gform_wrapper .gform_footer input[type=image]:active,
  .gform_wrapper .gform_footer input[type=submit].active,
  .gform_wrapper .gform_footer input[type=submit]:active,
  input[type="button"].active,
  input[type="button"]:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    background: #233314; }

.light .btn,
.light a.btn,
.light .comment-form input[type="submit"],
.light .gform_wrapper .gform_footer input.button,
.light .gform_wrapper .gform_footer input[type=image],
.light .gform_wrapper .gform_footer input[type=submit],
.light input[type="button"] {
  color: #fff;
  border-color: #fff; }
  .light .btn:hover,
  .light a.btn:hover,
  .light .comment-form input[type="submit"]:hover,
  .light .gform_wrapper .gform_footer input.button:hover,
  .light .gform_wrapper .gform_footer input[type=image]:hover,
  .light .gform_wrapper .gform_footer input[type=submit]:hover,
  .light input[type="button"]:hover {
    color: #000;
    background: #fff; }

.dark .btn,
.dark a.btn,
.dark .comment-form input[type="submit"],
.dark .gform_wrapper .gform_footer input.button,
.dark .gform_wrapper .gform_footer input[type=image],
.dark .gform_wrapper .gform_footer input[type=submit],
.dark input[type="button"] {
  color: #000;
  border-color: #000; }
  .dark .btn:hover,
  .dark a.btn:hover,
  .dark .comment-form input[type="submit"]:hover,
  .dark .gform_wrapper .gform_footer input.button:hover,
  .dark .gform_wrapper .gform_footer input[type=image]:hover,
  .dark .gform_wrapper .gform_footer input[type=submit]:hover,
  .dark input[type="button"]:hover {
    color: #fff;
    background: #000; }

.light .large .btn,
.light .large a.btn,
.light .large .comment-form input[type="submit"],
.light .large .gform_wrapper .gform_footer input.button,
.light .large .gform_wrapper .gform_footer input[type=image],
.light .large .gform_wrapper .gform_footer input[type=submit],
.light .large input[type="button"] {
  font-size: 1rem;
  color: #26451b;
  background: #fbfdfb;
  border-color: #fbfdfb; }
  .light .large .btn:hover,
  .light .large a.btn:hover,
  .light .large .comment-form input[type="submit"]:hover,
  .light .large .gform_wrapper .gform_footer input.button:hover,
  .light .large .gform_wrapper .gform_footer input[type=image]:hover,
  .light .large .gform_wrapper .gform_footer input[type=submit]:hover,
  .light .large input[type="button"]:hover {
    color: #000;
    background: white; }

.dark .large .btn,
.dark .large a.btn,
.dark .large .comment-form input[type="submit"],
.dark .large .gform_wrapper .gform_footer input.button,
.dark .large .gform_wrapper .gform_footer input[type=image],
.dark .large .gform_wrapper .gform_footer input[type=submit],
.dark .large input[type="button"] {
  font-size: 1rem;
  color: #fbfdfb;
  background: #4e8e38;
  border-color: #4e8e38; }
  .dark .large .btn:hover,
  .dark .large a.btn:hover,
  .dark .large .comment-form input[type="submit"]:hover,
  .dark .large .gform_wrapper .gform_footer input.button:hover,
  .dark .large .gform_wrapper .gform_footer input[type=image]:hover,
  .dark .large .gform_wrapper .gform_footer input[type=submit]:hover,
  .dark .large input[type="button"]:hover {
    color: #fff;
    background: #3a6a29; }

.override input,
.override select,
.override textarea {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  padding: 0.5rem 0.75rem;
  font-size: 1em;
  border-radius: 0.15em;
  border-width: 1px;
  max-width: 100%;
  border-style: solid;
  font-weight: 300; }
  .override input::-webkit-input-placeholder,
  .override select::-webkit-input-placeholder,
  .override textarea::-webkit-input-placeholder {
    color: rgba(77, 77, 77, 0.2);
    font-weight: 300; }
  .override input:-ms-input-placeholder,
  .override select:-ms-input-placeholder,
  .override textarea:-ms-input-placeholder {
    color: rgba(77, 77, 77, 0.2);
    font-weight: 300; }
  .override input::-ms-input-placeholder,
  .override select::-ms-input-placeholder,
  .override textarea::-ms-input-placeholder {
    color: rgba(77, 77, 77, 0.2);
    font-weight: 300; }
  .override input::placeholder,
  .override select::placeholder,
  .override textarea::placeholder {
    color: rgba(77, 77, 77, 0.2);
    font-weight: 300; }

.override .light input,
.override .light select,
.override .light textarea {
  border-color: gray; }

.override .dark input,
.override .dark select,
.override .dark textarea {
  border-color: gray; }

.override .gform_wrapper {
  line-height: 1.5; }
  .override .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  .override .gform_wrapper select {
    padding: 0.5rem 0.75rem; }

.override input[type="submit"] {
  background: #62B346;
  color: #ffffff; }
  .override input[type="submit"]:hover {
    cursor: pointer;
    background: #80c468;
    color: #000000; }

.override textarea {
  min-height: 8em; }

.override :not(.mejs-button) > button,
.override :not(.mejs-button) > input[type="submit"] {
  background: #62B346;
  padding: 0.618rem 1rem;
  font-size: 1em;
  line-height: 1;
  white-space: nowrap;
  border: 0;
  border-bottom: 1px solid #bababa;
  margin: 0; }

.override fieldset {
  border: 1px solid #f2f2f2; }

.override .form_saved_message .form_saved_message_emailform {
  text-align: center; }

.override .form_saved_message a {
  color: rgba(255, 51, 51, 0.5); }

.override .partial_entry_warning {
  font-size: 0.7em;
  color: #bababa;
  font-style: italic; }

.override .gform_wrapper {
  display: block !important;
  font-size: 1rem; }
  .override .gform_wrapper p {
    font-size: 1em;
    margin: 0.618em 0 0.31em; }
  .override .gform_wrapper h1,
  .override .gform_wrapper h2,
  .override .gform_wrapper h3,
  .override .gform_wrapper h4,
  .override .gform_wrapper h5,
  .override .gform_wrapper h6 {
    font-family: "Open Sans", Verdana, Geneva, sans-serif; }
  .override .gform_wrapper .gf_page_steps {
    margin: 0 0 1.618em; }
  .override .gform_wrapper .gf_step {
    width: auto;
    height: auto;
    margin: 0;
    padding: .5em 1.75em .5em 0;
    display: inline-block;
    font-size: .76em; }
  .override .gform_wrapper ul.gform_fields .col_hard_left {
    float: left;
    width: 33%;
    clear: left;
    padding-right: 3%; }
  .override .gform_wrapper ul.gform_fields .col_hard_right {
    float: right;
    width: 67%;
    padding-left: 0;
    clear: right; }
  .override .gform_wrapper ul.gform_fields .gfield.readonly input,
  .override .gform_wrapper ul.gform_fields .gfield input[readonly] {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 1.618em;
    color: #878787; }
  .override .gform_wrapper ul.gform_fields .gfield.gf_hide {
    display: none; }
  .override .gform_wrapper select {
    margin: 0;
    border: 1px solid #ccc;
    background: #ffffff;
    padding: 0.5rem 1em 0.5rem 0.75rem;
    font-size: 1em;
    border-radius: 0.15em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%; }
    .override .gform_wrapper select.medium.gfield_select {
      width: 100%; }
    .override .gform_wrapper select::-ms-expand {
      display: none;
      /* emove default arrow in IE 10 and 11 */ }
  .override .gform_wrapper .ginput_container_select {
    position: relative; }
    .override .gform_wrapper .ginput_container_select select {
      width: 100%;
      padding: 0.5rem 0.75rem;
      line-height: 1.5; }
    .override .gform_wrapper .ginput_container_select::after {
      content: ' ';
      position: absolute;
      top: 50%;
      right: 1em;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0.618em 0.3em 0 0.3em;
      border-color: #cccccc transparent transparent transparent; }
  .override .gform_wrapper .dark select {
    border: 1px solid #ccc;
    background: #ffffff; }
  .override .gform_wrapper .dark .gform_wrapper .ginput_container_select::after {
    border-color: #cccccc transparent transparent transparent; }
  .override .gform_wrapper .dark .gfield_required {
    color: gray; }
  .override .gform_wrapper .light select {
    border: 1px solid #444444;
    background: #111111; }
  .override .gform_wrapper .light .gform_wrapper .ginput_container_select::after {
    border-color: #444444 transparent transparent transparent; }
  .override .gform_wrapper .light .gfield_required {
    color: gray; }
  .override .gform_wrapper .gfield.gfield_price label.gfield_label {
    font-weight: bold; }
  .override .gform_wrapper .gfield.gfield_price .ginput_product_price {
    color: #62B346; }
  .override .gform_wrapper label.gfield_label {
    font-weight: normal;
    font-size: 1em; }
  .override .gform_wrapper table.gfield_list thead th {
    font-weight: normal;
    font-size: 0.8em;
    padding-bottom: 0; }
  .override .gform_wrapper li.gfield.field_description_below + li.gsection {
    padding-top: 1.618em; }
  .override .gform_wrapper .top_label .ginput_container {
    margin-top: 0; }
  .override .gform_wrapper .top_label .gsection_description {
    margin-top: 1em;
    margin-bottom: 1em; }
  .override .gform_wrapper .field_description_below {
    padding-top: 0;
    padding-bottom: 1em;
    font-size: 1em; }
    .override .gform_wrapper .field_description_below .gfield_description {
      padding-top: 0.25em; }
  .override .gform_wrapper li.gfield.gf_list_3col ul.gfield_checkbox li,
  .override .gform_wrapper li.gfield.gf_list_3col ul.gfield_radio li {
    margin-bottom: 0.618em; }
  .override .gform_wrapper .gfield_checkbox li input,
  .override .gform_wrapper .gfield_checkbox li input[type=checkbox],
  .override .gform_wrapper .gfield_radio li input[type=radio] {
    vertical-align: top;
    margin: 0.3em 0.4em 0 0.1em; }
  .override .gform_wrapper li.gfield.gf_list_3col ul.gfield_checkbox li,
  .override .gform_wrapper li.gfield.gf_list_3col ul.gfield_radio li {
    overflow: auto; }
  .override .gform_wrapper li.gfield.gf_list_2col ul.gfield_checkbox li label,
  .override .gform_wrapper li.gfield.gf_list_2col ul.gfield_radio li label,
  .override .gform_wrapper li.gfield.gf_list_3col ul.gfield_checkbox li label,
  .override .gform_wrapper li.gfield.gf_list_3col ul.gfield_radio li label,
  .override .gform_wrapper li.gfield.gf_list_4col ul.gfield_checkbox li label,
  .override .gform_wrapper li.gfield.gf_list_4col ul.gfield_radio li label {
    white-space: normal; }
  .override .gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked + label,
  .override .gform_wrapper ul.gfield_radio li input[type=radio]:checked + label {
    font-weight: normal; }
  .override .gform_wrapper .gform_page_footer .button.gform_previous_button {
    opacity: 0.5;
    vertical-align: top;
    display: inline-block; }
    .override .gform_wrapper .gform_page_footer .button.gform_previous_button:hover {
      opacity: 1; }
  .override .gform_wrapper .gform_page_footer .button.gform_button, .override .gform_wrapper .gform_page_footer .button.gform_next_button, .override .gform_wrapper .gform_page_footer .button.gform_previous_button {
    margin-bottom: 1em; }
  .override .gform_wrapper .gfield_checkbox li label,
  .override .gform_wrapper .gfield_radio li label {
    font-size: 1em; }
  .override .gform_wrapper .gf_btn {
    text-align: center; }
    .override .gform_wrapper .gf_btn .gfield_checkbox li label,
    .override .gform_wrapper .gf_btn .gfield_radio li label {
      background: transparent;
      border-radius: 0.15em;
      border: 1px solid #62B346;
      text-align: center;
      color: #62B346;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      padding: .6rem 1rem;
      width: 100%;
      margin: 1.618em 1px 1px; }
    .override .gform_wrapper .gf_btn .gfield_checkbox li input,
    .override .gform_wrapper .gf_btn .gfield_radio li input {
      position: absolute;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      top: .8em; }
      .override .gform_wrapper .gf_btn .gfield_checkbox li input:checked + label,
      .override .gform_wrapper .gf_btn .gfield_radio li input:checked + label {
        background: #62B346;
        color: #fff; }
  .override .gform_wrapper li.gfield.gfield_error,
  .override .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    padding: 0 1em; }

.override .gform_wrapper .field_description_below .gfield_consent_description, .override .gform_wrapper .gfield_consent_description {
  padding: 0;
  border: 0;
  opacity: .7; }

.override .light .btn,
.override .light .comment-form input[type="submit"],
.override .light .gform_wrapper .gform_footer input.button,
.override .light .gform_wrapper .gform_footer input[type=image],
.override .light .gform_wrapper .gform_footer input[type=submit],
.override .light input[type="button"],
.override .dark .light .btn,
.override .dark .light .comment-form input[type="submit"],
.override .dark .light .gform_wrapper .gform_footer input.button,
.override .dark .light .gform_wrapper .gform_footer input[type=image],
.override .dark .light .gform_wrapper .gform_footer input[type=submit],
.override .dark .light input[type="button"] {
  border-color: #fff;
  color: #fff; }
  .override .light .btn:hover,
  .override .light .comment-form input[type="submit"]:hover,
  .override .light .gform_wrapper .gform_footer input.button:hover,
  .override .light .gform_wrapper .gform_footer input[type=image]:hover,
  .override .light .gform_wrapper .gform_footer input[type=submit]:hover,
  .override .light input[type="button"]:hover,
  .override .dark .light .btn:hover,
  .override .dark .light .comment-form input[type="submit"]:hover,
  .override .dark .light .gform_wrapper .gform_footer input.button:hover,
  .override .dark .light .gform_wrapper .gform_footer input[type=image]:hover,
  .override .dark .light .gform_wrapper .gform_footer input[type=submit]:hover,
  .override .dark .light input[type="button"]:hover {
    color: #000;
    background: #fff; }

.override .light .gf_btn .gfield_checkbox li label,
.override .light .gf_btn .gfield_radio li label,
.override .dark .light .gf_btn .gfield_checkbox li label,
.override .dark .light .gf_btn .gfield_radio li label {
  background: transparent;
  border: 1px solid #fff;
  color: #fff; }

.override .light .gf_btn .gfield_checkbox li input:checked + label,
.override .light .gf_btn .gfield_radio li input:checked + label,
.override .dark .light .gf_btn .gfield_checkbox li input:checked + label,
.override .dark .light .gf_btn .gfield_radio li input:checked + label {
  background: #fff;
  color: #000; }

footer.main {
  text-align: center;
  font-size: .75em;
  position: relative; }
  footer.main .txt_blk {
    text-align: left;
    max-width: calc(40rem + 2rem + 2rem); }
    footer.main .txt_blk > .inline-block:first-child {
      width: 100%;
      padding-right: 0;
      padding-bottom: 0;
      margin-bottom: 2em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  footer.main.light .txt_blk > .inline-block:first-child {
    border-bottom-color: rgba(255, 255, 255, 0.1); }
  footer.main .inline-block {
    padding: 1.6vw 3.2vw 1.6vw 0;
    margin-left: 0; }
    footer.main .inline-block.left, footer.main .inline-block.right {
      padding-top: 0;
      opacity: .6;
      -webkit-transition: opacity .3s ease;
      -o-transition: opacity .3s ease;
      transition: opacity .3s ease;
      font-size: .6rem; }
      footer.main .inline-block.left:hover, footer.main .inline-block.right:hover {
        opacity: 1; }
    footer.main .inline-block.right {
      padding-right: 0; }
    footer.main .inline-block:last-child {
      padding-bottom: 0; }
    footer.main .inline-block:first-child {
      padding-top: 0; }
    footer.main .inline-block.social {
      padding-top: 0; }
    footer.main .inline-block.contact {
      width: 100%; }
    footer.main .inline-block.social, footer.main .inline-block.contact {
      font-size: .7rem; }
  footer.main h1, footer.main h2, footer.main h3, footer.main h4, footer.main h5, footer.main h6 {
    margin: 1em 0 .5em; }
  footer.main ul.menu li a {
    font-size: 1em;
    line-height: 1.5; }
  footer.main .widget_nav_menu, footer.main ul.menu {
    width: 100%;
    text-align: left; }
    footer.main .widget_nav_menu li, footer.main ul.menu li {
      min-width: 0;
      margin: 0;
      padding: 0; }
      footer.main .widget_nav_menu li a, footer.main ul.menu li a {
        padding: 0 1em 1em 0; }
        footer.main .widget_nav_menu li a:after, footer.main ul.menu li a:after {
          content: none; }
  footer.main p.telephone {
    margin-top: .5rem; }
  footer.main .widget_nav_menu,
  footer.main ul.menu {
    width: 100%;
    text-align: left;
    padding: 0; }
    footer.main .widget_nav_menu li,
    footer.main ul.menu li {
      display: inline-block;
      vertical-align: top;
      margin: 0; }
      footer.main .widget_nav_menu li a,
      footer.main ul.menu li a {
        padding: .3em 0;
        line-height: 1.5;
        display: block;
        white-space: normal; }
      footer.main .widget_nav_menu li ul,
      footer.main ul.menu li ul {
        padding: 0;
        margin: .6em 0; }
      footer.main .widget_nav_menu li li,
      footer.main ul.menu li li {
        display: inline-block;
        width: 100%;
        font-size: .7rem; }
    footer.main .widget_nav_menu > li,
    footer.main ul.menu > li {
      font-size: 1rem;
      margin-right: 4%;
      margin-bottom: 4%;
      width: 95%; }
    footer.main .widget_nav_menu .sub-menu,
    footer.main ul.menu .sub-menu {
      display: block; }
  footer.main p {
    padding: 0 0 .5em; }
  footer.main .sitebooster {
    padding-top: 2em; }

@media (min-width: 470px) {
  footer.main .left, footer.main .right {
    width: 49.5%; }
  footer.main ul.menu > li {
    padding-right: 3%;
    margin-right: 0;
    width: 49%; } }

@media (min-width: 780px) {
  footer.main .left {
    width: 74%; }
  footer.main .right {
    width: 25%; }
  footer.main ul.menu > li {
    width: 24.5%; }
    footer.main ul.menu > li a {
      font-size: .8em; } }

.pop_overlay.active {
  position: fixed;
  top: 1.6vw;
  right: 1.6vw; }

#wrapper.popup {
  display: none; }

.pop_overlay {
  display: none; }
  .pop_overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998; }
    .pop_overlay.active .overlay_close:hover {
      cursor: -webkit-zoom-out;
      cursor: zoom-out; }
    .pop_overlay.active .btn.overlay_close {
      position: absolute;
      font-size: .8em;
      top: -1px;
      right: -1px;
      background: #ccc;
      color: #fff;
      border-radius: 0 0 0 .15rem;
      border-width: 0;
      padding: .618em 1em; }
    .pop_overlay.active .pop_content {
      position: absolute;
      background: #fff;
      padding: 4.85vw;
      width: 100vw;
      height: 100vh;
      overflow-y: auto;
      z-index: 2; }
    .pop_overlay.active .bg {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1.5vw;
      z-index: 1;
      background: rgba(0, 0, 0, 0.8); }

@media (max-width: 780px) {
  footer.main {
    padding: 2rem; }
    footer.main .txt_blk {
      padding: 0; }
    footer.main .inline-block {
      padding: 1rem 2rem 1rem 0; } }

@media (min-width: 1600px) {
  footer.main .txt_blk {
    max-width: calc(40rem + 4.85vw + 4.85vw); } }

.light .social svg.icon {
  fill: #ddd; }

.dark .social svg.icon {
  fill: #222; }

.social {
  text-align: left; }
  .social svg.icon {
    width: 35px;
    height: 45px;
    fill: #FFF;
    display: block;
    padding: 10px 10px 10px 0;
    margin: 0; }
  .social div {
    display: inline-block; }
    .social div a {
      padding: 0;
      margin: 0; }
      .social div a:hover {
        background: transparent; }
        .social div a:hover .icon {
          opacity: 1; }
        .social div a:hover svg.icon-facebook {
          fill: #3b5998; }
        .social div a:hover svg.icon-twitter {
          fill: #55acee; }
        .social div a:hover svg.icon-google {
          fill: #dd4b39; }
        .social div a:hover svg.icon-youtube {
          fill: #bb0000; }
        .social div a:hover svg.icon-linkedin {
          fill: #007bb5; }
        .social div a:hover svg.icon-instagram {
          fill: #e95950; }
        .social div a:hover svg.icon-pinterest {
          fill: #cb2027; }
        .social div a:hover svg.icon-flickr {
          fill: #ff0084; }
        .social div a:hover svg.icon-tumblr {
          fill: #32506d; }
        .social div a:hover svg.icon-vimeo {
          fill: #aad450; }

.dark .light p, .dark .light li, .light p, .light li {
  color: #e8e8e8; }

nav.sticky ul li a {
  color: #ffffff; }
