.content.main,
.lazyload,
.lazyloaded,
.video.controls {
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body.chrome {
  -webkit-font-smoothing: antialiased; }

html.contained {
  background-color: #333; }
  html.contained body {
    background: transparent; }
  html.contained #wrapper {
    max-width: 65em;
    margin: 0 auto;
    overflow: hidden; }

#wrapper {
  z-index: -2;
  overflow: hidden; }

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0; }

.clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.sticky {
  font-style: normal; }

.entry-content img {
  margin: 0 0 1.5em; }

.alignleft,
.alignright,
img.alignleft,
img.alignright {
  max-width: 55%;
  margin-bottom: 1em; }

.alignleft,
img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.alignright,
img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.alignnone,
img.alignnone {
  margin: 1em 0 1.618em;
  display: inline-block; }

.aligncenter:first-child,
.alignleft:first-child,
.alignnone:first-child,
.alignright:first-child,
img.aligncenter:first-child,
img.alignleft:first-child,
img.alignnone:first-child,
img.alignright:first-child {
  margin-top: 0; }

.aligncenter:last-child,
.alignleft:last-child,
.alignnone:last-child,
.alignright:last-child,
img.aligncenter:last-child,
img.alignleft:last-child,
img.alignnone:last-child,
img.alignright:last-child {
  margin-bottom: 0; }

.image_full {
  margin: 0 auto; }

.p-gall .owl-carousel .owl-item img {
  width: auto;
  height: 10em; }

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  max-width: 100%; }
  .wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0; }
  .wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 0.75em;
    margin: 0;
    padding: .75em 1em 1.25em;
    text-align: center; }

.wp-smiley {
  margin: 0 !important;
  max-height: 1em; }

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left; }

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right; }

figure {
  margin: 0;
  padding: 0.5em 0; }

/*Wordpress editor styles end*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

div:empty {
  display: none; }

.wp-video {
  margin: 1em auto; }

.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.embed-container {
  margin: 1.618em 0;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: 0; }
  .embed-container:first-child {
    margin-top: 0; }
  .embed-container:last-child {
    margin-bottom: 0; }

.media-element .embed-container:first-child {
  margin-top: 1.618em; }

.media-element .embed-container:last-child {
  margin-bottom: 1.618em; }

.media-element:first-child .embed-container:first-child {
  margin-top: 0; }

.media-element:last-child .embed-container:first-child {
  margin-top: 0; }

.wp-audio-shortcode {
  margin: 1em 0; }
  .wp-audio-shortcode:first-child {
    margin-top: 0; }
  .wp-audio-shortcode:last-child {
    margin-bottom: 0; }

.override .mejs-container,
.override .mejs-container
.mejs-controls,
.override .mejs-embed,
.override .mejs-embed body {
  background: transparent; }

.override .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: rgba(255, 255, 255, 0.3); }

.override .mejs-controls .mejs-time-rail .mejs-time-current {
  background: #ffffff; }

.override .mejs-container {
  margin: 1em 0;
  border-radius: 0.15em;
  overflow: hidden;
  background: #4d4d4d; }
  .override .mejs-container:first-child {
    margin-top: 0; }
  .override .mejs-container:last-child {
    margin-bottom: 0; }
  .override .mejs-container div:empty {
    display: block; }

.s_over {
  position: relative;
  display: inline-block;
  min-width: 100%;
  font-size: 1rem; }

@media (min-width: 992px) {
  .media {
    max-width: 75%;
    margin: 0 auto; } }

iframe {
  width: 100%;
  border: none; }
  iframe.fb_like {
    width: 96px; }

video {
  max-width: 100%; }

.scrollme .content {
  position: relative;
  z-index: 10; }

.text {
  position: relative; }

.media,
.txt_blk {
  padding: 2rem; }

.media .intro,
.media .outro {
  padding-top: 0;
  padding-bottom: 0; }

.text {
  position: relative; }

.txt_blk {
  max-width: 40rem;
  margin: auto;
  position: relative;
  z-index: 10;
  margin: 0 auto; }

.txt_blk.page_nav {
  padding: 0.5em;
  background: #fafafa;
  max-width: 100%;
  font-size: 0.75em; }
  .txt_blk.page_nav .alignleft,
  .txt_blk.page_nav .alignright {
    margin: 0;
    padding: 1em;
    max-width: 50%; }
  .txt_blk.page_nav.tags {
    background: #f2f2f2;
    text-align: center; }
    .txt_blk.page_nav.tags a {
      padding: .2rem .6rem;
      background: #f2f2f2;
      margin: .3rem .5rem .3rem 0;
      border: 1px solid #4d4d4d;
      border-color: #4d4d4d;
      color: #4d4d4d;
      display: inline-block;
      border-radius: 0.15em; }
      .txt_blk.page_nav.tags a:hover {
        background: #fff; }

.slice {
  position: relative;
  background: #fff;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  line-height: 0;
  font-size: 0;
  padding: .1px;
  margin: -.2px; }
  .slice .woocommerce {
    line-height: 1.5; }

.txt_blk,
.text .txt_blk,
.two_column .two_column {
  width: 100%;
  max-width: 40rem;
  max-width: calc(40rem + 4.85vw + 4.85vw); }

.text .txt_blk.normal {
  width: 100%;
  max-width: none; }
  .text .txt_blk.normal .text_content {
    max-width: 40rem;
    margin: 0 auto;
    line-height: 1.5; }
  .text .txt_blk.normal.nopad_full_width .text_content {
    max-width: none; }

@media (max-width: 780px) {
  .text .txt_blk.soft_left.avm_10, .text .txt_blk.soft_left.avm_15, .text .txt_blk.soft_left.avm_25, .text .txt_blk.soft_right.avm_10, .text .txt_blk.soft_right.avm_15, .text .txt_blk.soft_right.avm_25, .text .txt_blk.soft_centre.avm_10, .text .txt_blk.soft_centre.avm_15, .text .txt_blk.soft_centre.avm_25, .p-gall .txt_blk.soft_left.avm_10, .p-gall .txt_blk.soft_left.avm_15, .p-gall .txt_blk.soft_left.avm_25, .p-gall .txt_blk.soft_right.avm_10, .p-gall .txt_blk.soft_right.avm_15, .p-gall .txt_blk.soft_right.avm_25, .p-gall .txt_blk.soft_centre.avm_10, .p-gall .txt_blk.soft_centre.avm_15, .p-gall .txt_blk.soft_centre.avm_25 {
    width: 80%;
    min-width: 80%;
    margin-left: 10%;
    border-radius: 0.15em; }
  .text .txt_blk.ocset.hard_left.avm_10, .text .txt_blk.ocset.hard_left.avm_15, .text .txt_blk.ocset.hard_left.avm_25, .p-gall .txt_blk.ocset.hard_left.avm_10, .p-gall .txt_blk.ocset.hard_left.avm_15, .p-gall .txt_blk.ocset.hard_left.avm_25 {
    width: 90%;
    min-width: 90%;
    margin-left: 0;
    border-radius: 0 0.15em 0.15em 0; }
  .text .txt_blk.ocset.hard_right.avm_10, .text .txt_blk.ocset.hard_right.avm_15, .text .txt_blk.ocset.hard_right.avm_25, .p-gall .txt_blk.ocset.hard_right.avm_10, .p-gall .txt_blk.ocset.hard_right.avm_15, .p-gall .txt_blk.ocset.hard_right.avm_25 {
    width: 90%;
    min-width: 90%;
    margin-left: 10%;
    border-radius: 0.15em 0 0 0.15em; } }

@media (min-width: 780px) {
  .text .txt_blk {
    max-width: 40rem;
    max-width: calc(40rem + 4.85vw + 4.85vw); }
    .text .txt_blk.hard_left, .text .txt_blk.hard_right, .text .txt_blk.soft_left, .text .txt_blk.soft_right, .text .txt_blk.soft_centre {
      max-width: none;
      min-width: 0; }
    .text .txt_blk.hard_left, .text .txt_blk.hard_right, .text .txt_blk.soft_left, .text .txt_blk.soft_right {
      width: 50%; }
    .text .txt_blk.soft_left.avm_10, .text .txt_blk.soft_left.avm_15, .text .txt_blk.soft_left.avm_25, .text .txt_blk.soft_right.avm_10, .text .txt_blk.soft_right.avm_15, .text .txt_blk.soft_right.avm_25, .text .txt_blk.soft_centre.avm_10, .text .txt_blk.soft_centre.avm_15, .text .txt_blk.soft_centre.avm_25 {
      border-radius: 0.15em; }
    .text .txt_blk.hard_left {
      margin-left: 0; }
      .text .txt_blk.hard_left.avm_10, .text .txt_blk.hard_left.avm_15, .text .txt_blk.hard_left.avm_25 {
        border-radius: 0 0.15em 0.15em 0; }
    .text .txt_blk.hard_right.avm_10, .text .txt_blk.hard_right.avm_15, .text .txt_blk.hard_right.avm_25 {
      border-radius: 0.15em 0 0 0.15em; }
    .text .txt_blk.soft_right {
      width: 50%;
      min-width: 50%;
      margin-left: 40%; }
      .text .txt_blk.soft_right.avm_10, .text .txt_blk.soft_right.avm_15, .text .txt_blk.soft_right.avm_25 {
        border-radius: 0.15em; }
    .text .txt_blk.soft_left {
      width: 50%;
      margin-left: 10%; }
      .text .txt_blk.soft_left.avm_10, .text .txt_blk.soft_left.avm_15, .text .txt_blk.soft_left.avm_25 {
        border-radius: 0.15em; }
    .text .txt_blk.soft_centre {
      max-width: 80%;
      min-width: 80%;
      margin-left: 10%;
      width: 100%; }
    .text .txt_blk.hard_right {
      margin-left: 50%; } }

@media (min-width: 1600px) {
  .txt_blk, .media {
    padding-left: 4.85vw;
    padding-right: 4.85vw; }
  .full .text .txt_blk.hard_left, .full .text .txt_blk.hard_right, .full .text .txt_blk.soft_left, .full .text .txt_blk.soft_right {
    max-width: none;
    width: 33%;
    min-width: 33%; }
  .full .text .txt_blk.soft_left {
    margin-left: 17%; }
  .full .text .txt_blk.soft_centre {
    width: 66%;
    min-width: 66%;
    margin-left: 17%; }
  .full .text .txt_blk.soft_right {
    margin-left: 50%; }
  .full .text .txt_blk.hard_right {
    margin-left: 67%; } }

@media (min-width: 1900px) {
  .full .text .txt_blk.soft_centre {
    width: 40rem;
    min-width: 0;
    margin-left: calc(50% - (40rem / 2)); } }

.avs_tighter {
  padding-top: .5rem;
  padding-bottom: .5rem; }

.avs_tight {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.avs_default {
  padding-top: 4.85vw;
  padding-bottom: 4.85vw; }

.avs_10 {
  padding-top: 10%;
  padding-top: 10vw;
  padding-bottom: 10%;
  padding-bottom: 10vw; }

.avs_15 {
  padding-top: 15%;
  padding-top: 15vw;
  padding-bottom: 15%;
  padding-bottom: 15vw; }

.avs_25 {
  padding-top: 25%;
  padding-top: 20vw;
  padding-bottom: 25%;
  padding-bottom: 20vw; }

.avs_full_screen {
  min-height: 100vh; }
  .avs_full_screen:not(.media) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .avs_full_screen.media {
    position: relative; }
    .avs_full_screen.media .media-container {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: 100%; }

.override .avm_ {
  margin-top: 0;
  margin-bottom: 0; }
  .override .avm_default {
    margin-top: 0;
    margin-bottom: 0; }
  .override .avm_5 {
    margin-top: 5%;
    margin-top: 5vw;
    margin-bottom: 5%;
    margin-bottom: 5vw; }
  .override .avm_10 {
    margin-top: 10%;
    margin-top: 10vw;
    margin-bottom: 10%;
    margin-bottom: 10vw; }
  .override .avm_15 {
    margin-top: 15%;
    margin-top: 15vw;
    margin-bottom: 15%;
    margin-bottom: 15vw; }
  .override .avm_25 {
    margin-top: 25%;
    margin-top: 20vw;
    margin-bottom: 25%;
    margin-bottom: 20vw; }

.override .avs_full_screen5.soft_centre, .override .avs_full_screen10.soft_centre, .override .avs_full_screen15.soft_centre, .override .avs_full_screen25.soft_centre {
  border-radius: 0.15em; }

@media screen and (max-width: 780px) {
  header.top.parallax .avs_default {
    padding-top: calc(4.85vw + 3rem + 4.85vw);
    padding-bottom: 4.85vw; }
  header.top.parallax .avs_10 {
    padding-top: calc(10% + 3rem);
    padding-top: calc(10vw + 3rem); }
  header.top.parallax .avs_15 {
    padding-top: calc(15% + 3rem);
    padding-top: calc(15vw + 3rem); }
  header.top.parallax .avs_25 {
    padding-top: calc(25% + 3rem);
    padding-top: calc(25vw + 3rem); }
  header.top.parallax .avs_full_screen {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 992px) {
  header.top .hat, header.top #header {
    min-height: calc( 4.85vw + 3rem + 4.85vw); }
  header.top .branding {
    top: 4.85vw;
    left: 4.85vw; }
  #tbc-nav-icon {
    right: 4.85vw;
    top: 4.85vw; }
    #tbc-nav-icon.is-hidden.active, #tbc-nav-icon.is-visible {
      top: 4.85vw; } }

.full .text .txt_blk.nopad_full_width {
  max-width: none;
  width: 100%;
  margin-left: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0; }
  .full .text .txt_blk.nopad_full_width .text_content {
    max-width: none; }

.navbar {
  margin: 0; }

.inline-block {
  display: inline-block;
  float: none;
  max-width: 100%;
  margin-left: -.2em;
  padding: 1.6vw 3.2vw 1.6vw 0; }

.vbottom {
  vertical-align: bottom; }

.vtop {
  vertical-align: top; }

.vbaseline {
  vertical-align: baseline; }

.vmiddle {
  vertical-align: middle; }

.feat_item {
  margin: 0; }

ul.tribe-list-widget {
  padding-left: 0;
  list-style: none; }
  ul.tribe-list-widget li {
    margin: 1.618em 0; }
    ul.tribe-list-widget li:first-child {
      margin-top: 0; }
    ul.tribe-list-widget li h5 {
      margin: 0; }

.justify-container {
  text-align: justify;
  font-size: 0; }
  .justify-container > * {
    text-align: left;
    font-size: medium; }
  .justify-container .justify-item {
    text-align: left;
    display: inline-block; }
  .justify-container:last-child:after {
    content: ' ';
    width: 100%;
    display: inline-block; }

.container {
  margin-right: auto;
  margin-left: auto; }

.panel-default.widget_search {
  border: none; }

.override .nopad_all, .override .nopad_top {
  padding-top: 0; }

.override .nopad_all, .override .nopad_bottom {
  padding-bottom: 0; }

.override .nopad_all, .override .nopad_left {
  padding-left: 0; }

.override .nopad_all, .override .nopad_right {
  padding-right: 0; }

.override .nopad_full_width {
  max-width: none; }

.intro,
.outro {
  font-size: 1rem; }

.vid .intro {
  padding-bottom: 0; }

.vid .outro {
  padding-top: 0; }

@media (max-width: 780px) {
  .media,
  .t_and_i,
  .avs_default {
    padding: 2rem; }
    .media .nopad_all, .media .nopad_top,
    .t_and_i .nopad_all,
    .t_and_i .nopad_top,
    .avs_default .nopad_all,
    .avs_default .nopad_top {
      padding-top: 0; }
    .media .nopad_all, .media .nopad_bottom,
    .t_and_i .nopad_all,
    .t_and_i .nopad_bottom,
    .avs_default .nopad_all,
    .avs_default .nopad_bottom {
      padding-bottom: 0; }
    .media .nopad_all, .media .nopad_left,
    .t_and_i .nopad_all,
    .t_and_i .nopad_left,
    .avs_default .nopad_all,
    .avs_default .nopad_left {
      padding-left: 0; }
    .media .nopad_all, .media .nopad_right,
    .t_and_i .nopad_all,
    .t_and_i .nopad_right,
    .avs_default .nopad_all,
    .avs_default .nopad_right {
      padding-right: 0; }
    .media .nopad_full_width,
    .t_and_i .nopad_full_width,
    .avs_default .nopad_full_width {
      max-width: none; } }

.override .woocommerce .products ul,
.override .woocommerce ul.products {
  padding-top: 5%; }

.override .woocommerce-MyAccount-navigation {
  width: 33%;
  display: inline-block;
  vertical-align: top; }
  .override .woocommerce-MyAccount-navigation li {
    width: 100%;
    margin: 0;
    padding: 0; }
    .override .woocommerce-MyAccount-navigation li a {
      width: 100%;
      text-align: left; }

.override .woocommerce-MyAccount-content {
  width: 66%;
  display: inline-block;
  vertical-align: top; }

.override p.woocommerce-thankyou-order-received {
  display: block;
  padding: 2em;
  width: 100%;
  text-align: center;
  background: #e1f3e1;
  margin-bottom: 2em;
  border-radius: 0.15em; }

.override .woocommerce div.product form.cart, .override .woocommerce div.product p.cart {
  margin-top: 1em; }

.products_container {
  padding: 5%;
  margin: 0 auto; }

.woocommerce ul.products li.product .button {
  font-size: .8rem; }

.woocommerce aside {
  padding: 1.618em;
  background: #bababa;
  color: #eee;
  font-size: .85rem; }
  .woocommerce aside a {
    color: #fff; }
  .woocommerce aside .inline-block {
    padding: 1.618em; }
  .woocommerce aside .widget_product_categories ul {
    margin: 1em 0 0;
    font-size: 1.2rem;
    list-style: none;
    padding: 0; }
    .woocommerce aside .widget_product_categories ul ul {
      margin: .618rem 0;
      font-size: .88em; }
      .woocommerce aside .widget_product_categories ul ul li:last-child {
        margin-bottom: 1.618em; }
      .woocommerce aside .widget_product_categories ul ul li {
        margin-left: .618em; }
        .woocommerce aside .widget_product_categories ul ul li a::before {
          content: '- '; }
    .woocommerce aside .widget_product_categories ul li {
      width: 100%; }
      .woocommerce aside .widget_product_categories ul li a {
        color: #aaa; }
      .woocommerce aside .widget_product_categories ul li.current-cat a {
        color: #fff; }
  .woocommerce aside h1,
  .woocommerce aside h2,
  .woocommerce aside h3,
  .woocommerce aside h4,
  .woocommerce aside h5,
  .woocommerce aside h6 {
    font-family: "Open Sans", Verdana, Geneva, sans-serif;
    font-weight: normal; }
  .woocommerce aside.light {
    background: #333333;
    color: #bababa; }
    .woocommerce aside.light a {
      color: #fff; }
    .woocommerce aside.light .widget_product_categories ul li a {
      color: #f2f2f2; }
    .woocommerce aside.light .widget_product_categories ul li.current-cat a {
      color: gray; }
  .woocommerce aside.dark {
    background: #f2f2f2;
    color: #555; }
    .woocommerce aside.dark a {
      color: #4d4d4d; }
    .woocommerce aside.dark .widget_product_categories ul li a {
      color: #333333; }
    .woocommerce aside.dark .widget_product_categories ul li.current-cat a {
      color: gray; }

.override .woocommerce span.onsale {
  -webkit-transform: rotateZ(10deg);
  -ms-transform: rotate(10deg);
  transform: rotateZ(10deg);
  min-height: 3.236rem;
  min-width: 3.6rem;
  background-color: #9746b3;
  font-size: .7rem;
  text-transform: uppercase;
  line-height: 3.236rem; }

@media (min-width: 780px) {
  .woocommerce aside > div {
    width: 50%; } }

@media (min-width: 769px) {
  .woocommerce aside > div {
    width: 33%;
    padding-right: 2em; }
  .woocommerce div.product div.images {
    padding-right: 1.6vw; }
  .woocommerce div.product div.summary {
    padding-left: 1.6vw; }
    .woocommerce div.product div.summary form.cart {
      padding: 1.618em 0;
      border: 1px dotted #bababa;
      border-width: 1px 0;
      margin: 1.618em 0; }
      .woocommerce div.product div.summary form.cart table {
        margin-bottom: 1em; }
  .woocommerce div.product div.images, .woocommerce div.product div.summary {
    padding-bottom: 1.6vw;
    width: 50%; } }

.override .woocommerce ul.products li.product .price,
.override .woocommerce div.product p.price,
.override .woocommerce div.product span.price {
  color: #47b346; }

.override .woocommerce #respond input#submit.alt,
.override .woocommerce a.button.alt,
.override .woocommerce button.button.alt,
.override .woocommerce input.button.alt {
  background-color: #47b346;
  padding: 0.5rem 0.75rem;
  font-size: 1rem; }
  .override .woocommerce #respond input#submit.alt:hover,
  .override .woocommerce a.button.alt:hover,
  .override .woocommerce button.button.alt:hover,
  .override .woocommerce input.button.alt:hover {
    background-color: #69c468; }
  .override .woocommerce #respond input#submit.alt:active,
  .override .woocommerce a.button.alt:active,
  .override .woocommerce button.button.alt:active,
  .override .woocommerce input.button.alt:active {
    background-color: #388e38; }

.override .woocommerce #respond input#submit, .override .woocommerce a.button, .override .woocommerce button.button, .override .woocommerce input.button {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: #b3b3b3; }

.override .woocommerce #respond input#submit.disabled,
.override .woocommerce #respond input#submit:disabled,
.override .woocommerce #respond input#submit:disabled[disabled],
.override .woocommerce a.button.disabled,
.override .woocommerce a.button:disabled,
.override .woocommerce a.button:disabled[disabled],
.override .woocommerce button.button.disabled,
.override .woocommerce button.button:disabled,
.override .woocommerce button.button:disabled[disabled],
.override .woocommerce input.button.disabled,
.override .woocommerce input.button:disabled,
.override .woocommerce input.button:disabled[disabled] {
  color: #b3b3b3; }

@media (min-width: 1600px) {
  .woocommerce .sidebar {
    position: relative; }
    .woocommerce .sidebar .products_container {
      width: 100%;
      display: block;
      padding-right: 25rem;
      padding-right: calc(30rem + 5%); }
    .woocommerce .sidebar aside {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 25rem;
      overflow-y: auto; }
      .woocommerce .sidebar aside > div {
        width: 100%;
        margin-bottom: 1.618em;
        padding-bottom: 1.618em; }
      .woocommerce .sidebar aside.dark > div {
        border-bottom: 1px dotted gray; }
      .woocommerce .sidebar aside.light > div {
        border-bottom: 1px dotted gray; } }

.dark .light p, .dark .light li, .light p, .light li {
  color: #e8e8e8; }

nav.sticky ul li a {
  color: #ffffff; }
