.content.main,
.lazyload,
.lazyloaded,
.video.controls {
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body.chrome {
  -webkit-font-smoothing: antialiased; }

html.contained {
  background-color: #333; }
  html.contained body {
    background: transparent; }
  html.contained #wrapper {
    max-width: 65em;
    margin: 0 auto;
    overflow: hidden; }

#wrapper {
  z-index: -2;
  overflow: hidden; }

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0; }

.clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.sticky {
  font-style: normal; }

.entry-content img {
  margin: 0 0 1.5em; }

.alignleft,
.alignright,
img.alignleft,
img.alignright {
  max-width: 55%;
  margin-bottom: 1em; }

.alignleft,
img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.alignright,
img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.alignnone,
img.alignnone {
  margin: 1em 0 1.618em;
  display: inline-block; }

.aligncenter:first-child,
.alignleft:first-child,
.alignnone:first-child,
.alignright:first-child,
img.aligncenter:first-child,
img.alignleft:first-child,
img.alignnone:first-child,
img.alignright:first-child {
  margin-top: 0; }

.aligncenter:last-child,
.alignleft:last-child,
.alignnone:last-child,
.alignright:last-child,
img.aligncenter:last-child,
img.alignleft:last-child,
img.alignnone:last-child,
img.alignright:last-child {
  margin-bottom: 0; }

.image_full {
  margin: 0 auto; }

.p-gall .owl-carousel .owl-item img {
  width: auto;
  height: 10em; }

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  max-width: 100%; }
  .wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0; }
  .wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 0.75em;
    margin: 0;
    padding: .75em 1em 1.25em;
    text-align: center; }

.wp-smiley {
  margin: 0 !important;
  max-height: 1em; }

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left; }

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right; }

figure {
  margin: 0;
  padding: 0.5em 0; }

/*Wordpress editor styles end*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

div:empty {
  display: none; }

.wp-video {
  margin: 1em auto; }

.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.embed-container {
  margin: 1.618em 0;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: 0; }
  .embed-container:first-child {
    margin-top: 0; }
  .embed-container:last-child {
    margin-bottom: 0; }

.media-element .embed-container:first-child {
  margin-top: 1.618em; }

.media-element .embed-container:last-child {
  margin-bottom: 1.618em; }

.media-element:first-child .embed-container:first-child {
  margin-top: 0; }

.media-element:last-child .embed-container:first-child {
  margin-top: 0; }

.wp-audio-shortcode {
  margin: 1em 0; }
  .wp-audio-shortcode:first-child {
    margin-top: 0; }
  .wp-audio-shortcode:last-child {
    margin-bottom: 0; }

.override .mejs-container,
.override .mejs-container
.mejs-controls,
.override .mejs-embed,
.override .mejs-embed body {
  background: transparent; }

.override .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: rgba(255, 255, 255, 0.3); }

.override .mejs-controls .mejs-time-rail .mejs-time-current {
  background: #ffffff; }

.override .mejs-container {
  margin: 1em 0;
  border-radius: 0.15em;
  overflow: hidden;
  background: #4d4d4d; }
  .override .mejs-container:first-child {
    margin-top: 0; }
  .override .mejs-container:last-child {
    margin-bottom: 0; }
  .override .mejs-container div:empty {
    display: block; }

.s_over {
  position: relative;
  display: inline-block;
  min-width: 100%;
  font-size: 1rem; }

@media (min-width: 992px) {
  .media {
    max-width: 75%;
    margin: 0 auto; } }

iframe {
  width: 100%;
  border: none; }
  iframe.fb_like {
    width: 96px; }

video {
  max-width: 100%; }

.scrollme .content {
  position: relative;
  z-index: 10; }

.text {
  position: relative; }

.media,
.txt_blk {
  padding: 2rem; }

.media .intro,
.media .outro {
  padding-top: 0;
  padding-bottom: 0; }

.text {
  position: relative; }

.txt_blk {
  max-width: 40rem;
  margin: auto;
  position: relative;
  z-index: 10;
  margin: 0 auto; }

.txt_blk.page_nav {
  padding: 0.5em;
  background: #fafafa;
  max-width: 100%;
  font-size: 0.75em; }
  .txt_blk.page_nav .alignleft,
  .txt_blk.page_nav .alignright {
    margin: 0;
    padding: 1em;
    max-width: 50%; }
  .txt_blk.page_nav.tags {
    background: #f2f2f2;
    text-align: center; }
    .txt_blk.page_nav.tags a {
      padding: .2rem .6rem;
      background: #f2f2f2;
      margin: .3rem .5rem .3rem 0;
      border: 1px solid #4d4d4d;
      border-color: #4d4d4d;
      color: #4d4d4d;
      display: inline-block;
      border-radius: 0.15em; }
      .txt_blk.page_nav.tags a:hover {
        background: #fff; }

.slice {
  position: relative;
  background: #fff;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  line-height: 0;
  font-size: 0;
  padding: .1px;
  margin: -.2px; }
  .slice .woocommerce {
    line-height: 1.5; }

.txt_blk,
.text .txt_blk,
.two_column .two_column {
  width: 100%;
  max-width: 40rem;
  max-width: calc(40rem + 4.85vw + 4.85vw); }

.text .txt_blk.normal {
  width: 100%;
  max-width: none; }
  .text .txt_blk.normal .text_content {
    max-width: 40rem;
    margin: 0 auto;
    line-height: 1.5; }
  .text .txt_blk.normal.nopad_full_width .text_content {
    max-width: none; }

@media (max-width: 780px) {
  .text .txt_blk.soft_left.avm_10, .text .txt_blk.soft_left.avm_15, .text .txt_blk.soft_left.avm_25, .text .txt_blk.soft_right.avm_10, .text .txt_blk.soft_right.avm_15, .text .txt_blk.soft_right.avm_25, .text .txt_blk.soft_centre.avm_10, .text .txt_blk.soft_centre.avm_15, .text .txt_blk.soft_centre.avm_25, .p-gall .txt_blk.soft_left.avm_10, .p-gall .txt_blk.soft_left.avm_15, .p-gall .txt_blk.soft_left.avm_25, .p-gall .txt_blk.soft_right.avm_10, .p-gall .txt_blk.soft_right.avm_15, .p-gall .txt_blk.soft_right.avm_25, .p-gall .txt_blk.soft_centre.avm_10, .p-gall .txt_blk.soft_centre.avm_15, .p-gall .txt_blk.soft_centre.avm_25 {
    width: 80%;
    min-width: 80%;
    margin-left: 10%;
    border-radius: 0.15em; }
  .text .txt_blk.ocset.hard_left.avm_10, .text .txt_blk.ocset.hard_left.avm_15, .text .txt_blk.ocset.hard_left.avm_25, .p-gall .txt_blk.ocset.hard_left.avm_10, .p-gall .txt_blk.ocset.hard_left.avm_15, .p-gall .txt_blk.ocset.hard_left.avm_25 {
    width: 90%;
    min-width: 90%;
    margin-left: 0;
    border-radius: 0 0.15em 0.15em 0; }
  .text .txt_blk.ocset.hard_right.avm_10, .text .txt_blk.ocset.hard_right.avm_15, .text .txt_blk.ocset.hard_right.avm_25, .p-gall .txt_blk.ocset.hard_right.avm_10, .p-gall .txt_blk.ocset.hard_right.avm_15, .p-gall .txt_blk.ocset.hard_right.avm_25 {
    width: 90%;
    min-width: 90%;
    margin-left: 10%;
    border-radius: 0.15em 0 0 0.15em; } }

@media (min-width: 780px) {
  .text .txt_blk {
    max-width: 40rem;
    max-width: calc(40rem + 4.85vw + 4.85vw); }
    .text .txt_blk.hard_left, .text .txt_blk.hard_right, .text .txt_blk.soft_left, .text .txt_blk.soft_right, .text .txt_blk.soft_centre {
      max-width: none;
      min-width: 0; }
    .text .txt_blk.hard_left, .text .txt_blk.hard_right, .text .txt_blk.soft_left, .text .txt_blk.soft_right {
      width: 50%; }
    .text .txt_blk.soft_left.avm_10, .text .txt_blk.soft_left.avm_15, .text .txt_blk.soft_left.avm_25, .text .txt_blk.soft_right.avm_10, .text .txt_blk.soft_right.avm_15, .text .txt_blk.soft_right.avm_25, .text .txt_blk.soft_centre.avm_10, .text .txt_blk.soft_centre.avm_15, .text .txt_blk.soft_centre.avm_25 {
      border-radius: 0.15em; }
    .text .txt_blk.hard_left {
      margin-left: 0; }
      .text .txt_blk.hard_left.avm_10, .text .txt_blk.hard_left.avm_15, .text .txt_blk.hard_left.avm_25 {
        border-radius: 0 0.15em 0.15em 0; }
    .text .txt_blk.hard_right.avm_10, .text .txt_blk.hard_right.avm_15, .text .txt_blk.hard_right.avm_25 {
      border-radius: 0.15em 0 0 0.15em; }
    .text .txt_blk.soft_right {
      width: 50%;
      min-width: 50%;
      margin-left: 40%; }
      .text .txt_blk.soft_right.avm_10, .text .txt_blk.soft_right.avm_15, .text .txt_blk.soft_right.avm_25 {
        border-radius: 0.15em; }
    .text .txt_blk.soft_left {
      width: 50%;
      margin-left: 10%; }
      .text .txt_blk.soft_left.avm_10, .text .txt_blk.soft_left.avm_15, .text .txt_blk.soft_left.avm_25 {
        border-radius: 0.15em; }
    .text .txt_blk.soft_centre {
      max-width: 80%;
      min-width: 80%;
      margin-left: 10%;
      width: 100%; }
    .text .txt_blk.hard_right {
      margin-left: 50%; } }

@media (min-width: 1600px) {
  .txt_blk, .media {
    padding-left: 4.85vw;
    padding-right: 4.85vw; }
  .full .text .txt_blk.hard_left, .full .text .txt_blk.hard_right, .full .text .txt_blk.soft_left, .full .text .txt_blk.soft_right {
    max-width: none;
    width: 33%;
    min-width: 33%; }
  .full .text .txt_blk.soft_left {
    margin-left: 17%; }
  .full .text .txt_blk.soft_centre {
    width: 66%;
    min-width: 66%;
    margin-left: 17%; }
  .full .text .txt_blk.soft_right {
    margin-left: 50%; }
  .full .text .txt_blk.hard_right {
    margin-left: 67%; } }

@media (min-width: 1900px) {
  .full .text .txt_blk.soft_centre {
    width: 40rem;
    min-width: 0;
    margin-left: calc(50% - (40rem / 2)); } }

.avs_tighter {
  padding-top: .5rem;
  padding-bottom: .5rem; }

.avs_tight {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.avs_default {
  padding-top: 4.85vw;
  padding-bottom: 4.85vw; }

.avs_10 {
  padding-top: 10%;
  padding-top: 10vw;
  padding-bottom: 10%;
  padding-bottom: 10vw; }

.avs_15 {
  padding-top: 15%;
  padding-top: 15vw;
  padding-bottom: 15%;
  padding-bottom: 15vw; }

.avs_25 {
  padding-top: 25%;
  padding-top: 20vw;
  padding-bottom: 25%;
  padding-bottom: 20vw; }

.avs_full_screen {
  min-height: 100vh; }
  .avs_full_screen:not(.media) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .avs_full_screen.media {
    position: relative; }
    .avs_full_screen.media .media-container {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: 100%; }

.override .avm_ {
  margin-top: 0;
  margin-bottom: 0; }
  .override .avm_default {
    margin-top: 0;
    margin-bottom: 0; }
  .override .avm_5 {
    margin-top: 5%;
    margin-top: 5vw;
    margin-bottom: 5%;
    margin-bottom: 5vw; }
  .override .avm_10 {
    margin-top: 10%;
    margin-top: 10vw;
    margin-bottom: 10%;
    margin-bottom: 10vw; }
  .override .avm_15 {
    margin-top: 15%;
    margin-top: 15vw;
    margin-bottom: 15%;
    margin-bottom: 15vw; }
  .override .avm_25 {
    margin-top: 25%;
    margin-top: 20vw;
    margin-bottom: 25%;
    margin-bottom: 20vw; }

.override .avs_full_screen5.soft_centre, .override .avs_full_screen10.soft_centre, .override .avs_full_screen15.soft_centre, .override .avs_full_screen25.soft_centre {
  border-radius: 0.15em; }

@media screen and (max-width: 780px) {
  header.top.parallax .avs_default {
    padding-top: calc(4.85vw + 3rem + 4.85vw);
    padding-bottom: 4.85vw; }
  header.top.parallax .avs_10 {
    padding-top: calc(10% + 3rem);
    padding-top: calc(10vw + 3rem); }
  header.top.parallax .avs_15 {
    padding-top: calc(15% + 3rem);
    padding-top: calc(15vw + 3rem); }
  header.top.parallax .avs_25 {
    padding-top: calc(25% + 3rem);
    padding-top: calc(25vw + 3rem); }
  header.top.parallax .avs_full_screen {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 992px) {
  header.top .hat, header.top #header {
    min-height: calc( 4.85vw + 3rem + 4.85vw); }
  header.top .branding {
    top: 4.85vw;
    left: 4.85vw; }
  #tbc-nav-icon {
    right: 4.85vw;
    top: 4.85vw; }
    #tbc-nav-icon.is-hidden.active, #tbc-nav-icon.is-visible {
      top: 4.85vw; } }

.full .text .txt_blk.nopad_full_width {
  max-width: none;
  width: 100%;
  margin-left: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0; }
  .full .text .txt_blk.nopad_full_width .text_content {
    max-width: none; }

.navbar {
  margin: 0; }

.inline-block {
  display: inline-block;
  float: none;
  max-width: 100%;
  margin-left: -.2em;
  padding: 1.6vw 3.2vw 1.6vw 0; }

.vbottom {
  vertical-align: bottom; }

.vtop {
  vertical-align: top; }

.vbaseline {
  vertical-align: baseline; }

.vmiddle {
  vertical-align: middle; }

.feat_item {
  margin: 0; }

ul.tribe-list-widget {
  padding-left: 0;
  list-style: none; }
  ul.tribe-list-widget li {
    margin: 1.618em 0; }
    ul.tribe-list-widget li:first-child {
      margin-top: 0; }
    ul.tribe-list-widget li h5 {
      margin: 0; }

.justify-container {
  text-align: justify;
  font-size: 0; }
  .justify-container > * {
    text-align: left;
    font-size: medium; }
  .justify-container .justify-item {
    text-align: left;
    display: inline-block; }
  .justify-container:last-child:after {
    content: ' ';
    width: 100%;
    display: inline-block; }

.container {
  margin-right: auto;
  margin-left: auto; }

.panel-default.widget_search {
  border: none; }

.override .nopad_all, .override .nopad_top {
  padding-top: 0; }

.override .nopad_all, .override .nopad_bottom {
  padding-bottom: 0; }

.override .nopad_all, .override .nopad_left {
  padding-left: 0; }

.override .nopad_all, .override .nopad_right {
  padding-right: 0; }

.override .nopad_full_width {
  max-width: none; }

.intro,
.outro {
  font-size: 1rem; }

.vid .intro {
  padding-bottom: 0; }

.vid .outro {
  padding-top: 0; }

@media (max-width: 780px) {
  .media,
  .t_and_i,
  .avs_default {
    padding: 2rem; }
    .media .nopad_all, .media .nopad_top,
    .t_and_i .nopad_all,
    .t_and_i .nopad_top,
    .avs_default .nopad_all,
    .avs_default .nopad_top {
      padding-top: 0; }
    .media .nopad_all, .media .nopad_bottom,
    .t_and_i .nopad_all,
    .t_and_i .nopad_bottom,
    .avs_default .nopad_all,
    .avs_default .nopad_bottom {
      padding-bottom: 0; }
    .media .nopad_all, .media .nopad_left,
    .t_and_i .nopad_all,
    .t_and_i .nopad_left,
    .avs_default .nopad_all,
    .avs_default .nopad_left {
      padding-left: 0; }
    .media .nopad_all, .media .nopad_right,
    .t_and_i .nopad_all,
    .t_and_i .nopad_right,
    .avs_default .nopad_all,
    .avs_default .nopad_right {
      padding-right: 0; }
    .media .nopad_full_width,
    .t_and_i .nopad_full_width,
    .avs_default .nopad_full_width {
      max-width: none; } }

#event_header:after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background: rgba(255, 255, 255, 0.7); }

#brandchap .datepicker.dropdown-menu {
  z-index: 10000 !important; }

#brandchap #tribe-events-pg-template .tribe-events-content h1, #brandchap #tribe-events-pg-template .tribe-events-content h2, #brandchap #tribe-events-pg-template .tribe-events-content h3, #brandchap #tribe-events-pg-template .tribe-events-content h4, #brandchap #tribe-events-pg-template .tribe-events-content h5, #brandchap #tribe-events-pg-template .tribe-events-content h6,
#brandchap .tribe-events-after-html h1,
#brandchap .tribe-events-after-html h2,
#brandchap .tribe-events-after-html h3,
#brandchap .tribe-events-after-html h4,
#brandchap .tribe-events-after-html h5,
#brandchap .tribe-events-after-html h6,
#brandchap .tribe-events-before-html h1,
#brandchap .tribe-events-before-html h2,
#brandchap .tribe-events-before-html h3,
#brandchap .tribe-events-before-html h4,
#brandchap .tribe-events-before-html h5,
#brandchap .tribe-events-before-html h6 {
  line-height: 1.1;
  padding: .618em 0 .32em;
  margin: 0; }

#brandchap #tribe-events-pg-template .tribe-events-content h1,
#brandchap .tribe-events-after-html h1,
#brandchap .tribe-events-before-html h1 {
  font-size: 1.618em; }

#brandchap #tribe-events-pg-template .tribe-events-content h2,
#brandchap .tribe-events-after-html h2,
#brandchap .tribe-events-before-html h2 {
  font-size: 1.32em; }

#brandchap #tribe-events-pg-template .tribe-events-content h3,
#brandchap .tribe-events-after-html h3,
#brandchap .tribe-events-before-html h3 {
  font-size: 1.18em; }

#brandchap #tribe-events-pg-template .tribe-events-content h4, #brandchap #tribe-events-pg-template .tribe-events-content h5, #brandchap #tribe-events-pg-template .tribe-events-content h6,
#brandchap .tribe-events-after-html h4,
#brandchap .tribe-events-after-html h5,
#brandchap .tribe-events-after-html h6,
#brandchap .tribe-events-before-html h4,
#brandchap .tribe-events-before-html h5,
#brandchap .tribe-events-before-html h6 {
  font-size: 1.1em; }

#brandchap .tribe-events-list-separator-month {
  padding: .75rem; }

#brandchap .tribe-bar-disabled #tribe-bar-form {
  border-radius: 0 0 3px 3px; }

#brandchap .tribe-bar-disabled .tribe-bar-views-inner {
  border-radius: 0 0 3px 0; }

#brandchap #tribe-geo-map-wrapper {
  margin-bottom: 0;
  padding: 0;
  border: 0; }

#brandchap .events-list .tribe-events-loop,
#brandchap .single-tribe_organizer .tribe-events-loop,
#brandchap .single-tribe_venue .tribe-events-loop,
#brandchap .tribe-events-day .tribe-events-loop {
  max-width: 40rem;
  margin: auto; }

#brandchap .tribe-events-list .tribe-events-content {
  font-size: .85em;
  padding-top: 1rem; }

#brandchap .single-tribe_events .tribe-events-single-event-title {
  line-height: 1.1; }

#brandchap .single-tribe_events .tribe-events-schedule .recurringinfo {
  font-size: .8rem; }
  #brandchap .single-tribe_events .tribe-events-schedule .recurringinfo .tribe-events-divider {
    padding: 0 .5rem; }

#brandchap .tribe-events-schedule h2 {
  display: inline-block;
  font-size: 1.2em;
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  margin-bottom: 0;
  vertical-align: middle; }

#brandchap .tribe-orders-list {
  background: #fafafa;
  padding: 1.618em; }
  #brandchap .tribe-orders-list input[value=""], #brandchap .tribe-orders-list input:not([value]) {
    border: 1px solid #ffa800; }

#brandchap .tribe-events-notices {
  text-shadow: none; }

#brandchap .list-attendee {
  margin-top: 0; }

#brandchap .tribe-tickets-meta {
  display: inline-block;
  width: calc(50% - .25em);
  padding: .75em; }

#brandchap .tickets_description {
  font-size: .85rem; }

#brandchap .tribe-event-tickets-plus-meta input[type="text"], #brandchap .tribe-event-tickets-plus-meta input[type="email"], #brandchap .tribe-event-tickets-plus-meta input[type="url"], #brandchap .tribe-event-tickets-plus-meta input[type="password"], #brandchap .tribe-event-tickets-plus-meta textarea {
  width: 100%; }

#brandchap .tribe-submit-tickets-form button {
  background-color: #19b016;
  color: #fff;
  border-radius: 0.15em; }
  #brandchap .tribe-submit-tickets-form button:hover {
    background-color: #1fdd1c;
    cursor: pointer; }

#brandchap #tribe-events-footer .tribe-events-sub-nav,
#brandchap #tribe-events-header .tribe-events-sub-nav {
  font-size: .8rem; }
  #brandchap #tribe-events-footer .tribe-events-sub-nav a,
  #brandchap #tribe-events-header .tribe-events-sub-nav a {
    color: gray; }

#brandchap .tribe-events-list .tribe-events-loop .tribe-event-featured, #brandchap .tribe-events-map .tribe-events-loop .tribe-event-featured {
  padding: 0 1.5rem 1.5rem;
  margin: 1.5rem 0; }
  #brandchap .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-image, #brandchap .tribe-events-map .tribe-events-loop .tribe-event-featured .tribe-events-event-image {
    max-width: none;
    width: 100%;
    margin-left: -1.5rem;
    width: calc(100% + 3rem); }

#brandchap.override .tribe-events-loop .tribe-events-event-cost button {
  font-size: 1em;
  padding: 8px 13px;
  border-radius: 0 0.2rem 0.2rem 0;
  border: 1px solid #304553; }
  #brandchap.override .tribe-events-loop .tribe-events-event-cost button:hover {
    cursor: pointer; }

.tribe-events-list .tribe-events-loop .tribe-events-event-image {
  padding-top: 0;
  width: 100%;
  margin: 1rem 0; }

#brandchap .tribe-events-list.tribe-events-photo .tribe-event-featured {
  margin: 0 0 1.5rem;
  padding: 0; }
  #brandchap .tribe-events-list.tribe-events-photo .tribe-event-featured .tribe-events-event-image {
    margin-left: 0;
    width: 100%; }

@media (min-width: 780px) {
  #brandchap .tribe-events-venue {
    max-width: 90%;
    margin: 0 auto; }
  #brandchap #tribe-events-content {
    padding: 3% 7%; }
    #brandchap #tribe-events-content.tribe-events-single {
      max-width: 40rem;
      margin: 3% auto;
      padding: 0; } }

#brandchap #tribe-events-pg-template, #brandchap .tribe-events-pg-template {
  max-width: none; }

@media (max-width: 780px) {
  .tribe-events-sub-nav li a {
    background: transparent; } }

@media (max-width: 992px) {
  .tribe-events-list .tribe-events-loop .tribe-events-event-image {
    width: 100%; } }

@media (min-width: 992px) {
  .tribe-events-list .tribe-events-loop .tribe-events-event-image {
    width: 40%;
    margin: 1rem 2rem 0 0; } }

@media (min-width: 1900px) {
  .tribe-events-list .tribe-events-loop .tribe-events-event-image {
    width: 30%; } }

#brandchap .tribe-events-list .type-tribe_events {
  padding: 1em;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.02); }
  #brandchap .tribe-events-list .type-tribe_events:nth-child(odd) {
    background: rgba(0, 0, 0, 0.02); }

@supports ((display: -ms-grid) or (display: grid)) {
  @media (min-width: 460px) {
    #brandchap .tribe-events-list .type-tribe_events {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
      grid-gap: 1em;
      padding: 2em; }
      #brandchap .tribe-events-list .type-tribe_events > * {
        padding: 0;
        margin: 0; }
      #brandchap .tribe-events-list .type-tribe_events .tribe-events-list-event-title {
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        grid-column: 1 / span 6;
        -ms-grid-row: 1;
        grid-row: 1;
        font-size: 1.3rem; }
      #brandchap .tribe-events-list .type-tribe_events .tribe-events-event-cost {
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        grid-column: 1 / span 6;
        -ms-grid-row: 4;
        grid-row: 4;
        -ms-grid-column-align: end;
        justify-self: end; }
      #brandchap .tribe-events-list .type-tribe_events .tribe-events-event-image {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1 / span 3;
        -ms-grid-row: 2;
        grid-row: 2;
        width: 100%;
        margin: 0; }
      #brandchap .tribe-events-list .type-tribe_events .tribe-events-event-meta {
        -ms-grid-column: 4;
        -ms-grid-column-span: 3;
        grid-column: 4 / span 3;
        -ms-grid-row: 2;
        grid-row: 2;
        background: rgba(0, 0, 0, 0.06);
        padding: .75em 0 0;
        border: 0; }
      #brandchap .tribe-events-list .type-tribe_events .tribe-events-content {
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        grid-column: 1 / span 6;
        -ms-grid-row: 3;
        grid-row: 3;
        padding: 0;
        margin: 0;
        font-size: .75rem; } }
  @media (min-width: 540px) {
    #brandchap .tribe-events-list .type-tribe_events .tribe-events-event-image {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1 / span 2;
      -ms-grid-row: 2;
      grid-row: 2;
      width: 100%;
      margin: 0; }
    #brandchap .tribe-events-list .type-tribe_events .tribe-events-event-meta {
      -ms-grid-column: 3;
      -ms-grid-column-span: 4;
      grid-column: 3 / span 4;
      -ms-grid-row: 2;
      grid-row: 2; }
    #brandchap .tribe-events-list .type-tribe_events .tribe-events-content {
      -ms-grid-column: 1;
      -ms-grid-column-span: 6;
      grid-column: 1 / span 6;
      -ms-grid-row: 3;
      grid-row: 3; }
    #brandchap .tribe-events-list .type-tribe_events .tribe-events-event-cost {
      -ms-grid-column: 1;
      -ms-grid-column-span: 6;
      grid-column: 1 / span 6;
      -ms-grid-row: 4;
      grid-row: 4; } }
  @media (min-width: 620px) {
    #brandchap .tribe-events-list .type-tribe_events .tribe-events-event-image {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1 / span 2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 3;
      grid-row: 2 / span 3; }
    #brandchap .tribe-events-list .type-tribe_events .tribe-events-list-event-title {
      -ms-grid-column: 1;
      -ms-grid-column-span: 6;
      grid-column: 1 / span 6;
      -ms-grid-row: 1;
      grid-row: 1; }
    #brandchap .tribe-events-list .type-tribe_events .tribe-events-event-meta {
      -ms-grid-column: 3;
      -ms-grid-column-span: 4;
      grid-column: 3 / span 4;
      -ms-grid-row: 2;
      grid-row: 2; }
    #brandchap .tribe-events-list .type-tribe_events .tribe-events-event-cost {
      -ms-grid-column: 3;
      -ms-grid-column-span: 4;
      grid-column: 3 / span 4;
      -ms-grid-row: 4;
      grid-row: 4;
      -ms-grid-column-align: start;
      justify-self: start; }
    #brandchap .tribe-events-list .type-tribe_events .tribe-events-content {
      -ms-grid-column: 3;
      -ms-grid-column-span: 4;
      grid-column: 3 / span 4;
      -ms-grid-row: 3;
      grid-row: 3; } }
  @media (min-width: 768px) {
    #brandchap .tribe-events-list .type-tribe_events .tribe-events-event-meta {
      background: transparent; } } }

.dark .light p, .dark .light li, .light p, .light li {
  color: #e8e8e8; }

nav.sticky ul li a {
  color: #ffffff; }
